.order-bill-actions .btn {
  font-size: 23px;
  /*width: 100%;*/
  padding: 5px;
}

.header-main-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-main .slogan {
  padding-top: 0;
}

.header-main__item-search {
  position: absolute;
  right: 0;
  top: 100%;
  padding: 5px 15px 10px 10px;
  background-color: #ca2162;
  border-radius: 0 0 7px 7px;
  z-index: 2;
}

.header-main__item-search {
  max-width: 469px;
  padding: 5px 25px 10px 25px;
  white-space: nowrap;
}

.header-main__item-order {
  white-space: nowrap;
}

.header-main .to-order a {
  margin-top: 0;
}

.header-main__item--menu {
  flex-grow: 3;
  display: flex;
  justify-content: space-between;
  padding-right: 45px;
}

.header-fixed .mainnav__item {
  width: auto;
}

.mainnav__item .mainnav__title {
  white-space: nowrap;
}

.header-fixed .header-main__item-search {
  /* float: right; */
  position: relative;
  padding: 0 0 0 45px;
  background: none;
}

.mainnavsub {
  text-align: left;
}

.header-top .seocontext {
  padding-left: 125px;
}

.progress {
  margin-top: 1rem;
  margin-left: 0;
  background: #e1e1e1;
  text-align: center;
  /* width: 420px; */
  /* max-width: 420px; */
  /* min-width: 280px; */
  position: relative;
  overflow: visible;
  height: auto;
  border-radius: 0;
  box-shadow: none;
}

.progress__wrap {
  margin: 15px 0;
  font-family: merriweather;
  padding-right: 45px;
  padding-left: 30px;
  /* width: 500px; */
  width: 100%;
}

.progress__bar {
  background-color: #c82663;
  max-width: 100%;
  min-height: 1px;
  height: 5px;
  border-radius: 2px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.progress__count {
  position: absolute;
  top: -3px;
  width: 3px;
  height: 11px;
  background-color: #c82663;
}

.progress__count--one {
  left: calc(100% * 1500 / 3500);
}

.progress__count--two {
  left: calc(100% * 2500 / 3500);
}

.progress__count--three {
  left: 100%;
}

.progress__info {
  position: absolute;
  top: 12px;
  font-size: 12px;
  white-space: nowrap;
  font-style: normal;
  color: #a6a6a6;
}

.progress__info i {
  font-style: normal;
  color: #000;
  margin-right: 4px;
}

.progress__info--begin {
  left: calc(0% - 24px);
}

.progress__info--one {
  left: calc((100% * 1500 / 3500) - 30px);
}

.progress__info--two {
  left: calc((100% * 2500 / 3500) - 30px);
}

.progress__info--three {
  left: calc(100% - 30px);
}

.progress__head {
  font-size: 18px;
}

.qcart_new .progress__head {
  font-size: 16px;
}

.progress__head span {
  font-weight: bold;
}

.qcart_new .progress__wrap {
  padding: 0 30px 45px;
  text-align: left;
  width: 100%;
  /* padding-left: 0; */
  /* padding-right: 0; */
  box-sizing: border-box;
  margin: 0;
}

.qcart_new .progress__info--three {
  left: calc(100% - 40px);
}

.b-section {
  font-family: 'PT Serif', serif;
  font-size: 14px;
  padding: 25px 0;
}

.b-section .container {
  width: 100%;
}

.text-black {
  color: #000;
}

.b-section h2,
.b-section h3,
.b-section h4,
.b-section h5 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
}

.b-section h5 {
  font-size: 19px;
}

.section-header {
  margin: 0 0 25px;
}

.section-header h1 {
  font-size: 40px;
  line-height: 1.4;
  color: #000;
  margin: 0 0 12px;
  font-family: 'PT Serif', serif;
}

.section-header h2 {
  font-size: 30px;
  line-height: 1.4;
  color: #000;
  margin: 0 0 12px;
  font-family: 'PT Serif', serif;
}

.section-legend {
  font-size: 14px;
  color: #000;
  max-width: 540px;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
}

.delivery-step {
  background: #e9d4c0;
  padding: 50px;
  font-family: 'PT Sans', sans-serif;
}

.delivery-step .row {
  display: flex;
  justify-content: space-between;
  margin-left: -40px;
  margin-right: -40px;
}

.delivery-step__item {
  float: none;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  white-space: nowrap;
  position: relative;
}

.delivery-step__item:after {
  position: absolute;
  right: -45px;
  top: -7px;
  content: '';
  width: 38px;
  height: 129px;
  background-image: url(/images/icon-step-arrow.png);
  background-repeat: no-repeat;
}

.delivery-step__item:last-child:after {
  display: none;
}

.delivery-step__item .row {
  display: flex;
  justify-content: space-between;
}

.delivery-step__item .col-md-6 {
  padding-left: 0;
  padding-right: 0;
  float: none;
  width: auto;
}

.delivery-step__item-num {
  font-family: 'PT Serif', serif;
  font-size: 100px;
  color: #d5b091;
  position: relative;
  line-height: 1;
  padding-left: 0;
  padding-right: 30px;
}

.delivery-step__item-num:after {
  content: '/';
  font-size: 35px;
  line-height: 1;
  position: absolute;
  bottom: 8px;
  right: 14px;
}

.delivery-step__item-icon {
  position: relative;
  left: -10px;
  line-height: 1;
  margin-bottom: -10px;
}

.delivery-step__item-title {
  font-family: 'PT Serif', serif;
  font-size: 21px;
  font-weight: 700;
  color: #aa8261;
}

.delivery-step__item-descr {
  font-size: 14px;
  color: #010101;
}

.col-md-24 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 20%;
}

.delivery-options__item {
  font-size: 14px;
}

.delivery-options__icon {
  height: 64px;
  line-height: 64px;
}

.delivery-options__icon img {
  max-height: 100%;
  width: auto;
}

.delivery-options__title {
  font-size: 21px;
  font-weight: 700;
}

.row.row--35 {
  margin-left: -35px;
  margin-right: -35px;
}

.row.row--35>.col--35 {
  padding-left: 35px;
  padding-right: 35px;
}

.bg-gray {
  background: #f6f6f6;
}

.text-red {
  color: #c82663;
}

.icon-wallet__wrap {
  width: 64px;
  height: 64px;
  display: block;
  padding: 13px;
  border: 1px solid #c82663;
  border-radius: 8px;
  text-align: center;
  margin: 15px auto;
}

.b-section hr {
  border-top: 2px solid #dcdcdc;
  margin: 40px auto;
}

.tabs {
  /* max-width: 700px; */
  margin: 0 0 30px;
  border-top: 0;
  position: relative;
}

.tabs__caption {
  /* display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; */
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 25px;
  left: 0;
  /* margin: -1px 0 0 -1px; */
}

/* .tabs__caption li:last-child:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: -2px;
    z-index: -1;
    height: 5px;
    background: #7dca86;
}
.tabs__caption:after {
    content: '';
    display: table;
    clear: both;
} */

.tabs__caption li {
  /* padding: 9px 15px; */
  /* margin: 1px 0 0 1px; */
  /* background: #61af6a; */
  /* color: #fff; */
  position: relative;
  /* border: solid #61af6a; */
  /* border-width: 2px 2px 0; */
  /* border-radius: 5px 5px 0 0; */
  /* text-align: center; */
}

.tabs__caption li:not(.active) {
  cursor: pointer;
}

.tabs__caption li:not(.active):hover {
  /* background: #7dca86; */
  /* border-color: #7dca86; */
}

.tabs__caption .active {
  /* background: #fff; */
  /* color: #000; */
  /* border-color: #7dca86; */
}

.tabs__caption .active:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 5px;
  background: #fff;
}

.tabs__content {
  display: none;
  /* background: #fff; */
  /* border: 2px solid #7dca86; */
  /* border-radius: 0 5px 5px 5px; */
  /* padding: 7px 15px; */
  /* padding-left: 55px; */
}

.tabs__content.active {
  display: block;
}

.vertical .tabs__caption {
  float: left;
  display: block;
}

.vertical .tabs__caption li {
  float: none;
  /* border-width: 2px 0 2px 2px; */
  /* border-radius: 5px 0 0 5px; */
}

.vertical .tabs__caption li:last-child:before {
  display: none;
}

.vertical .tabs__caption .active:after {
  left: auto;
  top: 0;
  right: -2px;
  bottom: 0;
  width: 2px;
  height: auto;
}

.vertical .tabs__content {
  /* overflow: hidden; */
  min-height: 350px;
}

@media screen and (max-width: 650px) {
  .tabs__caption li {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  .vertical .tabs__caption {
    float: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .vertical .tabs__caption li {
    border-width: 2px 2px 0;
    border-radius: 5px 5px 0 0;
  }
  .vertical .tabs__caption li:last-child:before {
    display: block;
  }
  .vertical .tabs__caption .active:after {
    top: auto;
    bottom: -5px;
    left: 0;
    right: 0;
    width: auto;
    height: 5px;
    background: #fff;
  }
}

.tabs__link {
  white-space: nowrap;
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 16px;
  color: #c82663;
  padding: 21px 24px;
  margin-right: 15px;
  height: 115px;
}

.tabs__link span {
  border-bottom: 1px dashed #c82663;
}

.tabs__link:after {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 57.5px 0 57.5px 17px;
  border-color: transparent transparent transparent #f6f6f6;
}

.active .tabs__link {
  background: #f6f6f6;
  color: #000;
}

.active .tabs__link span {
  border-bottom-color: transparent;
}

.active .tabs__link:after {
  display: block;
}

.tabs__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px;
  width: 72px;
  height: 72px;
  position: relative;
}

.tabs__icon img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.tabs__title {
  display: inline-block;
  vertical-align: middle;
}

.tabs__content h3 {
  font-size: 21px;
  margin: 0 0 12px;
}

.table.table--noborder,
.table.table--noborder td {
  border: 0;
}

.table tr.table__odd {
  background-color: #f9f9f9;
}

.tabs__content .table &gt;
tbody &gt;
tr &gt;
td {
  padding: 12px;
}

.param-oglavl {
  padding: 0;
  margin: 0;
  list-style-type: none;
  line-height: 1.2;
}

.param-oglavl li {
  border-bottom: 2px solid #f4f4f4;
  position: relative;
  padding: 0;
  margin-bottom: 14px;
}

.param-oglavl li span {
  background-color: #fff;
  margin: 0;
}

.param-oglavl li:after {
  display: none;
}

.main-content .param-oglavl li {
  padding-left: 0;
}

.param-oglavl__title {
  bottom: -4px;
  position: relative;
  margin-right: 7em;
  padding-right: 2px;
}

.param-oglavl__name {
  bottom: -4px;
  position: absolute;
  right: 0;
  padding-left: 2px;
}

.tabs__content sup {
  font-weight: 700;
  font-size: 12px;
  top: -3px;
}

.tabs__content hr {
  border-top: 1px solid #dcdcdc;
  margin: 15px auto 25px;
}

.tabs__content .table {
  margin: 0 0 25px;
}

sup.text-red {
  color: #ff1212;
}

.table__title {
  font-size: 12px;
  color: #7b7b7b;
}

.qcart__actions {
  border-top: 0;
}