.order-bill-actions .btn {
    font-size: 23px;
    /*width: 100%;*/
    padding: 5px;
}

.header-main-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main .slogan {
    padding-top: 0;
}

.header-main__item-search {
    position: absolute;
    right: 0;
    top: 100%;
    padding: 5px 15px 10px 10px;
    background-color: #ca2162;
    border-radius: 0 0 7px 7px;
    z-index: 2;
}

.header-main__item-search {
    max-width: 469px;
    padding: 5px 25px 10px 25px;
    white-space: nowrap;
}

.header-main__item-order {
    white-space: nowrap;
}

.header-main .to-order a {
    margin-top: 0;
}

.header-main__item--menu {
    flex-grow: 3;
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
}

.header-fixed .mainnav__item {
    width: auto;
}

.mainnav__item .mainnav__title {
    white-space: nowrap;
}

.header-fixed .header-main__item-search {
    /* float: right; */
    position: relative;
    padding: 0 0 0 45px;
    background: none;
}

.mainnavsub {
    text-align: left;
}

.header-top .seocontext {
    padding-left: 125px;
}