@charset "UTF-8";
@font-face {
    font-family: opensans;
    src: url(../fonts/opensans/opensans-regular-webfont.eot);
    src: url(../fonts/opensans/opensans-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-regular-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-regular-webfont.woff) format("woff"), url(../fonts/opensans/opensans-regular-webfont.ttf) format("truetype"), url(../fonts/opensans/opensans-regular-webfont.svg#rubiklight) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: opensans;
    src: url(../fonts/opensans/opensans-bold-webfont.eot);
    src: url(../fonts/opensans/opensans-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-bold-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-bold-webfont.woff) format("woff"), url(../fonts/opensans/opensans-bold-webfont.ttf) format("truetype"), url(../fonts/opensans/opensans-bold-webfont.svg#rubiklight) format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: opensans;
    src: url(../fonts/opensans/opensans-italic-webfont.eot);
    src: url(../fonts/opensans/opensans-italic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-italic-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-italic-webfont.woff) format("woff"), url(../fonts/opensans/opensans-italic-webfont.ttf) format("truetype"), url(../fonts/opensans/opensans-italic-webfont.svg#rubiklight) format("svg");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: opensans;
    src: url(../fonts/opensans/opensans-bolditalic-webfont.eot);
    src: url(../fonts/opensans/opensans-bolditalic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-bolditalic-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-bolditalic-webfont.woff) format("woff"), url(../fonts/opensans/opensans-bolditalic-webfont.ttf) format("truetype"), url(../fonts/opensans/opensans-bolditalic-webfont.svg#rubiklight) format("svg");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: opensans-semibold;
    src: url(../fonts/opensans/opensans-semibold-webfont.eot);
    src: url(../fonts/opensans/opensans-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-semibold-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-semibold-webfont.woff) format("woff"), url(../fonts/opensans/opensans-semibold-webfont.ttf) format("truetype"), url(../fonts/opensans/opensans-semibold-webfont.svg#rubiklight) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: opensans-semibold;
    src: url(../fonts/opensans/opensans-semibolditalic-webfont.eot);
    src: url(../fonts/opensans/opensans-semibolditalic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-semibolditalic-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-semibolditalic-webfont.woff) format("woff"), url(../fonts/opensans/opensans-semibolditalic-webfont.ttf) format("truetype"), url(../fonts/opensans/opensans-semibolditalic-webfont.svg#rubiklight) format("svg");
    font-style: italic
}

@font-face {
    font-family: merriweather;
    src: url(../fonts/merriweather/merriweather-regular-webfont.eot);
    src: url(../fonts/merriweather/merriweather-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/merriweather/merriweather-regular-webfont.woff2) format("woff2"), url(../fonts/merriweather/merriweather-regular-webfont.woff) format("woff"), url(../fonts/merriweather/merriweather-regular-webfont.ttf) format("truetype"), url(../fonts/merriweather/merriweather-regular-webfont.svg#rubiklight) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: merriweather;
    src: url(../fonts/merriweather/merriweather-bold-webfont.eot);
    src: url(../fonts/merriweather/merriweather-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/merriweather/merriweather-bold-webfont.woff2) format("woff2"), url(../fonts/merriweather/merriweather-bold-webfont.woff) format("woff"), url(../fonts/merriweather/merriweather-bold-webfont.ttf) format("truetype"), url(../fonts/merriweather/merriweather-bold-webfont.svg#rubiklight) format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: merriweather;
    src: url(../fonts/merriweather/merriweather-italic-webfont.eot);
    src: url(../fonts/merriweather/merriweather-italic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/merriweather/merriweather-italic-webfont.woff2) format("woff2"), url(../fonts/merriweather/merriweather-italic-webfont.woff) format("woff"), url(../fonts/merriweather/merriweather-italic-webfont.ttf) format("truetype"), url(../fonts/merriweather/merriweather-italic-webfont.svg#rubiklight) format("svg");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: merriweather;
    src: url(../fonts/merriweather/merriweather-bolditalic-webfont.eot);
    src: url(../fonts/merriweather/merriweather-bolditalic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/merriweather/merriweather-bolditalic-webfont.woff2) format("woff2"), url(../fonts/merriweather/merriweather-bolditalic-webfont.woff) format("woff"), url(../fonts/merriweather/merriweather-bolditalic-webfont.ttf) format("truetype"), url(../fonts/merriweather/merriweather-bolditalic-webfont.svg#rubiklight) format("svg");
    font-weight: 700;
    font-style: italic
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    outline: 0
}

body {
    font: 16px/1.3 opensans;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 1064px
}

a, body, html, td, th {
    color: #4d002e
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: merriweather;
    font-weight: 400;
    font-style: normal
}

.h1, h1 {
    margin: 0 0 30px;
    font-size: 1.5em
}

.h1 {
    margin-top: 30px
}

.h2, h2 {
    margin-bottom: 1em;
    font-size: 1.2em
}

.h3, h3 {
    font-size: 1.1em
}

.h4, .h5, .h6, h4, h5, h6 {
    font-size: 1em
}

img {
    max-width: 100%
}

.clearfix::after, .container::after, .layout::after {
    clear: both;
    content: "";
    display: table
}

.feedback .form-actions input[type=file], .fl {
    float: left
}

.feedback .form-actions button, .fr {
    float: right
}

.left {
    text-align: left
}

.center {
    text-align: center
}

.right {
    text-align: right
}

.pseudo-link, a.pseudo-link {
    display: inline-block;
    border-bottom: 1px dashed #4d002e;
    text-decoration: none;
    color: #4d002e
}

.pseudo-link:hover, a.pseudo-link:hover {
    border-bottom-color: transparent;
    text-decoration: none
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    min-width: 1064px;
    max-width: 1210px
}

.layout, .layout-main, .layout-wide {
    display: block;
    width: 100%;
    position: relative
}

.layout-main, .layout-wide {
    float: left;
    width: 73%;
    margin: 0 3% 20px 0
}

.layout-wide {
    width: 100%;
    margin: 0 0 20px
}

.layout-sidebar {
    display: block;
    float: right;
    width: 24%;
    margin: 0 0 20px
}

.layout-wide + .layout-sidebar {
    display: none
}

.rub {
    position: relative
}

.rub:after {
    content: 'â€“';
    position: absolute;
    left: 0;
    bottom: 35%;
    font-size: .8em;
    line-height: 0
}

.text-xxxs {
    font-size: .6em
}

.text-xxs {
    font-size: .7em
}

.text-xs {
    font-size: .8em
}

.feedback dt, .text-sm {
    font-size: .9em
}

.theme-link, .theme-link_light {
    display: inline-block;
    position: relative;
    text-decoration: none
}

.header-auth a span:after, .theme-link:after, .theme-link_light:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 100%;
    margin-top: -.2em;
    height: 0;
    border-bottom: 1px solid #4d002e
}

.header-auth a:hover span:after, .theme-link:hover:after, .theme-link_light:hover:after {
    border-bottom-width: 2px
}

.theme-link_light:after {
    border-bottom-color: #fff
}

.justify-items {
    position: relative;
    text-align: justify;
    margin-bottom: -1em
}

.breadcrumbs__items.icon_bag:before, .justify-items:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.justify-item {
    display: inline-block
}

.breadcrumbs, .page_title {
    margin-bottom: 30px;
    padding: 15px 0;
    border-bottom: 1px dashed #4d002e
}

.page_title h1 {
    margin: 0 460px 0 0
}

.breadcrumbs {
    margin-bottom: 18px;
    padding: 18px 0 23px;
    font-size: .9em
}

.breadcrumbs__items {
    margin-right: 460px
}

.breadcrumbs__items.icon_bag {
    margin-left: 39px
}

.breadcrumbs__items.icon_bag:before {
    margin-right: 10px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-image: url(../images/sprite.png);
    background-position: 0 -996px;
    width: 25px;
    height: 30px;
    margin-left: -39px
}

.breadcrumbs__items.icon_open_book {
    margin-left: 44px
}

.breadcrumbs__items.icon_open_book:before {
    margin-right: 10px;
    background-position: 0 -840px;
    width: 30px;
    height: 26px;
    margin-left: -44px
}

.breadcrumbs a:after, .breadcrumbs__items.icon_open_book:before, .pagination .next:before, .pagination .prev:before {
    background-repeat: no-repeat;
    display: inline-block;
    content: '';
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-image: url(../images/sprite.png)
}

.breadcrumbs a:after {
    margin-left: 10px;
    background-position: 0 -45px;
    width: 5px;
    height: 9px
}

.breadcrumbs a {
    text-decoration: underline
}

.breadcrumbs a:hover, .pagination a:hover, .pagination span:hover {
    text-decoration: none
}

.breadcrumbs a, .breadcrumbs span {
    display: inline-block;
    margin-right: 4px
}

.pagination {
    width: 100%;
    margin: 20px 0;
    line-height: 34px;
    text-align: center
}

.pagination a, .pagination span {
    display: inline-block;
    margin: 0 1px;
    width: 38px;
    border: 2px solid #ec81b2;
    border-radius: 7px;
    text-decoration: none
}

.pagination span {
    border-color: #da0465
}

.pagination .next, .pagination .prev {
    border-color: transparent
}

.pagination .next:before, .pagination .prev:before {
    margin: 0 0 4px;
    background-position: 0 -612px;
    width: 11px;
    height: 20px
}

.pagination .next:before {
    background-position: 0 -672px
}

.share_fb {
    position: relative;
    display: inline-block;
    line-height: 40px;
    padding: 0 25px 0 0;
    background: #c93a66;
    border-radius: 7px;
    color: #fff;
    font-family: merriweather;
    text-decoration: none;
    font-size: .9em
}

.share_fb:hover {
    background: #b71748
}

.share_fb:after {
    content: '';
    position: absolute;
    top: 0;
    left: 40px;
    bottom: 0;
    width: 0;
    border-left: 1px solid #4d002e;
    border-right: 1px solid #da0465
}

.share_fb:before {
    background-repeat: no-repeat;
    content: '';
    font-size: 0;
    line-height: 0;
    background-image: url(../images/sprite.png);
    background-position: 0 -770px;
    width: 14px;
    height: 25px;
    margin: 0 35px 0 13px
}

.share_fb:before, .tag, .tag:before {
    display: inline-block;
    vertical-align: middle
}

.tag {
    padding: 3px 10px 3px 4px;
    font-family: merriweather;
    font-size: .9em;
    color: #fff;
    background: #c93a66;
    text-decoration: none;
    border-radius: 0 7px 7px 0
}

.tag:before {
    content: '';
    margin: -2px 7px 0 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff
}

.fancybox-overlay {
    background: rgba(0, 0, 0, .7)
}

.fancybox-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: 0 0;
    width: auto;
    height: auto
}

.fancybox-close:before {
    content: '';
    display: block;
    margin: 5px;
    background-image: url(../images/sprite.png);
    background-position: 0 -348px;
    width: 16px;
    height: 16px
}

.dialog-close:hover:before, .fancybox-close:hover:before {
    background-image: url(../images/sprite.png);
    background-position: 0 -244px;
    width: 16px;
    height: 16px
}

.fancybox-prev {
    left: -30px
}

.fancybox-next span, .fancybox-prev span {
    visibility: visible;
    background-image: url(../images/sprite.png);
    width: 11px;
    height: 20px;
    margin-top: -10px
}

.fancybox-prev span {
    left: 0;
    background-position: 0 -642px
}

.fancybox-next {
    right: -30px
}

.fancybox-next span {
    background-position: 0 -462px;
    right: 0
}

.dropdown {
    position: relative
}

.dropdown__content {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1
}

.dropdown-open .dropdown__content {
    display: block
}

.columns {
    margin-left: auto;
    margin-right: auto
}

.columns::after {
    content: "";
    display: table;
    clear: both
}

.columns > .half, .columns > .quarter, .columns > .third, .columns > .three-fourth, .columns > .two-thirds {
    float: left;
    display: block;
    margin-left: 0;
    margin-right: 2.35765%
}

.columns > .col-10:last-child, .columns > .col-11:last-child, .columns > .col-12:last-child, .columns > .col-1:last-child, .columns > .col-2:last-child, .columns > .col-3:last-child, .columns > .col-4:last-child, .columns > .col-5:last-child, .columns > .col-6:last-child, .columns > .col-7:last-child, .columns > .col-8:last-child, .columns > .col-9:last-child, .columns > .half:last-child, .columns > .quarter:last-child, .columns > .third:last-child, .columns > .three-fourth:last-child, .columns > .two-thirds:last-child {
    margin-right: 0
}

.columns > .quarter {
    width: 23.23176%
}

.columns > .third {
    width: 31.76157%
}

.columns > .half {
    width: 48.82117%
}

.columns > .two-thirds {
    width: 65.88078%
}

.columns > .three-fourth {
    width: 74.41059%
}

.columns > .col-1, .columns > .col-2, .columns > .col-3, .columns > .col-4 {
    float: left;
    display: block;
    margin-left: 0;
    margin-right: 2.35765%;
    width: 6.17215%
}

.columns > .col-2, .columns > .col-3, .columns > .col-4 {
    width: 14.70196%
}

.columns > .col-3, .columns > .col-4 {
    width: 23.23176%
}

.columns > .col-4 {
    width: 31.76157%
}

.columns > .col-5, .columns > .col-6, .columns > .col-7, .columns > .col-8 {
    float: left;
    display: block;
    margin-left: 0;
    margin-right: 2.35765%;
    width: 40.29137%
}

.columns > .col-6, .columns > .col-7, .columns > .col-8 {
    width: 48.82118%
}

.columns > .col-7, .columns > .col-8 {
    width: 57.35098%
}

.columns > .col-8 {
    width: 65.88078%
}

.columns > .col-10, .columns > .col-11, .columns > .col-12, .columns > .col-9 {
    float: left;
    display: block;
    margin-left: 0;
    margin-right: 2.35765%;
    width: 74.41059%
}

.columns > .col-10, .columns > .col-11, .columns > .col-12 {
    width: 82.94039%
}

.columns > .col-11, .columns > .col-12 {
    width: 91.4702%
}

.columns > .col-12 {
    width: 100%
}

.tabs {
    margin: 30px 0;
    border-top: 1px dashed #4d002e;
    padding-top: 30px
}

.tabs-panes {
    padding-top: 16px
}

.tabs-tab {
    display: inline-block;
    margin-right: 10px;
    padding: 0 12px;
    border-radius: 10px;
    text-decoration: none;
    font-family: merriweather;
    line-height: 34px;
    cursor: pointer;
    border-color: #c93a66;
    border-style: solid
}

.tabs-pane {
    padding: 0;
    display: none
}

.dialog-wrap__preview .dialog-content img, .mainnav__item .mainnav__title > span, .tabs-pane.active {
    display: block
}

.tabs-tab_catalog, .tabs-tab_catalog:hover, .tabs-tab_new-konditera, .tabs-tab_new-konditera:hover, .tabs-tab_new-mylovara, .tabs-tab_new-mylovara:hover, .tabs-tab_top, .tabs-tab_top:hover {
    color: #fff
}

.tabs-tab_catalog {
    background: #d7a05f;
    border-color: #d7a05f
}

.tabs-tab_catalog.active, .tabs-tab_catalog:hover {
    background: #cd8836;
    border-color: #cd8836
}

.tabs-tab_new-konditera {
    background: #b88163;
    border-color: #b88163
}

.tabs-tab_new-konditera.active, .tabs-tab_new-konditera:hover {
    background: #9f6749;
    border-color: #9f6749
}

.tabs-tab_new-mylovara {
    background: #ad5959;
    border-color: #ad5959
}

.tabs-tab_new-mylovara.active, .tabs-tab_new-mylovara:hover {
    background: #8d4646;
    border-color: #8d4646
}

.tabs-tab_top {
    background: #48220d;
    border-color: #48220d
}

.tabs-tab_top.active, .tabs-tab_top:hover {
    background: #1d0e05;
    border-color: #1d0e05
}

.reviews__list {
    margin: 20px 0
}

.reviews__item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #4d002e
}

.reviews__items > .reviews__item:last-child {
    border-bottom: 0
}

.reviews__meta {
    margin-bottom: 10px
}

.reviews__name {
    display: inline-block;
    padding-right: 20px
}

.reviews__date {
    text-transform: lowercase;
    color: gray;
    font-style: italic
}

.reviews-form {
    margin-top: 20px
}

.icon, .icon-a:after, .icon-b:before {
    background-repeat: no-repeat;
    display: inline-block
}

.icon-a:after, .icon-b:before {
    content: '';
    font-size: 0;
    line-height: 0;
    vertical-align: middle
}

.icon-b:before {
    margin-right: 10px
}

.icon-a:after {
    margin-left: 10px
}

.nowrap {
    white-space: nowrap
}

.js-tooltip {
    position: relative
}

.ui-tooltip {
    position: absolute;
    padding: 7px 12px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2)
}

.ui-tooltip::after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -14px;
    border: 7px solid transparent;
    border-bottom: 7px solid #fff
}

dl.form-row {
    margin: 0 0 15px
}

dl.form-row > dt {
    margin: 5px 0 5px 15px;
    padding: 0
}

dl.form-row > dd {
    margin: 0;
    padding: 0
}

.form-row {
    margin-bottom: 15px
}

.form-row input[type=password], .form-row input[type=tel], .form-row input[type=text], .form-row textarea {
    padding: 5px 16px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    width: 100%;
    background: 0 0
}

.form-actions {
    margin: 15px 0
}

.bbtn, .btn {
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    border-radius: 10px;
    background-color: #c93a66;
    text-decoration: none;
    font-family: merriweather;
    border: 0;
    outline: 0;
    color: #fff
}

.btn {
    font-size: .9em;
    line-height: 30px
}

.bbtn:active, .bbtn:hover, .btn:active, .btn:hover {
    color: #fff;
    background-color: #e5256f
}

.bbtn, .btn-b {
    line-height: 39px;
    font-size: 1em
}

.btn-b:before {
    margin-right: 10px;
    background-repeat: no-repeat;
    display: inline-block;
    content: '';
    font-size: 0;
    line-height: 0;
    vertical-align: middle
}

.input-file-styled input {
    position: absolute;
    left: -9999px;
    top: -9999px;
    opacity: 0
}

.errors {
    color: red;
    font-size: .9em
}

.js-form-msg.errors {
    margin: 7px 0
}

input[type=email].error, input[type=password].error, input[type=tel].error, input[type=text].error, textarea.error {
    border: 2px solid red !important
}

.dialog-lock {
    overflow: hidden
}

.dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background: rgba(0, 0, 0, .5);
    z-index: 9999
}

.dialog-a, .dialog-b {
    width: 100%;
    height: 100%
}

.dialog-a {
    display: table
}

.dialog-b {
    display: table-cell;
    vertical-align: middle
}

.dialog-c {
    display: block;
    position: relative;
    max-width: 600px;
    margin: 5% auto
}

.dialog-content {
    position: relative;
    padding: 20px 40px;
    background: #ebebeb;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3)
}

.dialog-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer
}

.dialog-close:before, .feedback .form-actions .input-file-styled:before, .footer .feedback .form-actions .input-file-styled:before {
    background-repeat: no-repeat;
    display: inline-block;
    content: '';
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-image: url(../images/sprite.png);
    width: 16px;
    height: 16px
}

.dialog-close:before {
    margin: 5px 10px 5px 5px;
    background-position: 0 -348px
}

.dialog-loading .dialog-content {
    height: 400px;
    background-image: url(../images/loading.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%
}

.dialog-title {
    margin: 0 0 20px;
    font-size: 1.1em;
    text-align: center
}

.dialog-descr {
    margin-bottom: 15px
}

.dialog-wrap__auth .dialog-c, .dialog-wrap__forgotpasswd .dialog-c, .dialog-wrap__registration .dialog-c {
    width: 450px
}

.dialog-wrap__auth .dialog-content, .dialog-wrap__forgotpasswd .dialog-content, .dialog-wrap__registration .dialog-content {
    padding-left: 0;
    padding-right: 0
}

.dialog-wrap__preview .next, .dialog-wrap__preview .prev {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background: red;
    cursor: pointer
}

.dialog-wrap__preview .prev {
    left: 10px
}

.dialog-wrap__preview .next {
    right: 10px
}

.dialog-wrap__preview .dialog-c {
    max-width: 80%
}

.dialog-wrap__preview .dialog-content {
    padding: 0
}

.dialog_auth {
    padding: 0 40px
}

.dialog_auth input[type=password], .dialog_auth input[type=tel], .dialog_auth input[type=text] {
    padding: 5px 16px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    width: 100%;
    background: 0 0
}

.dialog_auth .form-actions {
    margin-top: 0
}

.dialog_auth .terms-of-service {
    margin-bottom: 12px
}

.dialog_auth .form-registration__noconfirm-label {
    margin-bottom: 15px;
    font-size: .8em;
    margin-top: -7px
}

.dialog_auth-social {
    padding: 0 40px 12px;
    border-top: 1px dotted #c5b5bd;
    text-align: center
}

.dialog_auth-social .dialog-title {
    margin: 12px 0
}

.dialog_auth-social a {
    display: inline-block;
    margin: 0 7px;
    vertical-align: middle
}

.dialog_auth-social a.auth-social_facebook, .dialog_auth-social a.auth-social_instagram {
    background-image: url(../images/sprite.png);
    background-position: 0 -1116px;
    width: 30px;
    height: 30px
}

.dialog_auth-social a.auth-social_instagram {
    background-position: 0 -876px
}

.dialog_auth-social a.auth-social_odnoklassniki, .dialog_auth-social a.auth-social_vkontakte {
    background-image: url(../images/sprite.png);
    background-position: 0 -1156px;
    width: 30px;
    height: 30px
}

.dialog_auth-social a.auth-social_vkontakte {
    background-position: 0 -916px
}

.dialog_auth-social a.auth-social_google-plus, .feedback .form-actions button:before {
    background-image: url(../images/sprite.png);
    background-position: 0 -1076px;
    width: 30px;
    height: 30px
}

.open-other-dialogs {
    padding: 12px 40px 0;
    border-top: 1px dotted #c5b5bd
}

.feedback {
    position: relative
}

.feedback input[type=text], .feedback textarea {
    padding: 10px 15px;
    width: 100%;
    border: 0;
    background: #fff;
    border-radius: 10px;
    font-size: .9em
}

.feedback .form-actions::after {
    clear: both;
    content: "";
    display: table
}

.feedback .form-actions .input-file-styled {
    display: inline-block;
    float: left
}

.feedback .form-actions .input-file-styled:before, .footer .feedback .form-actions .input-file-styled:before {
    margin-right: 10px;
    background-position: 0 -270px
}

.feedback .form-actions .input-file-styled span {
    display: inline-block;
    position: relative;
    cursor: pointer
}

.feedback .form-actions .input-file-styled span:after {
    border-bottom-color: #4d002e
}

.feedback .form-actions button:before {
    background-position: 0 -218px;
    width: 25px;
    height: 16px
}

.footcatnav ul ul, .personal-menu {
    margin-bottom: 20px
}

.personal-menu__item {
    display: inline-block;
    margin-right: 10px;
    padding: 0 12px;
    border-radius: 10px;
    background-color: #c93a66;
    text-decoration: none;
    line-height: 34px;
    cursor: pointer;
    color: #fff;
    font-family: merriweather
}

.personal-menu__item.active {
    background-color: #e5256f
}

.personal-menu__item:hover {
    color: #fff
}

.lents {
    padding: 0;
    overflow: hidden;
    min-width: 1064px
}

.lents__title {
    padding: 23px 0 0;
    height: 77px;
    font-size: 1.5em;
    font-family: merriweather;
    text-align: center;
    background: url(/images/lent_title_bg.png) no-repeat center center
}

.lent {
    margin-bottom: 23px;
    position: relative;
    padding: 30px 0;
    background: #fff
}

.lent:after, .lent:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 120px
}

.lent:before {
    right: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKUAAAAJCAYAAABT9exPAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABMSURBVFiF7dI7CgAgEMTQ0fvfeW08gIWfCHkgbLEoQlqSVFVL0ufZPZ+8mzC/fv+nPy3pq4vSLUYpHKMUjlEKxyiFY5TCMUrhGKVwBjogBA6MUNTZAAAAAElFTkSuQmCC) repeat-y 100% 0
}

.lent:after {
    left: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKUAAAAJCAYAAABT9exPAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABLSURBVFiF7dLBCQAgDATBi/3X7PmxAB9KTtiBQF5KYMu2dc6S5p7b+8u3u/bu/7+7r6o8BIQhSsQhSsQhSsQhSsQhSsQhSsQhSsRZdcidEkTFxnAAAAAASUVORK5CYII=) repeat-y 0 0
}

.lent .item {
    display: inline-block;
    margin-right: 3%;
    width: 31%
}

.lent .item:last-child {
    margin-right: 0
}

.lent__image {
    float: left;
    width: 120px;
    height: 120px
}

.lent__image img {
    border-radius: 10px
}

.lent__descr {
    margin-left: 135px
}

.noimage .lent__descr {
    margin-left: 0
}

.lent__name {
    font-family: merriweather;
    font-size: 1.1em
}

.lent__more a, .lent__name a, .mainnav__item .mainnav__title:hover {
    text-decoration: none
}

.lent__meta, .lent__name {
    margin-bottom: 5px
}

.lent__date {
    display: inline-block;
    vertical-align: middle;
    font-size: .9em;
    color: #86757f
}

.lent .tag {
    margin-left: 7px
}

.lent__text {
    margin-bottom: 5px;
    font-size: .8em
}

.lent__more {
    text-align: right;
    font-size: .9em;
    font-family: merriweather
}

.lent__favorite, .lent__more a:before {
    background-image: url(../images/sprite.png)
}

.lent__more a:before {
    margin-right: 10px;
    background-repeat: no-repeat;
    content: '';
    font-size: 0;
    line-height: 0;
    background-position: 0 -194px;
    width: 16px;
    height: 14px
}

.lent__price {
    position: relative;
    margin-top: 20px;
    font-family: merriweather;
    font-size: 1.9em
}

.lent__favorite {
    float: right;
    background-position: 0 -1238px;
    width: 35px;
    height: 32px
}

.lent__favorite.in-favorite {
    background-image: url(../images/sprite.png);
    background-position: 0 -1036px;
    width: 33px;
    height: 30px
}

.slider-nav + .lents__title {
    margin-top: 20px
}

.header {
    min-width: 1064px
}

.header-top {
    position: relative;
    background: #ead4bf url(/images/striped_bg.png) top center
}

.header-top::after {
    clear: both;
    content: "";
    display: table
}

.header-auth, .topnav {
    padding: 15px 0 27px;
    font-size: .9em
}

.topnav {
    position: relative;
    z-index: 3;
    width: 52%;
    float: left
}

.topnav a {
    margin-right: 15px;
    color: #4d002e
}

.header-auth {
    float: right
}

.header-auth a {
    margin-left: 25px
}

.header-auth a, .header-auth a span {
    display: inline-block;
    position: relative
}

.footer-main .footer__phone span:before, .header-auth .btn_login:before, .header-auth .btn_registration:before, .header-phone:before {
    margin-right: 10px;
    background-repeat: no-repeat;
    display: inline-block;
    content: '';
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-image: url(../images/sprite.png);
    background-position: 0 -322px;
    width: 16px;
    height: 16px
}

.footer-main .footer__phone span:before, .header-auth .btn_registration:before, .header-phone:before {
    background-position: 0 -296px
}

.header-phone {
    padding: 0 23px;
    float: right;
    font-size: 1.5em;
    color: #fff;
    line-height: 50px;
    -webkit-box-shadow: 0 0 20px 2px #5a1d3c;
    box-shadow: 0 0 20px 2px #5a1d3c;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
    margin-top: -100px;
    -webkit-transition: margin-top 1s ease-out 0s;
    transition: margin-top 1s ease-out 0s
}

.footer-main .footer__phone span:before, .header-phone:before {
    vertical-align: baseline;
    background-position: 0 -402px;
    width: 20px;
    height: 20px
}

.header-phone .btn_open-feedback, .mainnavsub .columns .mainnavsub__sub > a:after {
    display: inline-block;
    margin-left: 10px;
    background-image: url(../images/sprite.png);
    background-position: 0 -522px;
    width: 24px;
    height: 20px
}

.header-main, .header-phone {
    background-color: #ca2162
}

.header-main .search::after, .header-main::after {
    clear: both;
    content: "";
    display: table
}

.header-main, .header-main .container, .mainnav__item {
    position: relative
}

.header-main .logo {
    position: absolute;
    width: 124px;
    height: 103px;
    margin-left: -14px;
    top: -10px;
    z-index: 2
}

.header-main .slogan {
    float: left;
    margin: 0 40px 0 125px;
    padding-top: 23px;
    color: #fff
}

.header-main .slogan__title {
    text-transform: uppercase;
    font-family: merriweather;
    font-size: 1.1em
}

.header-main .slogan__text {
    font-size: .8em;
    font-style: italic;
    line-height: 1.5em
}

.header-main .to-order {
    float: right
}

.header-main .to-order a {
    display: inline-block;
    margin-top: 27px;
    padding: 0 11px;
    border-radius: 10px;
    background-color: #ff4f93;
    font-size: .9em;
    text-decoration: none;
    font-family: merriweather;
    line-height: 30px;
    color: #fff
}

.header-main .search button, .header-main .search input {
    float: left;
    padding: 0 10px;
    border-radius: 7px 0 0 7px;
    border: 0;
    line-height: 30px;
    outline: 0
}

.header-main .search button {
    float: right;
    padding: 0;
    width: 75px;
    border-radius: 0 10px 10px 0;
    background: #ff4f93;
    font: .9em/1 merriweather;
    color: #fff;
    text-align: center;
    cursor: pointer
}

.mainnav__item {
    text-align: center;
    display: block;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font: .9em/1 merriweather
}

.mainnav__item .mainnav__title {
    display: block;
    padding: 10px 12px;
    height: 83px;
    color: #fff;
    text-decoration: none;
    text-align: center
}

.mainnav__item .mainnav__title:before {
    background-repeat: no-repeat;
    content: '';
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    display: block;
    margin: 0 auto 5px
}

.header-main .search button:hover, .header-main .to-order a:hover, .mainnav__item .mainnav__title:hover, .mainnav__item.open .mainnav__title, .mainnav__item_active .mainnav__title {
    background-color: #bb1d5a
}

.mainnav__item_for-pastry .mainnav__title:before {
    margin-top: 0;
    background-image: url(../images/sprite.png);
    background-position: 0 -1371px;
    width: 39px;
    height: 38px
}

.mainnav__item_for-soap-making .mainnav__title:before {
    background-image: url(../images/sprite.png);
    background-position: 0 -1419px;
    width: 40px;
    height: 40px
}

.mainnav__item_favorite .mainnav__title:before {
    margin-top: 0;
    margin-bottom: 5px;
    background-image: url(../images/sprite.png);
    background-position: 0 -956px;
    width: 32px;
    height: 30px
}

.mainnav__item_cart .mainnav__title:before {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url(../images/sprite.png);
    background-position: 0 -805px;
    width: 25px;
    height: 25px
}

.mainnavsub {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 1024px;
    z-index: 10;
    background-color: #fff;
    font: .9em/1.5 merriweather;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3)
}

.mainnavsub .mainnavsub_categories {
    float: left;
    width: 37%
}

.mainnavsub .mainnavsub_banners {
    float: left;
    width: 26%
}

.mainnavsub li, .mainnavsub ul {
    padding: 0;
    list-style: none;
    margin: 0 30px 0 0
}

.mainnavsub ul {
    margin: 0
}

.header-auth a, .mainnavsub a, .mainnavsub li li a, .qcart__item a {
    color: #4d002e;
    text-decoration: none
}

.mainnavsub a:hover {
    color: #4d002e;
    text-decoration: underline
}

.mainnavsub li li a {
    color: #803361
}

.mainnavsub li li a:hover {
    color: #803361;
    text-decoration: underline
}

.mainnavsub .top-line {
    padding: 15px 25px;
    background: #efdcca
}

.lent__more a:before, .mainnavsub .top-line li {
    display: inline-block;
    vertical-align: middle
}

.mainnavsub .columns {
    padding: 12px 25px
}

.mainnavsub .columns a {
    display: block;
    padding: 4px 7px
}

.footer-main .footer__phone span, .mainnavsub .columns .mainnavsub__sub > a {
    display: inline-block
}

.mainnavsub .columns .mainnavsub__sub > a:after {
    background-repeat: no-repeat;
    content: '';
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 -64px;
    width: 5px;
    height: 10px
}

.mainnavsub .columns .is-parent:hover .mainnavsub__sub > a:after {
    background: 0 0
}

.mainnavsub .columns li {
    display: inline-block;
    position: relative;
    width: 100%
}

.mainnavsub .columns li ul {
    position: absolute;
    padding: 0 7px;
    top: 0;
    left: 100%;
    width: 250px;
    display: none;
    z-index: 1
}

.mainnavsub .columns li ul.mainnavsub__sub__2-columns {
    -webkit-column-count: 2;
    column-count: 2;
    width: 500px
}

.mainnavsub .columns li.is-parent:hover {
    background-color: #e0d2db;
    border-radius: 5px 0 0 5px
}

.mainnavsub .columns li.is-parent:hover ul {
    display: block;
    background-color: #e0d2db;
    border-radius: 0 5px 5px 5px
}

.mainnavsub .columns li ul li:last-child {
    margin-bottom: 0
}

.mainnavsub .columns .mainnavsub__sub {
    position: relative;
    display: inline-block
}

.open .mainnavsub {
    display: block
}

.qcart {
    display: none;
    position: absolute;
    top: 100%;
    left: -200px;
    margin-top: 18px;
    width: 490px;
    z-index: 10;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
    line-height: 1.5
}

.qcart::before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: -30px;
    border: 15px solid transparent;
    border-bottom: 15px solid #fff
}

.qcart__title {
    padding: 15px 0;
    text-align: center;
    font-family: merriweather;
    border-bottom: 1px dotted gray;
    color: #4d002e
}

.qcart__items-wrap {
    max-height: 350px;
    overflow: auto
}

.qcart__items {
    display: table;
    width: 100%;
    border-collapse: collapse
}

.qcart__item {
    display: table-row;
    padding: 1px 15px;
    border-bottom: 1px dotted gray;
    color: #4d002e
}

.catalog__meta::after, .product-content::after, .qcart__actions::after, .qcart__item::after, .qty::after {
    clear: both;
    content: "";
    display: table
}

.qcart__item a:hover {
    color: #4d002e;
    text-decoration: underline
}

.qcart__empty {
    display: table-cell;
    padding: 40px 20px;
    text-align: center
}

.qcart__items .qcart__item:last-child {
    border-bottom: none
}

.qcart__details, .qcart__image {
    display: table-cell;
    vertical-align: middle
}

.qcart__image {
    width: 60px;
    height: 60px;
    line-height: 0;
    padding-left: 5px
}

.qcart__image img {
    max-height: 60px;
    border-radius: 10px
}

.qcart__details {
    padding-left: 10px
}

.qcart__name {
    line-height: 1.2
}

.qcart__price {
    display: table-cell;
    padding-left: 10px;
    white-space: nowrap;
    font-size: 1.2em;
    vertical-align: middle;
    padding-right: 5px
}

.qcart__actions {
    padding: 15px;
    border-top: 1px dotted gray
}

.qcart__actions .go-to-cart {
    float: left;
    line-height: 38px;
    border: 1px solid #4d002e;
    background: 0 0;
    color: #4d002e
}

.qcart__actions .go-to-cart:hover {
    color: #4d002e
}

.qcart__actions .go-to-order {
    float: right;
    line-height: 40px
}

.open .qcart {
    display: block
}

.qcart-empty .qcart__actions, .qcart-empty .qcart__title {
    display: none
}

.header-fixed .header-top {
    margin-bottom: 70px
}

.header-fixed .header-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 101
}

.header-fixed .logo, .header-fixed .slogan {
    display: none
}

.header-fixed .mainnav__item {
    width: 140px
}

.header-fixed .mainnav__item.mainnav__item_for-pastry, .header-fixed .mainnav__item.mainnav__item_for-soap-making {
    width: 160px
}

.header-fixed .to-order {
    float: right
}

.mainnav__item_for-pastry .mainnavsub {
    left: -220px
}

.header-fixed .mainnav__item_for-pastry .mainnavsub {
    left: 0
}

.mainnav__item_for-soap-making .mainnavsub {
    left: -425px
}

.header-fixed .mainnav__item_for-soap-making .mainnavsub {
    left: -205px
}

.footer {
    min-width: 1064px
}

.footer-nav {
    padding: 20px 0 30px;
    background: #ead4bf url(/images/striped_bg.png) top center
}

.footer-nav_left {
    float: left;
    width: 52%;
    margin-right: 5%
}

.footer-nav_right {
    float: right;
    width: 40%
}

.footer-nav .feedback__title {
    text-align: center
}

.footcatnav {
    margin-bottom: 30px
}

.footcatnav li, .footcatnav ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.footcatnav > ul {
    background: #fff;
    border-radius: 10px;
    padding: 20px 40px 0
}

.footcatnav li {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    font-family: merriweather;
    font-size: .9em
}

.footcatnav li a {
    margin-bottom: 10px
}

.footcatnav li li {
    display: block;
    width: 100%;
    font-family: opensans
}

.footcatnav li li a {
    text-decoration: underline
}

.bottomnav {
    padding: 10px 40px;
    border: 1px solid #4d002e;
    border-width: 1px 0;
    font-size: .9em
}

.bottomnav a {
    margin: 0 7px
}

.footer-main {
    position: relative;
    background: #ca2162;
    color: #fff
}

.footer-main a {
    color: #fff
}

.footer-main .footer-logo {
    position: absolute;
    width: 124px;
    height: 103px;
    margin-left: -14px;
    top: -14px;
    z-index: 2
}

.footer-main .footer-slogan {
    float: left;
    width: 33%;
    padding: 10px 40px 10px 125px
}

.footer-main .footer-slogan .slogan__title {
    text-transform: uppercase;
    font-family: merriweather;
    font-size: 1.1em
}

.footer-main .footer-slogan .slogan__text {
    font-size: .8em;
    font-style: italic;
    line-height: 1.5em
}

.footer-main .footer__download-price {
    float: left;
    width: 34%;
    padding: 20px 0;
    text-align: center;
    font-family: merriweather;
    font-size: 1.1em
}

.footcatnav li a, .footer-main .footer__download-price a {
    display: inline-block;
    text-decoration: none
}

.footer-main .footer__download-price a:before {
    margin-right: 10px;
    background-repeat: no-repeat;
    display: inline-block;
    content: '';
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-image: url(../images/sprite.png);
    background-position: 0 -432px;
    width: 20px;
    height: 20px
}

.footer-main .footer__phone {
    float: left;
    width: 33%;
    padding: 20px 0;
    text-align: right;
    font-size: 1.1em;
    cursor: pointer
}

.footer-main .footer__phone .btn_open-feedback {
    display: inline-block;
    margin-left: 10px;
    background-image: url(../images/sprite.png);
    background-position: 0 -522px;
    width: 24px;
    height: 20px
}

.footer-bottom {
    padding: 7px 0;
    font-size: .8em
}

.footer-bottom .legal-name {
    float: left;
    width: 33%;
    padding-left: 125px
}

.footer-bottom .copyright {
    float: left;
    width: 34%;
    text-align: center
}

.footer-bottom .powerby {
    float: left;
    width: 33%;
    text-align: right
}

.catalog__meta {
    margin-bottom: 20px
}

.catalog__meta .count {
    float: left;
    font-size: 1.1em;
    line-height: 40px
}

.catalog__meta .count a, .catalog__meta .count span {
    margin-left: 5px;
    display: inline-block;
    text-decoration: none
}

.catalog__meta .count span {
    text-decoration: underline
}

.catalog__meta .count span.count__label {
    margin: 0 15px 0 0;
    text-decoration: none
}

.catalog__meta .sorter {
    float: right;
    font-size: 1.1em
}

.catalog__meta .sorter__label {
    display: inline-block;
    margin-right: 20px
}

.catalog__meta .sorter__dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: .9em
}

.catalog__meta .sorter__dropdown .dropdown__trigger {
    position: relative;
    display: inline-block;
    padding: 0 0 0 25px;
    line-height: 40px;
    cursor: pointer
}

.catalog__meta .sorter__dropdown .dropdown__trigger:before {
    content: '';
    position: absolute;
    top: 0;
    right: 40px;
    bottom: 0;
    width: 0;
    border-left: 1px solid #3a0e30;
    border-right: 1px solid #ed2773
}

.catalog__meta .sorter__dropdown .dropdown__trigger:after {
    background-repeat: no-repeat;
    display: inline-block;
    content: '';
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-image: url(../images/sprite.png);
    background-position: 0 -125px;
    width: 20px;
    height: 11px;
    margin: 0 10px 0 37px
}

.catalog__meta .sorter__dropdown .dropdown__content, .catalog__meta .sorter__dropdown .dropdown__trigger {
    border-radius: 7px;
    background: #da0465
}

.catalog__meta .sorter__dropdown .dropdown__trigger:hover, .catalog__meta .sorter__dropdown.dropdown-open .dropdown__content, .catalog__meta .sorter__dropdown.dropdown-open .dropdown__trigger {
    background: #630d3c
}

.catalog__meta .sorter__dropdown .dropdown__trigger:hover:before, .catalog__meta .sorter__dropdown.dropdown-open .dropdown__trigger:before {
    opacity: .5
}

.catalog__meta .sorter__dropdown .dropdown__content {
    margin: 1px 0 0;
    min-width: 220px;
    padding: 0;
    list-style: none
}

.catalog__meta .sorter__dropdown .dropdown__content > li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px dotted #8a4e6c
}

.catalog__meta .sorter__dropdown .dropdown__content > li a {
    color: #fff;
    text-decoration: none
}

.catalog__meta .sorter__dropdown .dropdown__content > li:last-child {
    border-radius: 0 0 7px 7px;
    border-bottom: 0
}

.catalog__meta .sorter__dropdown .dropdown__content > li:first-child {
    border-radius: 7px 7px 0 0
}

.catalog__meta .sorter__dropdown.dropdown-open .dropdown__trigger:after, .rating-stars span, .rating-stars-lg span {
    background-image: url(../images/sprite.png);
    background-position: 0 -104px;
    width: 20px;
    height: 11px
}

.catalog__meta .sorter__dropdown.dropdown-open .dropdown__content li:hover, .catalog__meta .sorter__dropdown.dropdown-open .dropdown__trigger li:hover {
    background: #da0465
}

.qty, .qty input {
    background: #eeebed
}

.qty {
    position: relative;
    margin-right: 15px;
    border-radius: 10px;
    display: inline-block;
    padding: 9px 15px;
    width: 70px
}

.qty, .qty + button {
    vertical-align: middle
}

.qty input {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    width: 30px
}

.qty .qty-control {
    display: block;
    float: right;
    padding-top: 3px
}

.qty .qty-control .qty-decr, .qty .qty-control .qty-incr {
    background-image: url(../images/sprite.png);
    width: 10px;
    height: 5px;
    cursor: pointer
}

.qty .qty-control .qty-incr {
    margin-bottom: 5px;
    background-position: 0 -15px
}

.qty .qty-control .qty-decr {
    margin-top: 5px;
    background-position: 0 0
}

.old-price {
    font-size: .6em;
    opacity: .7;
    text-decoration: line-through
}

.rating-stars, .rating-stars-lg {
    display: inline-block
}

.rating-stars span, .rating-stars-lg span {
    display: inline-block;
    margin-left: 5px;
    background-position: 0 -146px;
    width: 14px;
    height: 14px
}

.rating-stars-lg span {
    background-position: 0 -702px;
    width: 24px;
    height: 24px
}

.rating-stars[data-rate="1"] span:nth-child(-n+1), .rating-stars[data-rate="2"] span:nth-child(-n+2), .rating-stars[data-rate="3"] span:nth-child(-n+3), .rating-stars[data-rate="4"] span:nth-child(-n+4), .rating-stars[data-rate="5"] span {
    background-image: url(../images/sprite.png);
    background-position: 0 -170px;
    width: 14px;
    height: 14px
}

.rating-stars-lg[data-rate="1"] span:nth-child(-n+1), .rating-stars-lg[data-rate="2"] span:nth-child(-n+2), .rating-stars-lg[data-rate="3"] span:nth-child(-n+3), .rating-stars-lg[data-rate="4"] span:nth-child(-n+4), .rating-stars-lg[data-rate="5"] span {
    background-image: url(../images/sprite.png);
    background-position: 0 -736px;
    width: 24px;
    height: 24px
}

.js-rating {
    cursor: pointer
}

.add2cart {
    position: relative;
    overflow: hidden;
    line-height: 39px;
    font-size: 1em
}

.add2cart span, .add2cart svg {
    width: 100%;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

.add2cart span {
    display: inline-block;
    height: 100%;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.add2cart span:before {
    content: '';
    display: inline-block;
    margin: -1px 10px 0 0;
    vertical-align: middle;
    background-image: url(../images/sprite.png);
    background-position: 0 -374px;
    width: 18px;
    height: 18px
}

.add2cart svg {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(50%) translateY(-50%);
    -ms-transform: translateX(50%) translateY(-50%);
    transform: translateX(50%) translateY(-50%)
}

.add2cart.is-added span, .add2cart.is-added svg {
    -webkit-transition: -webkit-transform 0s;
    transition: transform 0s;
    transition: transform 0s, -webkit-transform 0s
}

.add2cart.is-added span {
    color: transparent;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%)
}

.add2cart.is-added svg {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

.catalog-categories__item {
    display: inline-block;
    margin: 0 2% 20px 0;
    padding: 18px;
    width: 31%;
    vertical-align: top;
    border: 3px solid #de8cb1;
    border-radius: 18px
}

.catalog-categories__item:nth-child(3n),
.catalog__items .item:nth-child(3n) { /*margin-right:0*/
}

.catalog-categories__image {
    text-align: center;
    height: 200px
}

.catalog-categories__name {
    overflow: hidden;
    height: 60px;
    margin: 5px 0 0;
    font-family: merriweather;
    text-align: center
}

.catalog-categories__name a, .catalog-item__name a, .news-item__more a, .news-item__name a {
    text-decoration: none
}

.catalog__items {
    display: block;
    position: relative
}

.catalog__items .item {
    display: inline-block;
    position: relative;
    margin: 18px 1% 36px 0;
    padding: 0 15px;
    width: 23%;
    vertical-align: top;
    border: 0 solid #de8cb1;
    border-width: 0 3px
}

.tabs-panes .catalog__items .item {
    display: inline-block;
    position: relative;
    margin: 18px 1% 36px 0;
    padding: 0 15px;
    width: 23%;
    vertical-align: top;
    border: 0 solid #de8cb1;
    border-width: 0 3px
}



.catalog__items .item-inner {
    position: relative;
    margin: -18px 0;
    padding: 18px 0;
    border: 0 solid #de8cb1;
    border-width: 3px 0
}

.catalog__items .item-inner:after, .catalog__items .item-inner:before, .catalog__items .item:after, .catalog__items .item:before {
    content: '';
    position: absolute;
    border: 3px solid #de8cb1;
    width: 18px;
    height: 18px
}

.catalog__items .item:before {
    top: -18px;
    left: -3px;
    border-width: 0 3px 3px 0;
    border-radius: 0 0 100% 0
}

.catalog__items .item:after {
    top: -18px;
    right: -3px;
    border-width: 0 0 3px 3px;
    border-radius: 0 0 0 100%
}

.catalog__items .item-inner:before {
    bottom: -3px;
    left: -18px;
    border-width: 3px 3px 0 0;
    border-radius: 0 100% 0 0
}

.catalog__items .item-inner:after {
    bottom: -3px;
    right: -18px;
    border-width: 3px 0 0 3px;
    border-radius: 100% 0 0 0
}

.catalog__items .add2cart {
    background-color: #ec81b2;
    position: relative
}

.catalog__items .add2cart:hover {
    background-color: #c93a66
}

.catalog__small-items .item {
    margin: 12px 2% 24px 0;
    padding: 0 9px
}

.catalog__small-items .item-inner {
    margin: -12px 0;
    padding: 12px 0
}

.catalog__small-items .item-inner:after, .catalog__small-items .item-inner:before, .catalog__small-items .item:after, .catalog__small-items .item:before {
    width: 12px;
    height: 12px
}

.catalog__small-items .item:after, .catalog__small-items .item:before {
    top: -12px
}

.catalog__small-items .item-inner:before {
    left: -12px
}

.catalog__small-items .item-inner:after {
    right: -12px
}

.catalog-items {
    position: relative;
    width: 100%
}

.catalog-item__image {
    height: 204px;
    text-align: center
}

.catalog-item__name, .catalog-item__price {
    margin: 0;
    font-family: merriweather;
    text-align: center
}

.catalog-item__name {
    overflow: hidden;
    height: 60px
}

.catalog-item__price {
    height: 40px;
    font-size: 1.9em
}

.catalog-item__price .old-price, .product__buy button {
    vertical-align: middle
}

.catalog-item__buy {
    margin: 4px 0;
    height: 40px;
    text-align: center
}

.catalog-item__sale {
    left: -19px;
    top: -4px;
    background-position: 0 -2080px;
    width: 91px;
}
.catalog-item__hit {
    left: -19px;
    top: -4px;
    background-position: 0 -1980px;
    width: 91px;
    height: 91px
}

.catalog-item__favorite, .catalog-item__hit, .catalog-item__new {
    position: absolute;
    background-image: url(../images/sprite.png)
}

.catalog-item__new {
    left: -19px;
    top: -4px;
    background-position: 0 -1879px;
    width: 91px;
    height: 91px
}

.catalog-item__favorite {
    right: 0;
    top: 18px;
    background-position: 0 -1238px;
    width: 35px;
    height: 32px
}

.catalog-item__favorite-delete, .catalog-item__favorite.in-favorite {
    background-image: url(../images/sprite.png);
    background-position: 0 -1036px;
    width: 33px;
    height: 30px
}

.catalog-item__favorite-delete {
    position: absolute;
    right: 0;
    top: 18px;
    background-position: 0 -1325px;
    width: 28px;
    height: 36px
}

.catalog-item__rating {
    text-align: center
}

.catalog-item__rating .rating-stars span {
    margin: 0 2px
}

.catalog__small-items {
    padding: 0 40px
}

.catalog__small-items .catalog-item__hit, .catalog__small-items .catalog-item__new {
    left: -13px
}

.catalog__small-items .catalog-item__favorite, .catalog__small-items .catalog-item__favorite-delete {
    top: 12px
}

.catalog__small-items .slider-nav {
    position: static
}

.catalog__small-items .slider-nav .swiper-button-next, .catalog__small-items .slider-nav .swiper-button-prev {
    background-image: url(../images/sprite.png);
    background-position: 0 -1524px;
    width: 25px;
    height: 45px;
    top: 50%;
    margin-top: -22.5px
}

.catalog__small-items .slider-nav .swiper-button-next {
    background-position: 0 -1579px
}

.product-left {
    float: left;
    width: 370px
}

.product-right {
    margin-left: 400px
}

.product-content .preview__large {
    position: relative;
    display: inline-block;
    margin-bottom: 30px
}

.product-content .preview__large img {
    border-radius: 10px;
    border: 2px solid #ca2162
}

.product-content .preview__large .product__hit,
.product-content .preview__large .product__sale,
.product-content .preview__large .product__new {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../images/sprite.png);
    background-position: 0 -1980px;
    width: 91px;
    height: 91px
}

.product-content .preview__large .product__new {
    background-position: 0 -1879px
}
.product-content .preview__large .product__sale {
    background-position: 0 -2080px
}

.product-content .preview__large .zoom {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-image: url(../images/sprite.png);
    background-position: 0 -1280px;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.product-content .preview__item {
    width: 100%
}

.product-content .preview__item img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #de8cb1;
    cursor: pointer;
    max-width: 105px
}

.product-line {
    margin-bottom: 10px
}

.product__buy, .product__fq {
    display: inline-block
}

.product__name {
    vertical-align: top
}

.product__name, .product__price, .product__rating, h1 span {
    display: inline-block
}

.product__sky, .sidebar__social-links a {
    display: inline-block;
    vertical-align: top
}

.product__name {
    width: 100%;
    font-size: 1.5em;
    font-family: merriweather;
    padding-bottom: 5px
}

.product__sky {
    text-align: right;
    width: 100%;
    padding-bottom: 10px
}

.product__price {
    width: 50%;
    font-size: 1.9em;
    font-family: merriweather;
    vertical-align: middle
}

.product__rating {
    text-align: right
}

.product__buy, .product__fq, .product__rating {
    width: 50%;
    vertical-align: middle
}

.product__fq {
    text-align: right;
    padding-top: 5px
}

.news-item__more a:before, .product__favorite, .product__question:before {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    background-image: url(../images/sprite.png);
    background-position: 0 -1238px;
    width: 35px;
    height: 32px
}

.product__favorite.in-favorite {
    background-image: url(../images/sprite.png);
    background-position: 0 -1036px;
    width: 33px;
    height: 30px
}

.product__question {
    text-decoration: none;
    vertical-align: middle
}

.news-item__more a:before, .product__question:before {
    margin-right: 10px;
    background-repeat: no-repeat;
    content: '';
    font-size: 0;
    line-height: 0;
    background-position: 0 -1196px;
    width: 32px
}

.product-descr {
    padding-top: 20px;
    border-top: 1px solid #ca2162
}

.noimage .product-left {
    display: none
}

.noimage .news-item__text, .noimage .product-right {
    margin-left: 0
}

.ruble {
    font-size: .8em
}

.notice-no-available {
    position: absolute;
    top: 110%;
    background: #fff;
    -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
    border-radius: 10px;
    width: 250px;
    left: -100px;
    padding: 15px;
    z-index: 1000;
    font-size: .9em;
    text-align: center
}

.notice-no-available:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff
}

.news-detail h1, .news-item {
    margin-bottom: 20px
}

.cart-before::after, .cart__total::after, .news-item::after, .title-search-item::after {
    clear: both;
    content: "";
    display: table
}

.news-item__image {
    float: left;
    width: 120px;
    height: 120px
}

.news-item__image img {
    border-radius: 10px
}

.news-item__text {
    margin-left: 135px
}

.news-item__name {
    font-family: merriweather;
    font-size: 1.1em
}

.news-item__meta, .news-item__name {
    margin-bottom: 5px
}

.news-item__date {
    display: inline-block;
    vertical-align: middle;
    font-size: .9em;
    color: #86757f
}

.news-item .tag {
    margin-left: 7px
}

.news-item__preview {
    margin-bottom: 5px;
    font-size: .8em
}

.news-item__more {
    text-align: right;
    font-size: .9em;
    font-family: merriweather
}

.news-item__more a:before {
    background-position: 0 -194px;
    width: 16px;
    height: 14px
}

.news-detail__image {
    float: left;
    margin: 0 30px 20px 0;
    max-width: 370px;
    border-radius: 10px
}

.news-detail__date {
    float: right;
    font-size: .9em;
    line-height: 24px
}

.news-detail .author {
    display: inline-block;
    float: right;
    padding: 10px 0
}

.social-widget-vk {
    background: #ddd7db;
    border-radius: 10px
}

.sidebar__social-links {
    text-align: center
}

.sidebar__social-links a {
    margin: 0 7px
}

.sidebar__social-links .social-be, .sidebar__social-links .social-dr {
    background-image: url(../images/sprite.png);
    background-position: 0 -1744px;
    width: 45px;
    height: 45px
}

.sidebar__social-links .social-be {
    background-position: 0 -1469px;
    width: 71px
}

.sidebar__social-links .social-fb, .sidebar__social-links .social-inst {
    background-image: url(../images/sprite.png);
    background-position: 0 -1634px;
    width: 45px;
    height: 45px
}

.sidebar__social-links .social-inst {
    background-position: 0 -1689px
}

.swiper-wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.slider-nav {
    position: relative;
    text-align: center;
    display: none
}

.slider-nav .swiper-button-next, .slider-nav .swiper-button-prev {
    display: inline-block;
    vertical-align: middle
}

.slider-nav .swiper-pagination, .slider-nav .swiper-pagination-bullet {
    display: inline-block;
    position: relative;
    margin: 0 7px;
    vertical-align: middle
}

.slider-nav .swiper-button-next, .slider-nav .swiper-button-prev {
    position: absolute;
    top: 0;
    margin: 0;
    background-image: url(../images/sprite.png);
    width: 11px;
    height: 20px;
    background-size: initial
}

.slider-nav .swiper-button-prev {
    left: 0;
    background-position: 0 -582px
}

.slider-nav .swiper-button-next {
    right: 0;
    background-position: 0 -492px
}

.slider-nav .swiper-button-disabled {
    opacity: 0
}

.slider-nav .swiper-pagination-bullet {
    opacity: 1;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    background: 0 0;
    border: 3px solid #f3c7d3;
    border-radius: 50%
}

.slider-nav .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #c93a66
}

.main-banner {
    position: relative;
    height: 300px;
    color: #fff
}

.main-banner .swiper-slide {
    background: no-repeat center
}

.main-banner .container {
    height: 300px
}

.main-banner__content {
    margin: 60px 0 0 100px;
    width: 460px
}

.main-banner__title {
    margin-bottom: 10px;
    font-size: 1.9em
}

.main-banner .slider-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    text-align: center
}

.main-banner .slider-nav .swiper-button-next, .main-banner .slider-nav .swiper-button-prev, .main-banner .slider-nav .swiper-pagination, .main-banner .slider-nav .swiper-pagination-bullet {
    display: inline-block;
    position: relative;
    margin: 0 7px;
    vertical-align: middle
}

.main-banner .slider-nav .swiper-button-next, .main-banner .slider-nav .swiper-button-prev {
    background-image: url(../images/sprite.png);
    background-position: 0 -642px;
    width: 11px;
    height: 20px;
    background-size: initial
}

.main-banner .slider-nav .swiper-button-next {
    background-position: 0 -462px
}

.main-banner .slider-nav .swiper-button-disabled {
    opacity: 0
}

.main-banner .swiper-pagination-bullet {
    opacity: 1;
    width: 15px;
    height: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    background: 0 0;
    border: 3px solid rgba(255, 255, 255, .5);
    border-radius: 50%
}

.main-banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #c93a66
}

.main-banner .slider-actions {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    text-align: right;
    z-index: 1
}

.main-banner .slider-actions .container {
    height: auto
}

.main-banner .slider-action_play {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    background-image: url(../images/sprite.png);
    background-position: 0 -552px;
    width: 15px;
    height: 20px
}

.main-banner.pause .slider-action_play {
    background-image: url(../images/sprite.png);
    background-position: 0 -492px;
    width: 11px;
    height: 20px
}

.slider.swiper-container {
    width: 100%
}

.slider .swiper-slide {
    margin-top: 0 !important
}

.slider .item {
    width: 100%;
    margin-right: 0
}

.swiper-wrapper.lent .item {
    margin: 0;
    width: auto
}

.cart {
    margin: -30px 0 30px
}

.cart__items {
    display: table;
    width: 100%
}

.cart__item {
    display: table-row
}

.cart__delete, .cart__image, .cart__name, .cart__price, .cart__qty, .cart__sum {
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px dotted gray
}

.cart__name, .cart__price, .cart__qty, .cart__sum {
    padding: 5px 0
}

.cart__image {
    padding: 5px 20px;
    width: 120px
}

.cart__name {
    font-size: 1.2em;
    font-family: merriweather
}

.cart__name a {
    text-decoration: none
}

.cart__qty {
    width: 70px
}

.cart__qty .qty {
    padding: 10px 15px
}

.cart__price, .cart__sum {
    width: 160px;
    font-size: 1.5em;
    font-family: merriweather
}

.cart__delete {
    width: 50px;
    padding: 23.5px 0;
    text-align: right
}

.cart__delete a {
    display: inline-block;
    background-image: url(../images/sprite.png);
    background-position: 0 -1325px;
    width: 28px;
    height: 36px
}

.cart__total {
    margin-top: 30px
}

.cart__total__text {
    float: left;
    font-size: 1.5em;
    font-family: merriweather
}

.cart__total__to-order {
    float: right
}

.cart-before {
    margin-bottom: 20px;
    padding-top: 20px
}

.cart-before__text {
    float: left;
    padding-top: 8px;
    font-size: 1.2em;
    font-family: merriweather
}

.cart-before__to-order {
    float: right
}

h1 span {
    margin-left: 20px
}

.title-search-result {
    position: absolute;
    padding: 0 10px;
    top: 35px;
    z-index: 205;
    background: #fff;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0 2px 6px 0 rgba(90, 29, 60, .5);
    box-shadow: 0 2px 6px 0 rgba(90, 29, 60, .5)
}

.title-search-item {
    padding: 10px 0;
    border-bottom: 1px dotted gray
}

.title-search-all a, .title-search-item a {
    color: #4d002e
}

.title-search-result .title-search-item:last-child {
    border-bottom: 0
}

.title-search-item img {
    float: left;
    padding-right: 10px
}

.title-search-all {
    padding: 10px 0;
    text-align: center
}

@media screen and (max-width: 1229px) {
    .header-main .to-order {
        display: none
    }

    .topnav a {
        margin-right: 7px
    }

    .header-auth a {
        margin-left: 10px
    }

    .header-phone {
        padding-left: 12px;
        padding-right: 12px
    }

    .bottomnav {
        padding-left: 10px;
        padding-right: 10px
    }
}