#page-preloader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: none;
}

#page-preloader .spinner {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('images/ajax-loader.gif') no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}