.product__fq .product__favorite{
    width: 120%;
    background-repeat: no-repeat;
    float: left;
    text-align: left;
    padding-left: 49px;
    padding-top: 4px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857;
}
.product__fq .product__question{
    float: left;
    margin-top: 14px;
}
.product__fq .product__question:before {
    margin-right: 16px;
}

.tabs.new {
	margin: 15px 0px 30px 0px;
	padding: 0px 10px 0px 10px;
	border-width: 2px;
	border-color: #c93a66;
	border-style: solid;
	border-radius: 10px;
}

.tabs.new .tabs-panes {
	padding-top: 0;
}

.tabs-tab {
	border-width: 2px;
}

.tabs-tabs{
    margin-top: 0px;
}

.tabs-tab h2 {
	font-size: 1em;
	margin: 0px;
	line-height: 34px;
}

.product-content .product__rating{
    margin-bottom: 10px;
    width: 100%;
}
.product-content .product__price{
    width: 24%;
    font-size: 1.5em;
}
.product-content .product__price span{
    float: right;
    display: block;
    font-size: 18px;
    top: 7px;
    position: relative;
}
.product-content .qty{
    float: left;
    padding: 9px 10px;
    width: 60px;
    margin-top: 8px;
}
.product-content .qty input{
    width: 30px;
}
.product-content .product__buy{
    width: 75%;
}
.product__buy > span{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: block;
    float: left;
    margin-top: 7px;
}
.product__buy > span p{
    float: right;
    margin-left: 10px;
    font-family: merriweather;
    font-size: 1.5em;
    margin-bottom: 0;
    position: relative;
    top: -5px;
}
.product__buy > span ruble{
    float: right;
    font-size: 1.5em;
    position: relative;
    top: -4px;
}
.product__buy button{
    float: right;
}
.qty .qty-control .incr {
    margin-bottom: 5px;
    background-image: url(/css/../images/sprite.png);
    background-position: 0 -15px;
    width: 10px;
    height: 5px;
    cursor: pointer;
}
.qty .qty-control .decr {
    margin-top: 5px;
    background-image: url(/css/../images/sprite.png);
    background-position: 0 0;
    width: 10px;
    height: 5px;
    cursor: pointer;
}
.qty-incr,
.qty-decr{
    font-size: 0px;
}
.product-content .wrap_basket{
    position: relative;
    z-index: 100;
    font-size: 13px;
    float: right;
    top: -15px;
    width: 78px;
    margin-left: 7px;
    float: right;
    padding: 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.product-content .wrap_basket a{
    text-decoration: underline;
}
/*.wrap_basket:after{
    content: '';
    height: 30px;
    border: 10px solid transparent;
    border-top: 10px solid #ec81b2;
    content: '';
    position: absolute;
    left: 42%;
    bottom: -30px;
}  */
.add2cart span.active{
    padding: 0px 5px;
    font-size: 21px;
    font-weight: bold;
}
.add2cart span.active:before{
    content:none;
}
button,
button:active,
button:focus {
    outline: none!important;
}
.mainnav__item{
    z-index: 200;
}
.product-line{
    position: relative;
    width: 103%;
}
.product__price .old-price{
    position: absolute;
    top: -20px;
    font-size: 0.8em;
}
.product__buy.js-cart > span{
    margin-top: 14px;
}
.catalog-item__buy .btn-b{
    padding-right: 10px;
}
.product__favorite.in-favorite {
	width: 100% !important;
}

.catalog-item_forbidden a {
	color: white;
}

.catalog-item_forbidden {
	color: white;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-right: -10px;
	font-size: 12px;
	padding: 5px;
	background-color: rgba(202,33,98, 0.6);
	top: 193px;
	width: 160px;
	float: right;
}

.catalog-item_forbidden.limited {
	background-color: rgba(132, 120, 108, 0.6);
	width: 175px;
}