@media screen and (max-width: 1229px) {
  .header-main .to-order {
    display: none;
  }

  .topnav a {
    margin-right: 7px;
  }

  .header-auth a {
    margin-left: 10px;
  }

  .header-phone {
    padding-left: 12px;
    padding-right: 12px;
  }

  .bottomnav {
    padding-left: 10px;
    padding-right: 10px;
  }
}