.dialog_auth {
  padding: 0 40px;

  input[type=text],
  input[type=tel],
  input[type=password] {
    padding: 5px 16px;
    border: 1px solid #c9c9c9;
    @include border-radius(7px);
    width: 100%;
    background: transparent;
  }

  .form-actions {
    margin-top: 0;
  }

  .terms-of-service {
    margin-bottom: 12px;
  }

  .form-registration__noconfirm-label {
    margin-bottom: 15px;
    font-size: .8em;
    margin-top: -7px;
  }
}

.dialog_auth-social {
  padding: 0 40px 12px;
  border-top: 1px dotted #c5b5bd;
  text-align: center;

  .dialog-title {
    margin: 12px 0;
  }

  a {
    display: inline-block;
    margin: 0 7px;
    vertical-align: middle;

    &.auth-social_facebook {
      @include sprite($s-social_fb);
    }
    &.auth-social_instagram {
      @include sprite($s-social_inst);
    }
    &.auth-social_odnoklassniki {
      @include sprite($s-social_ok);
    }
    &.auth-social_vkontakte {
      @include sprite($s-social_vk);
    }
    &.auth-social_google-plus {
      @include sprite($s-social_youtube);
    }
  }
}

.open-other-dialogs {
  padding: 12px 40px 0;
  border-top: 1px dotted #c5b5bd;
}