.cart {
  margin: -30px 0 30px;

  &__items {
    display: table;
    width: 100%;
  }

  &__item {
    display: table-row;
  }

  &__image,
  &__name,
  &__qty,
  &__price,
  &__sum,
  &__delete {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 0;
    border-bottom: 1px dotted grey;
  }
  &__image {
    padding: 5px 20px;
    width: 120px;
  }
  &__name {
    font-size: $font-size-xl;
    font-family: $font-theme;

    a {
      text-decoration: none;
    }
  }
  &__qty {
    width: 70px;

    .qty {
      padding: 10px 15px;
    }
  }
  &__price {
    width: 160px;
    font-size: $font-size-xxl;
    font-family: $font-theme;
  }
  &__sum {
    width: 160px;
    font-size: $font-size-xxl;
    font-family: $font-theme;
  }
  &__delete {
    width: 50px;
    padding: ((75 - nth($s-basket, 5)) / 2) 0;
    text-align: right;

    a {
      display: inline-block;
      @include sprite($s-basket);
    }
  }

  &__total {
    margin-top: 30px;
    @include clearfix();

    &__text {
      float: left;
      font-size: $font-size-xxl;
      font-family: $font-theme;
    }

    &__to-order {
      float: right;
    }
  }
}

.cart-before {
  margin-bottom: 20px;
  padding-top: 20px;
  @include clearfix();

  &__text {
    float: left;
    padding-top: 8px;
    font-size: $font-size-xl;
    font-family: $font-theme;
  }

  &__to-order {
    float: right;
  }
}