.catalog__meta {
  margin-bottom: 20px;
  @include clearfix();

  .count {
    float: left;
    font-size: $font-size-lg;
    line-height: 40px;

    a, span {
      margin-left: 5px;
      display: inline-block;
      text-decoration: none;
    }
    span {
      text-decoration: underline;
    }

    span.count__label {
      margin: 0 15px 0 0;
      text-decoration: none;
    }
  }

  .sorter {
    float: right;
    font-size: $font-size-lg;

    &__label {
      display: inline-block;
      margin-right: 20px;
    }

    &__dropdown {
      position: relative;
      display: inline-block;
      text-align: center;
      color: $color-white;
      font-size: $font-size-sm;

      .dropdown__trigger {
        position: relative;
        display: inline-block;
        padding: 0 0 0 25px;
        line-height: 40px;
        cursor: pointer;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 40px;
          bottom: 0;
          width: 0;
          border-left: 1px solid #3a0e30;
          border-right: 1px solid #ed2773;
        }

        &:after {
          @include icon_after();
          @include sprite($s-arrow-down-lg);
          margin: 0 #{(40 - nth($s-arrow-down-lg, 5)) / 2} 0 #{(25 + 2 ) + (40 - nth($s-arrow-down-lg, 5)) / 2};
        }
      }

      .dropdown__trigger,
      .dropdown__content {
        @include border-radius(7px);
        background: $color-theme;
      }

      .dropdown__trigger:hover {
        background: $color-theme-dark;

        &:before {
          opacity: .5;
        }
      }

      .dropdown__content {
        margin: 1px 0 0;
        min-width: 220px;
        padding: 0;
        list-style: none;

        > li {
          padding: 10px;
          text-align: center;
          border-bottom: 1px dotted #8A4E6C;

          a {
            color: $color-white;
            text-decoration: none;
          }
        }

        > li:last-child {
          @include border-radius(0 0 7px 7px);
          border-bottom: 0;
        }

        > li:first-child {
          @include border-radius(7px 7px 0 0);
        }
      }

      &.dropdown-open {
        .dropdown__trigger:before {
          opacity: .5;
        }
        .dropdown__trigger:after {
          @include sprite($s-arrow-up-lg);
        }

        .dropdown__trigger,
        .dropdown__content {
          background: $color-theme-dark;

          li:hover {
            background: $color-theme;
          }
        }
      }
    }
  }
}

.qty {
  display: inline-block;
  position: relative;
  margin-right: 15px;
  padding: 9px 15px;
  width: 70px;
  background: #EEEBED;
  @include border-radius(10px);
  @include clearfix();
  vertical-align: middle;

  + button {
    vertical-align: middle;
  }

  input {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    width: 30px;
    background: #EEEBED;
  }

  .qty-control {
    display: block;
    float: right;
    padding-top: 3px;

    .qty-incr {
      margin-bottom: 5px;
      @include sprite($s-triangle_up);
      cursor: pointer;
    }

    .qty-decr {
      margin-top: 5px;
      @include sprite($s-triangle_down);
      cursor: pointer;
    }
  }
}

.old-price {
  font-size: $font-size-xxxs;
  opacity: .7;
  text-decoration: line-through;
}

.rating-stars {
  &,
  &-lg {
    display: inline-block;
  }

  span,
  &-lg span {
    display: inline-block;
    margin-left: 5px;
    @include sprite($s-star);
  }
  &-lg span {
    @include sprite($s-star-lg);
  }

  &[data-rate="1"] span:nth-child(-n+1),
  &[data-rate="2"] span:nth-child(-n+2),
  &[data-rate="3"] span:nth-child(-n+3),
  &[data-rate="4"] span:nth-child(-n+4),
  &[data-rate="5"] span {
    @include sprite($s-star-active);
  }
  &-lg[data-rate="1"] span:nth-child(-n+1),
  &-lg[data-rate="2"] span:nth-child(-n+2),
  &-lg[data-rate="3"] span:nth-child(-n+3),
  &-lg[data-rate="4"] span:nth-child(-n+4),
  &-lg[data-rate="5"] span {
    @include sprite($s-star-active-lg);
  }
}

.js-rating {
  cursor: pointer;
}

.add2cart {
  position: relative;
  overflow: hidden;
  line-height: 39px;
  font-size: 1em;

  & span {
    display: inline-block;
    width: 100%;

    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;

    &:before {
      content: '';
      display: inline-block;
      margin: -1px 10px 0 0;
      vertical-align: middle;
      @include sprite($s-buy-cart);
    }
  }

  & svg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    -webkit-transform: translateX(50%) translateY(-50%);
    -moz-transform: translateX(50%) translateY(-50%);
    -ms-transform: translateX(50%) translateY(-50%);
    -o-transform: translateX(50%) translateY(-50%);
    transform: translateX(50%) translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }

  &.is-added {
    span {
      color: transparent;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: -webkit-transform 0s;
      -moz-transition: -moz-transform 0s;
      transition: transform 0s;
    }

    svg {
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      -webkit-transition: -webkit-transform 0s;
      -moz-transition: -moz-transform 0s;
      transition: transform 0s;
    }
  }
}

.catalog-categories {

  &__item {
    display: inline-block;
    margin: 0 2% 20px 0;
    padding: $catalog-padding;
    width: 31%;
    vertical-align: top;
    border: 3px solid $catalog-border-color;
    @include border-radius($catalog-padding);

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__image {
    text-align: center;
    height: 200px;
  }

  &__name {
    overflow: hidden;
    height: 60px;
    margin: 5px 0 0;
    font-family: $font-theme;
    text-align: center;

    a {
      text-decoration: none;
    }
  }
}

.catalog__items {
  display: block;
  position: relative;

  .item {
    display: inline-block;
    position: relative;
    margin: $catalog-padding 2% #{$catalog-padding * 2} 0;
    padding: 0 #{$catalog-padding - $catalog-border};
    width: 31%;
    vertical-align: top;

    border: 0 solid $catalog-border-color;
    border-width: 0 3px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .item-inner {
    position: relative;
    margin: -$catalog-padding 0;
    padding: $catalog-padding 0;

    border: 0 solid $catalog-border-color;
    border-width: 3px 0;
  }

  .item:before,
  .item:after,
  .item-inner:before,
  .item-inner:after {
    content: '';
    position: absolute;
    border: $catalog-border solid $catalog-border-color;
    width: $catalog-padding;
    height: $catalog-padding;
  }

  .item:before {
    top: -$catalog-padding;
    left: -$catalog-border;
    border-width: 0 $catalog-border $catalog-border 0;
    @include border-radius(0 0 100% 0);
  }

  .item:after {
    top: -$catalog-padding;
    right: -$catalog-border;
    border-width: 0 0 $catalog-border $catalog-border;
    @include border-radius(0 0 0 100%);
  }

  .item-inner:before {
    bottom: -$catalog-border;
    left: -$catalog-padding;
    border-width: $catalog-border $catalog-border 0 0;
    @include border-radius(0 100% 0 0);
  }

  .item-inner:after {
    bottom: -$catalog-border;
    right: -$catalog-padding;
    border-width: $catalog-border 0 0 $catalog-border;
    @include border-radius(100% 0 0 0);
  }

  .add2cart {
    background-color: #EC81B2;
    position: relative;

    &:hover {
      background-color: #C93A66;
    }
  }
}

.catalog__small-items {
  .item {
    margin: $catalog-padding-small 2% #{$catalog-padding-small * 2} 0;
    padding: 0 #{$catalog-padding-small - $catalog-border};
  }

  .item-inner {
    margin: -$catalog-padding-small 0;
    padding: $catalog-padding-small 0;
  }

  .item:before,
  .item:after,
  .item-inner:before,
  .item-inner:after {
    width: $catalog-padding-small;
    height: $catalog-padding-small;
  }

  .item:before {
    top: -$catalog-padding-small;
  }

  .item:after {
    top: -$catalog-padding-small;
  }

  .item-inner:before {
    left: -$catalog-padding-small;
  }

  .item-inner:after {
    right: -$catalog-padding-small;
  }
}

.catalog-items {
  position: relative;
  width: 100%;
}

.catalog-item {
  &__image {
    height: 204px;
    text-align: center;
  }

  &__name {
    overflow: hidden;
    height: 60px;
    margin: 0px 0;
    font-family: $font-theme;
    text-align: center;

    a {
      text-decoration: none;
    }
  }

  &__price {
    margin: 0px 0;
    height: 40px;
    font-family: $font-theme;
    font-size: $font-size-xxxl;
    text-align: center;

    .old-price {
      vertical-align: middle;
    }
  }

  &__buy {
    margin: 4px 0;
    height: 40px;
    text-align: center;
  }

  &__hit {
    position: absolute;
    left: -$catalog-padding - 1;
    top: -$catalog-border - 1;
    @include sprite($s-label_hit);
  }
  &__new {
    position: absolute;
    left: -$catalog-padding - 1;
    top: -$catalog-border - 1;
    @include sprite($s-label_new);
  }

  &__favorite {
    position: absolute;
    right: 0;
    top: $catalog-padding;
    @include sprite($s-heart_2);
  }
  &__favorite.in-favorite {
    @include sprite($s-heart_3);
  }

  &__favorite-delete {
    position: absolute;
    right: 0;
    top: $catalog-padding;
    @include sprite($s-basket);
  }

  &__rating {
    text-align: center;

    .rating-stars span {
      margin: 0 2px;
    }
  }
}

.catalog__small-items {
  padding: 0 40px;

  .catalog-item {
    &__hit {
      left: -$catalog-padding-small - 1;
    }
    &__new {
      left: -$catalog-padding-small - 1;
    }

    &__favorite {
      top: $catalog-padding-small;
    }

    &__favorite-delete {
      top: $catalog-padding-small;
    }
  }

  .slider-nav {
    position: static;

    .swiper-button-prev {
      @include sprite($s-arrow_left_xl);
      top: 50%;
      margin-top: -(nth($s-arrow_left_xl, 6)) / 2;
    }

    .swiper-button-next {
      @include sprite($s-arrow_right_xl);
      top: 50%;
      margin-top: -(nth($s-arrow_right_xl, 6)) / 2;
    }
  }
}

.product {
  &-content {
    @include clearfix();
  }

  &-left {
    float: left;
    width: 370px;
  }

  &-right {
    margin-left: 400px;
  }

  &-content .preview {
    &__large {
      position: relative;
      display: inline-block;
      margin-bottom: 30px;

      img {
        @include border-radius(10px);
        border: 2px solid #ca2162;
      }

      .product__hit {
        position: absolute;
        left: 0;
        top: 0;
        @include sprite($s-label_hit);
      }
      .product__new {
        position: absolute;
        left: 0;
        top: 0;
        @include sprite($s-label_new);
      }

      .zoom {
        position: absolute;
        right: 20px;
        bottom: 20px;
        @include sprite($s-zoom);
        cursor: pointer;
      }
    }

    &__item {
      width: 100%;

      img {
        width: 100%;
        @include border-radius(10px);
        border: 2px solid #DE8CB1;
        cursor: pointer;
        max-width: 105px;
      }
    }
  }

  &-line {
    margin-bottom: 10px;
  }

  &__name,
  &__sky,
  &__price,
  &__rating,
  &__buy,
  &__fq,
  &__name {
    display: inline-block;
    vertical-align: top;
  }

  &__name {
    width: 100%;
    font-size: $font-size-xxl;
    font-family: $font-theme;
    padding-bottom: 5px;
  }

  &__sky {
    text-align: right;
    width: 100%;
    padding-bottom: 10px;
  }

  &__price {
    width: 50%;
    font-size: $font-size-xxxl;
    font-family: $font-theme;
    vertical-align: middle;
  }

  &__rating {
    width: 50%;
    vertical-align: middle;
    text-align: right;
  }

  &__buy {
    width: 50%;
    vertical-align: middle;

    button {
      vertical-align: middle;
    }
  }

  &__fq {
    width: 50%;
    text-align: right;
    vertical-align: middle;
    padding-top: 5px;
  }

  &__favorite {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    @include sprite($s-heart_2);
  }
  &__favorite.in-favorite {
    @include sprite($s-heart_3);
  }

  &__question {
    text-decoration: none;
    vertical-align: middle;

    &:before {
      @include icon-before();
      @include sprite($s-qa);
    }
  }

  &-descr {
    padding-top: 20px;
    border-top: 1px solid #ca2162;
  }
}

.noimage .product-left {
  display: none;
}
.noimage .product-right {
  margin-left: 0;
}

.ruble {
	font-size: .8em;
}

.notice-no-available {
  position: absolute;
  top: 110%;
  background: white;
  @include box-shadow(0 0 7px 2px rgba(0,0,0,.3));
  @include border-radius(10px);
  width: 250px;
  left: -100px;
  padding: 15px;
  z-index: 1000;
  font-size: $font-size-sm;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }
}