.dialog-lock {
  overflow: hidden;
}

.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: rgba(0, 0, 0, .5);
  z-index: 9999;

  &-a {
    display: table;
    width: 100%;
    height: 100%;
  }

  &-b {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  &-c {
    display: block;
    position: relative;
    max-width: 600px;
    margin: 5% auto;
  }

  &-content {
    position: relative;
    padding: 20px 40px;
    background: #EBEBEB;
    @include border-radius(15px);
    @include box-shadow(0px 0px 7px 2px rgba(0,0,0,0.3));
  }

  &-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    &:before {
      margin: 5px;
      display: block;
      @include icon_before();
      @include sprite($s-close);
    }

    &:hover:before {
      @include sprite($s-close_hover);
    }
  }

  &-loading &-content {
    height: 400px;
    background-image: url(../images/loading.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &-title {
    margin: 0 0 20px;
    font-size: $font-size-lg;
    text-align: center;
  }

  &-descr {
    margin-bottom: 15px;
  }
}

.dialog-wrap__auth .dialog-c,
.dialog-wrap__registration .dialog-c,
.dialog-wrap__forgotpasswd .dialog-c {
  width: 450px;
}

.dialog-wrap__auth .dialog-content,
.dialog-wrap__registration .dialog-content,
.dialog-wrap__forgotpasswd .dialog-content {
  padding-left: 0;
  padding-right: 0;
}

.dialog-wrap__preview {
  .prev,
  .next {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background: red;
    cursor: pointer;
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }

  .dialog-c {
    max-width: 80%;
  }

  .dialog-content {
    padding: 0;

    img {
      display: block;
    }
  }
}