.feedback {
  position: relative;

  input[type=text],
  textarea {
    padding: 10px 15px;
    width: 100%;
    border: 0;
    background: white;
    @include border-radius(10px);
    font-size: $font-size-sm;
  }

  dt {
    font-size: $font-size-sm;
  }

  .form-actions {
    @include clearfix();

    input[type=file] {
      float: left;
    }

    .input-file-styled {
      display: inline-block;
      float: left;

      &:before {
        @include icon-before();
        @include sprite($s-attach);
      }

      span {
        display: inline-block;
        position: relative;
        cursor: pointer;

        &:after {
          border-bottom-color: $color;
        }
      }
    }

    button {
      float: right;

      &:before {
        @include sprite($s-envelope);
      }
    }
  }
}