@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans/opensans-regular-webfont.eot');
  src: url('../fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
  url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'),
  url('../fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
  url('../fonts/opensans/opensans-regular-webfont.svg#rubiklight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans/opensans-bold-webfont.eot');
  src: url('../fonts/opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
  url('../fonts/opensans/opensans-bold-webfont.woff') format('woff'),
  url('../fonts/opensans/opensans-bold-webfont.ttf') format('truetype'),
  url('../fonts/opensans/opensans-bold-webfont.svg#rubiklight') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans/opensans-italic-webfont.eot');
  src: url('../fonts/opensans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans/opensans-italic-webfont.woff2') format('woff2'),
  url('../fonts/opensans/opensans-italic-webfont.woff') format('woff'),
  url('../fonts/opensans/opensans-italic-webfont.ttf') format('truetype'),
  url('../fonts/opensans/opensans-italic-webfont.svg#rubiklight') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans/opensans-bolditalic-webfont.eot');
  src: url('../fonts/opensans/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans/opensans-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/opensans/opensans-bolditalic-webfont.woff') format('woff'),
  url('../fonts/opensans/opensans-bolditalic-webfont.ttf') format('truetype'),
  url('../fonts/opensans/opensans-bolditalic-webfont.svg#rubiklight') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'opensans-semibold';
  src: url('../fonts/opensans/opensans-semibold-webfont.eot');
  src: url('../fonts/opensans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'),
  url('../fonts/opensans/opensans-semibold-webfont.woff') format('woff'),
  url('../fonts/opensans/opensans-semibold-webfont.ttf') format('truetype'),
  url('../fonts/opensans/opensans-semibold-webfont.svg#rubiklight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-semibold';
  src: url('../fonts/opensans/opensans-semibolditalic-webfont.eot');
  src: url('../fonts/opensans/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans/opensans-semibolditalic-webfont.woff2') format('woff2'),
  url('../fonts/opensans/opensans-semibolditalic-webfont.woff') format('woff'),
  url('../fonts/opensans/opensans-semibolditalic-webfont.ttf') format('truetype'),
  url('../fonts/opensans/opensans-semibolditalic-webfont.svg#rubiklight') format('svg');
  font-style: italic;
}
@font-face {
  font-family: 'merriweather';
  src: url('../fonts/merriweather/merriweather-regular-webfont.eot');
  src: url('../fonts/merriweather/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/merriweather/merriweather-regular-webfont.woff2') format('woff2'),
  url('../fonts/merriweather/merriweather-regular-webfont.woff') format('woff'),
  url('../fonts/merriweather/merriweather-regular-webfont.ttf') format('truetype'),
  url('../fonts/merriweather/merriweather-regular-webfont.svg#rubiklight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'merriweather';
  src: url('../fonts/merriweather/merriweather-bold-webfont.eot');
  src: url('../fonts/merriweather/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/merriweather/merriweather-bold-webfont.woff2') format('woff2'),
  url('../fonts/merriweather/merriweather-bold-webfont.woff') format('woff'),
  url('../fonts/merriweather/merriweather-bold-webfont.ttf') format('truetype'),
  url('../fonts/merriweather/merriweather-bold-webfont.svg#rubiklight') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'merriweather';
  src: url('../fonts/merriweather/merriweather-italic-webfont.eot');
  src: url('../fonts/merriweather/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/merriweather/merriweather-italic-webfont.woff2') format('woff2'),
  url('../fonts/merriweather/merriweather-italic-webfont.woff') format('woff'),
  url('../fonts/merriweather/merriweather-italic-webfont.ttf') format('truetype'),
  url('../fonts/merriweather/merriweather-italic-webfont.svg#rubiklight') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'merriweather';
  src: url('../fonts/merriweather/merriweather-bolditalic-webfont.eot');
  src: url('../fonts/merriweather/merriweather-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/merriweather/merriweather-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/merriweather/merriweather-bolditalic-webfont.woff') format('woff'),
  url('../fonts/merriweather/merriweather-bolditalic-webfont.ttf') format('truetype'),
  url('../fonts/merriweather/merriweather-bolditalic-webfont.svg#rubiklight') format('svg');
  font-weight: bold;
  font-style: italic;
}