.footer {
  min-width: $min-width;
}

.footer-nav {
  padding: 20px 0 30px;
  background: #EAD4BF url(/images/striped_bg.png) top center;

  &_left {
    float: left;
    width: 52%;
    margin-right: 5%;
  }

  &_right {
    float: right;
    width: 40%;
  }

  .feedback__title {
    text-align: center;
  }
}

.footcatnav {
  margin-bottom: 30px;

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  > ul {
    background: white;
    border-radius: 10px;
    padding: 20px 40px 0;
  }

  ul {
    ul {
      margin-bottom: 20px;
    }
  }

  li {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    font-family: $font-theme;
    font-size: $font-size-sm;

    a {
      display: inline-block;
      margin-bottom: 10px;
      text-decoration: none;
    }

    li {
      display: block;
      width: 100%;
      font-family: $font;

      a {
        text-decoration: underline;
      }
    }
  }
}

.bottomnav {
  padding: 10px 40px;
  border: 1px solid $color;
  border-width: 1px 0;
  font-size: $font-size-sm;

  a {
    margin: 0 7px;
  }
}

.footer {
  .feedback {
    .form-actions {
      .input-file-styled {
        &:before {
          @include icon-before();
          @include sprite($s-attach);
        }
      }
    }
  }
}

.footer-main {
  position: relative;
  background: #CA2162;
  color: $color-white;

  a {
    color: $color-white;
  }

  /*&:before,
  &:after {
    position: absolute;
    content: '';
    width: 100%;
    border-top: 1px dotted #E47B9A;
  }
  &:before {
    top: 4px;
  }
  &:after {
    bottom: 4px;
  }*/

  .footer-logo {
    position: absolute;
    width: 124px;
    height: 103px;
    margin-left: -14px;
    top: -14px;
    z-index: 2;
  }

  .footer-slogan {
    float: left;
    width: 33%;
    padding: 10px 40px 10px 125px;

    .slogan__title {
      text-transform: uppercase;
      font-family: $font-theme;
      font-size: $font-size-lg;
    }

    .slogan__text {
      font-size: $font-size-xs;
      font-style: italic;
      line-height: $font-size-xxl;
    }
  }

  .footer__download-price {
    float: left;
    width: 34%;
    padding: 20px 0;
    text-align: center;
    font-family: $font-theme;
    font-size: $font-size-lg;

    a {
      display: inline-block;
      text-decoration: none;

      &:before {
        @include icon-before();
        @include sprite($s-rounded_blank);
      }
    }
  }

  .footer__phone {
    float: left;
    width: 33%;
    padding: 20px 0;
    text-align: right;
    font-size: $font-size-lg;
    cursor: pointer;

    span {
      display: inline-block;

      &:before {
        @include icon-before();
        vertical-align: baseline;
        @include sprite($s-phone);
      }
    }

    .btn_open-feedback {
      display: inline-block;
      margin-left: 10px;
      @include sprite($s-refresh);
    }
  }
}

.footer-bottom {
  padding: 7px 0;
  font-size: $font-size-xs;

  .legal-name {
    float: left;
    width: 33%;
    padding-left: 125px;
  }

  .copyright {
    float: left;
    width: 34%;
    text-align: center;
  }

  .powerby {
    float: left;
    width: 33%;
    text-align: right;
  }
}