dl.form-row {
  margin: 0 0 15px;

  > dt {
    margin: 5px 0 5px 15px;
    padding: 0;
  }

  > dd {
    margin: 0;
    padding: 0;
  }
}

.form-row {
  margin-bottom: 15px;

  input[type=text],
  input[type=tel],
  input[type=password],
  textarea {
    padding: 5px 16px;
    border: 1px solid #c9c9c9;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    width: 100%;
    background: transparent;
  }
}

.form-actions {
  margin: 15px 0;
}

.btn,
.bbtn {
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  @include border-radius(10px);
  background-color: #C93A66;
  font-size: $font-size-sm;
  text-decoration: none;
  font-family: $font-theme;
  line-height: 30px;
  border: none;
  outline: none;
  color: $color-white;

  &:hover,
  &:active {
    color: $color-white;
    background-color: #e5256f;
  }
}

.bbtn {
  line-height: 39px;
  font-size: $font-size;
}

.btn-b {
  line-height: 39px;
  font-size: $font-size;

  &:before {
    @include icon-before();
  }
}

.input-file-styled {
  input {
    position: absolute;
    left: -9999px;
    top: -9999px;
    opacity: 0;
  }
}

.errors {
  color: red;
  font-size: .9em;
}

.js-form-msg.errors {
  margin: 7px 0;
}

input[type=text].error,
input[type=password].error,
input[type=tel].error,
input[type=email].error,
textarea.error {
  border: 2px solid red !important;
}