*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

body {
  font: #{$font-size-base}/1.3 $font;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: $min-width;
}

html,
body,
td,
th,
a {
  color: #4d002e;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-theme;
  font-weight: normal;
  font-style: normal;
}
h1, .h1 {
  margin: 0 0 30px;
  font-size: $font-size-xxl;
}
.h1 {
  margin-top: 30px;
}
h2, .h2 {
  margin-bottom: 1em;
  font-size: $font-size-xl;
}
h3, .h3 {
  font-size: $font-size-lg;
}
h4, .h4,
h5, .h5,
h6, .h6 {
  font-size: $font-size;
}

img {
  max-width: 100%;
}

.clearfix {
  @include clearfix;
}
.fl {
  float: left;
}
.fr {
  float: right;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

a.pseudo-link,
.pseudo-link {
  display: inline-block;
  border-bottom: 1px dashed #4d002e;
  text-decoration: none;
  color: #4d002e;

  &:hover {
    border-bottom-color: transparent;
    text-decoration: none;
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  min-width: $min-width;
  max-width: $max-width;
  @include clearfix();
}

.layout {
  display: block;
  width: 100%;
  position: relative;
  @include clearfix();

  &-main,
  &-wide {
    display: block;
    float: left;
    position: relative;
    width: 73%;
    margin: 0 3% 20px 0;
  }

  &-wide {
    width: 100%;
    margin-right: 0;
  }

  &-sidebar {
    display: block;
    float: right;
    width: 24%;

    margin: 0 0 20px;
  }

  &-wide + &-sidebar {
    display: none;
  }
}

.rub {
  position: relative;

  &:after {
    content: '–';
    position: absolute;
    left: 0;
    bottom: 35%;
    font-size: $font-size-xs;
    line-height: 0;
  }
}

.text {
  &-xxxs {
    font-size: $font-size-xxxs;
  }
  &-xxs {
    font-size: $font-size-xxs;
  }
  &-xs {
    font-size: $font-size-xs;
  }
  &-sm {
    font-size: $font-size-sm;
  }
}

.theme-link,
.theme-link_light {
  display: inline-block;
  position: relative;
  text-decoration: none;

  &:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 100%;
    margin-top: -0.2em;
    height: 0;
    border-bottom: 1px solid $color;
  }
  &:hover:after {
    border-bottom-width: 2px;
  }
}
.theme-link_light {
  &:after {
    border-bottom-color: $color-white;
  }
}

.justify-items {
  position: relative;
  text-align: justify;
  margin-bottom: -1em;

  &:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
  }
}
.justify-item {
  display: inline-block;
}

.page_title {
  margin-bottom: 30px;
  padding: 15px 0 15px;
  border-bottom: 1px dashed $color;

  h1 {
    margin: 0;
    margin-right: 460px;
  }
}

.breadcrumbs {
  margin-bottom: 18px;
  padding: 18px 0 23px;
  border-bottom: 1px dashed $color;
  font-size: $font-size-sm;

  &__items {
    margin-right: 460px;

    &.icon_bag {
      margin-left: nth($s-bag, 5) + 14;
      &:before {
        @include icon-before();
        @include sprite($s-bag);
        margin-left: -(nth($s-bag, 5) + 14);
      }
    }
    &.icon_open_book {
      margin-left: nth($s-open_book, 5) + 14;
      &:before {
        @include icon-before();
        @include sprite($s-open_book);
        margin-left: -(nth($s-open_book, 5) + 14);
      }
    }
  }

  a:after {
    @include icon_after();
    @include sprite($s-breadcrumbs_arrow);
  }

  a {
    display: inline-block;
    margin-right: 4px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  span {
    display: inline-block;
    margin-right: 4px;
  }
}

.pagination {
  width: 100%;
  margin: 20px 0;
  line-height: 34px;
  text-align: center;

  a, span {
    display: inline-block;
    margin: 0 1px;
    width: 38px;
    border: 2px solid $color-theme-light;
    @include border-radius(7px);

    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  span {
    border-color: $color-theme;
  }

  .prev,
  .next {
    border-color: transparent;

    &:before {
      @include icon-before();
      margin: 0 0 4px;
    }
  }
  .prev:before {
    @include sprite($s-arrow_dark_left);
  }
  .next:before {
    @include sprite($s-arrow_dark_right);
  }
}

.share {
  &_fb {
    position: relative;
    display: inline-block;
    line-height: 40px;
    padding: 0 25px 0 0;
    background: #C93A66;
    @include border-radius(7px);
    color: $color-white;
    font-family: $font-theme;
    text-decoration: none;
    font-size: $font-size-sm;

    &:hover {
      background: #B71748;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 40px;
      bottom: 0;
      width: 0;
      border-left: 1px solid $color;
      border-right: 1px solid $color-theme;
    }
  }

  &_fb:before {
    @include icon_before();
    @include sprite($s-btn_share_fb);
    margin: 0 #{(20 + 2 ) + (40 - nth($s-btn_share_fb, 5)) / 2} 0 #{(40 - nth($s-btn_share_fb, 5)) / 2};
  }
}

.tag {
  display: inline-block;
  padding: 3px 10px 3px 4px;
  vertical-align: middle;
  font-family: $font-theme;
  font-size: $font-size-sm;
  color: $color-white;
  background: #C93A66;
  @include border-radius(0 7px 7px 0);
  text-decoration: none;

  &:before {
    content: '';
    display: inline-block;
    margin: -2px 7px 0 0;
    width: 8px;
    height: 8px;
    @include border-radius(50%);
    vertical-align: middle;
    background-color: $color-white;
  }
}

.fancybox {
  &-overlay {
    background: rgba(0,0,0,.7);
  }

  &-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: none;
    width: auto;
    height: auto;

    &:before {
      content: '';
      display: block;
      margin: 5px;
      @include sprite($s-close);
    }

    &:hover:before {
      @include sprite($s-close_hover);
    }
  }

  &-prev {
    left: -30px;
    span {
      visibility: visible;
      @include sprite($s-arrow_light_left);
      left: 0;
      margin-top: -(nth($s-arrow_light_left, 6) / 2);
    }
  }

  &-next {
    right: -30px;
    span {
      visibility: visible;
      @include sprite($s-arrow_light_right);
      right: 0;
      margin-top: -(nth($s-arrow_light_right, 6) / 2);
    }
  }
}

.dropdown {
  position: relative;

  &__content {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  &-open &__content {
    display: block;
  }
}

.columns {
  margin-left: auto;
  margin-right: auto;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  > .quarter,
  > .third,
  > .half,
  > .two-thirds,
  > .three-fourth {
    float: left;
    display: block;
    margin-left: 0;
    margin-right: 2.35765%;

    &:last-child {
      margin-right: 0;
    }
  }
  > .quarter {
    width: 23.23176%;
  }
  > .third {
    width: 31.76157%;
  }
  > .half {
    width: 48.82117%;
  }
  > .two-thirds {
    width: 65.88078%;
  }
  > .three-fourth {
    width: 74.41059%;
  }

  @for $i from 1 through 12 {
    $offset: 2.35765%;
    $width: 100 / 12 * $i - $offset + ($offset / 12 * $i);
    > .col-#{$i} {
      float: left;
      display: block;
      margin-left: 0;
      margin-right: $offset;

      &:last-child {
        margin-right: 0;
      }
    }
    > .col-#{$i} { width: #{$width}; }
  }
}

.tabs {
  margin: 30px 0;
  border-top: 1px dashed #4d002e;
  padding-top: 30px;
  
  &-panes {
	  padding-top: 16px;
  }

  &-tab {
    display: inline-block;
    margin-right: 10px;
    padding: 0 12px;
    @include border-radius(10px);
    text-decoration: none;
    font-family: $font-theme;
    line-height: 34px;
    cursor: pointer;
    border-color: #C93A66;
    border-style: solid;
  }

  &-pane {
    padding: 0;
    display: none;

    &.active {
      display: block;
    }
  }

  &-tab {
    &_catalog,
    &_new-konditera,
    &_new-mylovara,
    &_top {
      color: white;

      &:hover {
        color: white;
      }
    }

    &_catalog {
      background: #D7A05F;
      border-color: #D7A05F;

      &.active,
      &:hover {
        background: darken(#D7A05F, 10%);
        border-color: darken(#D7A05F, 10%);
      }
    }
    &_new-konditera {
      background: #B88163;
      border-color: #B88163;

      &.active,
      &:hover {
        background: darken(#B88163, 10%);
        border-color: darken(#B88163, 10%);
      }
    }
    &_new-mylovara {
      background: #AD5959;
      border-color: #AD5959;

      &.active,
      &:hover {
        background: darken(#AD5959, 10%);
        border-color: darken(#AD5959, 10%);
      }
    }
    &_top {
      background: #48220D;
      border-color: #48220D;

      &.active,
      &:hover {
        background: darken(#48220D, 10%);
        border-color: darken(#48220D, 10%);
      }
    }
  }
}

.reviews {
  &__list {
    margin: 20px 0;
  }

  &__item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #4d002e;
  }
  &__items > &__item:last-child {
    border-bottom: 0;
  }

  &__meta {
    margin-bottom: 10px;
  }

  &__name {
    display: inline-block;
    padding-right: 20px;
  }
  &__date {
    text-transform: lowercase;
    color: grey;
    font-style: italic;
  }

  &-form {
    margin-top: 20px;
  }
}

.icon,
.icon-b:before,
.icon-a:after { background-repeat: no-repeat; display: inline-block; }
.icon-b:before { content: ''; margin-right: 10px; font-size: 0; line-height: 0; vertical-align: middle; }
.icon-a:after { content: ''; margin-left: 10px; font-size: 0; line-height: 0; vertical-align: middle; }

.nowrap {
  white-space: nowrap;
}

.js-tooltip {
  position: relative;
}
.ui-tooltip {
  position: absolute;
  padding: 7px 12px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -14px;
    border: 7px solid transparent;
    border-bottom: 7px solid white;
  }
}