.header {
  min-width: $min-width;
}

.header-top {
  position: relative;
  background: #EAD4BF url(/images/striped_bg.png) top center;
  @include clearfix();
}

.topnav {
  position: relative;
  padding: 15px 0 27px;
  float: left;
  font-size: $font-size-sm;
  z-index: 3;
  width: 52%;

  a {
    margin-right: 15px;
    color: $color;
  }
}

.header-auth {
  padding: 15px 0 27px;
  float: right;
  font-size: $font-size-sm;

  a {
    display: inline-block;
    position: relative;
    margin-left: 25px;
    text-decoration: none;
    color: $color;

    span {
      display: inline-block;
      position: relative;
    }
    span:after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 100%;
      margin-top: -0.2em;
      height: 0;
      border-bottom: 1px solid $color;
    }
    &:hover span:after {
      border-bottom-width: 2px;
    }
  }

  .btn_login {
    &:before {
      @include icon-before();
      @include sprite($s-key);
    }
  }

  .btn_registration {
    &:before {
      @include icon-before();
      @include sprite($s-people);
    }
  }
}

.header-phone {
  padding: 0 23px;
  float: right;
  background-color: #CA2162;
  font-size: $font-size-xxl;
  color: $color-white;
  line-height: 50px;
  @include box-shadow(0px 0px 20px 2px rgba(90,29,60,1));
  @include border-radius(0 0 15px 15px);
  cursor: pointer;
  margin-top: -100px;
  @include transition(margin-top 1s ease-out 0s);

  &:before {
    @include icon-before();
    vertical-align: baseline;
    @include sprite($s-phone);
  }

  .btn_open-feedback {
    display: inline-block;
    margin-left: 10px;
    @include sprite($s-refresh);
  }
}

.header-main {
  position: relative;
  background-color: #CA2162;
  @include clearfix();

  /*&:before,
  &:after {
    position: absolute;
    content: '';
    width: 100%;
    border-top: 1px dotted #8A4E6C;
  }
  &:before {
    top: 4px;
  }
  &:after {
    bottom: 4px;
  }*/

  .container {
    position: relative;
  }

  .logo {
    position: absolute;
    width: 124px;
    height: 103px;
    margin-left: -14px;
    top: -10px;
    z-index: 2;
  }

  .slogan {
    float: left;
    margin: 0 40px 0 125px;
    padding-top: 23px;
    color: $color-white;

    &__title {
      text-transform: uppercase;
      font-family: $font-theme;
      font-size: $font-size-lg;
    }

    &__text {
      font-size: $font-size-xs;
      font-style: italic;
      line-height: $font-size-xxl;
    }
  }

  .to-order {
    float: right;

    a {
      display: inline-block;
      margin-top: 27px;
      padding: 0 11px;
      @include border-radius(10px);
      background-color: #FF4F93;
      font-size: $font-size-sm;
      text-decoration: none;
      font-family: $font-theme;
      line-height: 30px;
      color: $color-white;

      &:hover {
        background-color: #BB1D5A;
      }
    }
  }

  .search {
    position: absolute;
    right: 0;
    top: 100%;
    padding: 5px 15px 10px 10px;
    background-color: #CA2162;
    @include border-radius(0 0 7px 7px);
    @include clearfix();
    z-index: 2;

    input {
      float: left;
      padding: 0 10px;
      @include border-radius(7px 0 0 7px);
      border: none;
      line-height: 30px;
      outline: none;
    }

    button {
      float: right;
      padding: 0;
      width: 75px;
      @include border-radius(0 10px 10px 0);
      background: #FF4F93;
      border: none;
      font: #{$font-size-sm}/1 $font-theme;
      line-height: 30px;
      color: $color-white;
      text-align: center;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: #BB1D5A;
      }
    }
  }
}

.mainnav {
  &__item {
    position: relative;
    float: left;
    width: 175px;
    font: #{$font-size-sm}/1 $font-theme;

    .mainnav__title {
      display: inline-block;
      padding: 10px 12px;
      height: 83px;
      color: $color-white;
      text-decoration: none;
      text-align: center;

      &:hover {
        text-decoration: none;
      }

      &:before {
        @include icon-before();
        display: block;
        margin: 0 auto 5px;
      }

      > span {
        display: block;
      }
    }

    &.open .mainnav__title,
    .mainnav__title:hover {
      background-color: #BB1D5A;
    }

    &_active .mainnav__title {
      background-color: #BB1D5A;
    }
  }

  &__item_for-pastry &__title:before {
    margin-top: 2px;
    @include sprite($s-cake);
  }

  &__item_for-soap-making &__title:before {
    @include sprite($s-bubles);
  }

  &__item_favorite &__title:before {
    margin-top: 7px;
    margin-bottom: 8px;
    @include sprite($s-heart);
  }

  &__item_cart &__title:before {
    margin-top: 10px;
    margin-bottom: 10px;
    @include sprite($s-cart);
  }
}

.mainnavsub {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 1024px;
  z-index: 10;
  background-color: white;
  font: #{$font-size-sm}/1.5 $font-theme;
  @include border-radius(0 0 10px 10px);
  @include box-shadow(0px 0px 7px 2px rgba(0,0,0,0.3));

  .mainnavsub_categories {
    float: left;
    width: 37%;
  }
  .mainnavsub_banners {
    float: left;
    width: 26%;
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-right: 30px;
  }

  a {
    color: $color;
    text-decoration: none;

    &:hover {
      color: $color;
      text-decoration: underline;
    }
  }

  li li a {
    color: $color + #333333;
    text-decoration: none;

    &:hover {
      color: $color + #333333;
      text-decoration: underline;
    }
  }

  .top-line {
    padding: 15px 25px 15px 25px;
    background: #EFDCCA;

    li {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .columns {
    padding: 12px 25px 12px 25px;

    a {
      display: block;
      padding: 4px 7px;
    }

    .mainnavsub__sub > a {
      display: inline-block;

      &:after {
        @include icon-after();
        @include sprite($s-triangle_right);
      }
    }
    .is-parent:hover .mainnavsub__sub > a {
      &:after {
        background: none;
      }
    }

    li {
      display: inline-block;
      position: relative;
      width: 100%;
    }

    li ul {
      position: absolute;
      padding: 0 7px;
      top: 0;
      left: 100%;
      width: 250px;
      display: none;
      z-index: 1;

      &.mainnavsub__sub__2-columns {
        column-count: 2;
        width: 500px;
      }
    }

    li.is-parent:hover {
      background-color: #E0D2DB;
      @include border-radius(5px 0 0 5px);

      ul {
        display: block;
        background-color: #E0D2DB;
        @include border-radius(0 5px 5px 5px);
      }
    }

    li ul li:last-child {
      margin-bottom: 0;
    }

    .mainnavsub__sub {
      position: relative;
      display: inline-block;
    }
  }
}

.open .mainnavsub {
  display: block;
}

.qcart {
  display: none;
  position: absolute;
  top: 100%;
  left: -200px;
  margin-top: 18px;
  width: 490px;
  z-index: 10;
  background: $color-white;
  @include border-radius(10px);
  @include box-shadow(0px 0px 7px 2px rgba(0,0,0,0.3));
  line-height: 1.5;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: -30px;
    border: 15px solid transparent;
    border-bottom: 15px solid $color-white;
  }

  &__title {
    padding: 15px 0;
    text-align: center;
    font-family: $font-theme;
    border-bottom: 1px dotted grey;
    color: $color;
  }

  &__items-wrap {
    max-height: 350px;
    overflow: auto;
  }

  &__items {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  &__item {
    display: table-row;
    padding: 1px 15px;
    border-bottom: 1px dotted grey;
    @include clearfix();
    color: $color;

    a {
      color: $color;
      text-decoration: none;

      &:hover {
        color: $color;
        text-decoration: underline;
      }
    }
  }

  &__empty {
    display: table-cell;
    padding: 40px 20px;
    text-align: center;
  }

  &__items &__item:last-child {
    border-bottom: none;
  }

  &__image {
    display: table-cell;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    line-height: 0;
    padding-left: 5px;

    img {
      max-height: 60px;
      @include border-radius(10px);
    }
  }

  &__details {
    display: table-cell;
    padding-left: 10px;
    vertical-align: middle;
  }

  &__name {
    line-height: 1.2;
  }

  &__price {
    display: table-cell;
    padding-left: 10px;
    white-space: nowrap;
    font-size: $font-size-xl;
    vertical-align: middle;
    padding-right: 5px;
  }

  &__actions {
    padding: 15px;
    border-top: 1px dotted grey;
    @include clearfix();

    .go-to-cart {
      float: left;
      line-height: 38px;
      border: 1px solid $color;
      background: transparent;
      color: $color;

      &:hover {
        color: $color;
      }
    }

    .go-to-order {
      float: right;
      line-height: 40px;
    }
  }
}

.open .qcart {
  display: block;
}

.qcart-empty {
  .qcart__title,
  .qcart__actions {
    display: none;
  }
}

.header-fixed {
  .header-top {
    margin-bottom: 70px;
  }

  .header-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 101;
  }

  .logo {
    display: none;
  }

  .slogan {
    display: none;
  }

  .mainnav__item {
    width: 140px;

    &.mainnav__item_for-pastry {
      width: 160px;
    }

    &.mainnav__item_for-soap-making {
      width: 160px;
    }
  }

  .to-order {
    float: right;
  }

  .search {
    float: right;
    position: relative;
    margin-top: 17px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 0;
    background: none;

    input {
      
    }
  }
}

.mainnav__item_for-pastry .mainnavsub {
  left: -220px;
}
.header-fixed .mainnav__item_for-pastry .mainnavsub {
  left: 0;
}
.mainnav__item_for-soap-making .mainnavsub {
  left: -425px;
}
.header-fixed .mainnav__item_for-soap-making .mainnavsub {
  left: -205px;
}