.lents {
  padding: 0;
  overflow: hidden;
  min-width: $min-width;

  &__title {
    padding: 23px 0 0;
    height: 77px;
    font-size: $font-size-xxl;
    font-family: $font-theme;
    text-align: center;
    background: transparent url(/images/lent_title_bg.png) no-repeat center center;
  }
}

.lent {
  margin-bottom: 23px;
  position: relative;
  padding: 30px 0;
  background: white;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 120px;
  }
  &:before {
    right: 100%;
    background: transparent #{$gradient-left} repeat-y 100% 0;
  }
  &:after {
    left: 100%;
    background: transparent #{$gradient-right} repeat-y 0 0;
  }

  .item {
    display: inline-block;
    margin-right: 3%;
    width: 31%;

    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    float: left;
    width: 120px;
    height: 120px;

    img {
      @include border-radius(10px);
    }
  }

  &__descr {
    margin-left: 135px;
  }

  .noimage &__descr {
    margin-left: 0;
  }

  &__name {
    margin-bottom: 5px;
    font-family: $font-theme;
    font-size: $font-size-lg;

    a {
      text-decoration: none;
    }
  }

  &__meta {
    margin-bottom: 5px;
  }

  &__date {
    display: inline-block;
    vertical-align: middle;
    font-size: $font-size-sm;
    color: #86757F;
  }

  .tag {
    margin-left: 7px;
  }

  &__text {
    margin-bottom: 5px;
    font-size: $font-size-xs;
  }

  &__more {
    text-align: right;
    font-size: $font-size-sm;
    font-family: $font-theme;

    a {
      text-decoration: none;

      &:before {
        @include icon-before();
        @include sprite($s-open_book_sm);
      }
    }
  }

  &__price {
    position: relative;
    margin-top: 20px;
    font-family: $font-theme;
    font-size: $font-size-xxxl;
  }

  &__favorite {
    float: right;
    @include sprite($s-heart_2);

    &.in-favorite {
      @include sprite($s-heart_3);
    }
  }
}

.slider-nav + .lents__title {
  margin-top: 20px;
}