.personal-menu {
  margin-bottom: 20px;

  &__item {
    display: inline-block;
    margin-right: 10px;
    padding: 0 12px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #C93A66;
    text-decoration: none;
    line-height: 34px;
    cursor: pointer;
    color: #fff;
    font-family: merriweather;

    &.active {
      background-color: #e5256f;
    }

    &:hover {
      color: #fff;
    }
  }
}