.news {
  &-items {
  }

  &-item {
    margin-bottom: 20px;
    @include clearfix();

    &__image {
      float: left;
      width: 120px;
      height: 120px;

      img {
        @include border-radius(10px);
      }
    }

    &__text {
      margin-left: 135px;
    }

    .noimage &__text {
      margin-left: 0;
    }

    &__name {
      margin-bottom: 5px;
      font-family: $font-theme;
      font-size: $font-size-lg;

      a {
        text-decoration: none;
      }
    }

    &__meta {
      margin-bottom: 5px;
    }

    &__date {
      display: inline-block;
      vertical-align: middle;
      font-size: $font-size-sm;
      color: #86757F;
    }

    .tag {
      margin-left: 7px;
    }

    &__preview {
      margin-bottom: 5px;
      font-size: $font-size-xs;
    }

    &__more {
      text-align: right;
      font-size: $font-size-sm;
      font-family: $font-theme;

      a {
        text-decoration: none;

        &:before {
          @include icon-before();
          @include sprite($s-open_book_sm);
        }
      }
    }
  }
}

.news-detail {
  h1 {
    margin-bottom: 20px;
  }

  &__image {
    float: left;
    margin: 0 30px 20px 0;
    max-width: 370px;
    @include border-radius(10px);
  }

  &__date {
    float: right;
    font-size: $font-size-sm;
    line-height: 24px;
  }

  .author {
    display: inline-block;
    float: right;
    padding: 10px 0;
  }
}