h1 span {
  display: inline-block;
  margin-left: 20px;
}

.title-search-result {
  position: absolute;
  padding: 0 10px;
  top: 35px;
  z-index: 205;
  background: white;
  @include border-radius(0 0 10px 10px);
  @include box-shadow(0 2px 6px 0 rgba(90, 29, 60, .5));
}

.title-search-item {
  padding: 10px 0;
  border-bottom: 1px dotted grey;
  @include clearfix;

  a {
    color: #4d002e;
  }
}

.title-search-result .title-search-item:last-child {
  border-bottom: 0;
}

.title-search-item img {
  float: left;
  padding-right: 10px;
}

.title-search-all {
  padding: 10px 0;
  text-align: center;

  a {
    color: #4d002e;
  }
}