.social-widget-vk {
  background: #DDD7DB;
  @include border-radius(10px);
}

.sidebar {
  &__social-links {
    text-align: center;

    a {
      display: inline-block;
      margin: 0 7px;
      vertical-align: top;
    }

    .social-dr {
      @include sprite($s-social_dr_xl);
    }
    .social-be {
      @include sprite($s-social_be_xl);
    }
    .social-fb {
      @include sprite($s-social_fb_xl);
    }
    .social-inst {
      @include sprite($s-social_inst_xl);
    }
  }
}