.swiper-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slider-nav {
  position: relative;
  text-align: center;
  display: none;

  .swiper-button-prev,
  .swiper-pagination,
  .swiper-pagination-bullet,
  .swiper-button-next {
    display: inline-block;
    position: relative;
    margin: 0 7px;
    vertical-align: middle;
  }

  .swiper-button-prev {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    @include sprite($s-arrow_left);
    @include background-size(initial);
  }
  .swiper-button-next {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    @include sprite($s-arrow_right);
    @include background-size(initial);
  }
  .swiper-button-disabled {
    opacity: 0;
  }

  .swiper-pagination-bullet {
    opacity: 1;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    background: transparent;
    border: 3px solid $color-theme-xlight;
    @include border-radius(50%);

    &.swiper-pagination-bullet-active {
      border-color: #C93A66;
    }
  }
}

.main-banner {
  position: relative;
  height: 300px;
  color: $color-white;

  .swiper-slide {
    background: transparent no-repeat center;
  }

  .container {
    height: 300px;
  }

  &__content {
    margin: 60px 0 0 100px;
    width: 460px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: $font-size-xxxl;
  }

  .slider-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    text-align: center;

    .swiper-button-prev,
    .swiper-pagination,
    .swiper-pagination-bullet,
    .swiper-button-next {
      display: inline-block;
      position: relative;
      margin: 0 7px;
      vertical-align: middle;
    }

    .swiper-button-prev {
      @include sprite($s-arrow_light_left);
      @include background-size(initial);
    }
    .swiper-button-next {
      @include sprite($s-arrow_light_right);
      @include background-size(initial);
    }
    .swiper-button-disabled {
      opacity: 0;
    }
  }

  .swiper-pagination-bullet {
    opacity: 1;
    width: 15px;
    height: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, .5);
    @include border-radius(50%);

    &.swiper-pagination-bullet-active {
      border-color: #C93A66;
    }
  }

  .slider-actions {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    text-align: right;
    z-index: 1;

    .container {
      height: auto;
    }
  }
  .slider-action_play {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    @include sprite($s-pause);
  }
  &.pause .slider-action_play {
    @include sprite($s-arrow_right);
  }
}

.slider {
  &.swiper-container {
    width: 100%;
  }

  .swiper-slide {
    margin-top: 0 !important;
  }

  .item {
    width: 100%;
    margin-right: 0;
  }
}

.swiper-wrapper.lent .item {
  margin: 0;
  width: auto;
}