/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-arrow-dark-left-name: 's-arrow_dark_left';
$s-arrow-dark-left-x: 0px;
$s-arrow-dark-left-y: 612px;
$s-arrow-dark-left-offset-x: 0px;
$s-arrow-dark-left-offset-y: -612px;
$s-arrow-dark-left-width: 11px;
$s-arrow-dark-left-height: 20px;
$s-arrow-dark-left-total-width: 91px;
$s-arrow-dark-left-total-height: 2071px;
$s-arrow-dark-left-image: '../images/sprite.png';
$s-arrow-dark-left: (0px, 612px, 0px, -612px, 11px, 20px, 91px, 2071px, '../images/sprite.png', 's-arrow_dark_left', );
$s-arrow-dark-right-name: 's-arrow_dark_right';
$s-arrow-dark-right-x: 0px;
$s-arrow-dark-right-y: 672px;
$s-arrow-dark-right-offset-x: 0px;
$s-arrow-dark-right-offset-y: -672px;
$s-arrow-dark-right-width: 11px;
$s-arrow-dark-right-height: 20px;
$s-arrow-dark-right-total-width: 91px;
$s-arrow-dark-right-total-height: 2071px;
$s-arrow-dark-right-image: '../images/sprite.png';
$s-arrow-dark-right: (0px, 672px, 0px, -672px, 11px, 20px, 91px, 2071px, '../images/sprite.png', 's-arrow_dark_right', );
$s-arrow-down-name: 's-arrow_down';
$s-arrow-down-x: 0px;
$s-arrow-down-y: 30px;
$s-arrow-down-offset-x: 0px;
$s-arrow-down-offset-y: -30px;
$s-arrow-down-width: 9px;
$s-arrow-down-height: 5px;
$s-arrow-down-total-width: 91px;
$s-arrow-down-total-height: 2071px;
$s-arrow-down-image: '../images/sprite.png';
$s-arrow-down: (0px, 30px, 0px, -30px, 9px, 5px, 91px, 2071px, '../images/sprite.png', 's-arrow_down', );
$s-arrow-down-lg-name: 's-arrow_down_lg';
$s-arrow-down-lg-x: 0px;
$s-arrow-down-lg-y: 125px;
$s-arrow-down-lg-offset-x: 0px;
$s-arrow-down-lg-offset-y: -125px;
$s-arrow-down-lg-width: 20px;
$s-arrow-down-lg-height: 11px;
$s-arrow-down-lg-total-width: 91px;
$s-arrow-down-lg-total-height: 2071px;
$s-arrow-down-lg-image: '../images/sprite.png';
$s-arrow-down-lg: (0px, 125px, 0px, -125px, 20px, 11px, 91px, 2071px, '../images/sprite.png', 's-arrow_down_lg', );
$s-arrow-left-name: 's-arrow_left';
$s-arrow-left-x: 0px;
$s-arrow-left-y: 582px;
$s-arrow-left-offset-x: 0px;
$s-arrow-left-offset-y: -582px;
$s-arrow-left-width: 11px;
$s-arrow-left-height: 20px;
$s-arrow-left-total-width: 91px;
$s-arrow-left-total-height: 2071px;
$s-arrow-left-image: '../images/sprite.png';
$s-arrow-left: (0px, 582px, 0px, -582px, 11px, 20px, 91px, 2071px, '../images/sprite.png', 's-arrow_left', );
$s-arrow-left-xl-name: 's-arrow_left_xl';
$s-arrow-left-xl-x: 0px;
$s-arrow-left-xl-y: 1524px;
$s-arrow-left-xl-offset-x: 0px;
$s-arrow-left-xl-offset-y: -1524px;
$s-arrow-left-xl-width: 25px;
$s-arrow-left-xl-height: 45px;
$s-arrow-left-xl-total-width: 91px;
$s-arrow-left-xl-total-height: 2071px;
$s-arrow-left-xl-image: '../images/sprite.png';
$s-arrow-left-xl: (0px, 1524px, 0px, -1524px, 25px, 45px, 91px, 2071px, '../images/sprite.png', 's-arrow_left_xl', );
$s-arrow-light-left-name: 's-arrow_light_left';
$s-arrow-light-left-x: 0px;
$s-arrow-light-left-y: 642px;
$s-arrow-light-left-offset-x: 0px;
$s-arrow-light-left-offset-y: -642px;
$s-arrow-light-left-width: 11px;
$s-arrow-light-left-height: 20px;
$s-arrow-light-left-total-width: 91px;
$s-arrow-light-left-total-height: 2071px;
$s-arrow-light-left-image: '../images/sprite.png';
$s-arrow-light-left: (0px, 642px, 0px, -642px, 11px, 20px, 91px, 2071px, '../images/sprite.png', 's-arrow_light_left', );
$s-arrow-light-right-name: 's-arrow_light_right';
$s-arrow-light-right-x: 0px;
$s-arrow-light-right-y: 462px;
$s-arrow-light-right-offset-x: 0px;
$s-arrow-light-right-offset-y: -462px;
$s-arrow-light-right-width: 11px;
$s-arrow-light-right-height: 20px;
$s-arrow-light-right-total-width: 91px;
$s-arrow-light-right-total-height: 2071px;
$s-arrow-light-right-image: '../images/sprite.png';
$s-arrow-light-right: (0px, 462px, 0px, -462px, 11px, 20px, 91px, 2071px, '../images/sprite.png', 's-arrow_light_right', );
$s-arrow-right-name: 's-arrow_right';
$s-arrow-right-x: 0px;
$s-arrow-right-y: 492px;
$s-arrow-right-offset-x: 0px;
$s-arrow-right-offset-y: -492px;
$s-arrow-right-width: 11px;
$s-arrow-right-height: 20px;
$s-arrow-right-total-width: 91px;
$s-arrow-right-total-height: 2071px;
$s-arrow-right-image: '../images/sprite.png';
$s-arrow-right: (0px, 492px, 0px, -492px, 11px, 20px, 91px, 2071px, '../images/sprite.png', 's-arrow_right', );
$s-arrow-right-xl-name: 's-arrow_right_xl';
$s-arrow-right-xl-x: 0px;
$s-arrow-right-xl-y: 1579px;
$s-arrow-right-xl-offset-x: 0px;
$s-arrow-right-xl-offset-y: -1579px;
$s-arrow-right-xl-width: 25px;
$s-arrow-right-xl-height: 45px;
$s-arrow-right-xl-total-width: 91px;
$s-arrow-right-xl-total-height: 2071px;
$s-arrow-right-xl-image: '../images/sprite.png';
$s-arrow-right-xl: (0px, 1579px, 0px, -1579px, 25px, 45px, 91px, 2071px, '../images/sprite.png', 's-arrow_right_xl', );
$s-arrow-up-lg-name: 's-arrow_up_lg';
$s-arrow-up-lg-x: 0px;
$s-arrow-up-lg-y: 104px;
$s-arrow-up-lg-offset-x: 0px;
$s-arrow-up-lg-offset-y: -104px;
$s-arrow-up-lg-width: 20px;
$s-arrow-up-lg-height: 11px;
$s-arrow-up-lg-total-width: 91px;
$s-arrow-up-lg-total-height: 2071px;
$s-arrow-up-lg-image: '../images/sprite.png';
$s-arrow-up-lg: (0px, 104px, 0px, -104px, 20px, 11px, 91px, 2071px, '../images/sprite.png', 's-arrow_up_lg', );
$s-attach-name: 's-attach';
$s-attach-x: 0px;
$s-attach-y: 270px;
$s-attach-offset-x: 0px;
$s-attach-offset-y: -270px;
$s-attach-width: 16px;
$s-attach-height: 16px;
$s-attach-total-width: 91px;
$s-attach-total-height: 2071px;
$s-attach-image: '../images/sprite.png';
$s-attach: (0px, 270px, 0px, -270px, 16px, 16px, 91px, 2071px, '../images/sprite.png', 's-attach', );
$s-bag-name: 's-bag';
$s-bag-x: 0px;
$s-bag-y: 996px;
$s-bag-offset-x: 0px;
$s-bag-offset-y: -996px;
$s-bag-width: 25px;
$s-bag-height: 30px;
$s-bag-total-width: 91px;
$s-bag-total-height: 2071px;
$s-bag-image: '../images/sprite.png';
$s-bag: (0px, 996px, 0px, -996px, 25px, 30px, 91px, 2071px, '../images/sprite.png', 's-bag', );
$s-basket-name: 's-basket';
$s-basket-x: 0px;
$s-basket-y: 1325px;
$s-basket-offset-x: 0px;
$s-basket-offset-y: -1325px;
$s-basket-width: 28px;
$s-basket-height: 36px;
$s-basket-total-width: 91px;
$s-basket-total-height: 2071px;
$s-basket-image: '../images/sprite.png';
$s-basket: (0px, 1325px, 0px, -1325px, 28px, 36px, 91px, 2071px, '../images/sprite.png', 's-basket', );
$s-breadcrumbs-arrow-name: 's-breadcrumbs_arrow';
$s-breadcrumbs-arrow-x: 0px;
$s-breadcrumbs-arrow-y: 45px;
$s-breadcrumbs-arrow-offset-x: 0px;
$s-breadcrumbs-arrow-offset-y: -45px;
$s-breadcrumbs-arrow-width: 5px;
$s-breadcrumbs-arrow-height: 9px;
$s-breadcrumbs-arrow-total-width: 91px;
$s-breadcrumbs-arrow-total-height: 2071px;
$s-breadcrumbs-arrow-image: '../images/sprite.png';
$s-breadcrumbs-arrow: (0px, 45px, 0px, -45px, 5px, 9px, 91px, 2071px, '../images/sprite.png', 's-breadcrumbs_arrow', );
$s-btn-share-fb-name: 's-btn_share_fb';
$s-btn-share-fb-x: 0px;
$s-btn-share-fb-y: 770px;
$s-btn-share-fb-offset-x: 0px;
$s-btn-share-fb-offset-y: -770px;
$s-btn-share-fb-width: 14px;
$s-btn-share-fb-height: 25px;
$s-btn-share-fb-total-width: 91px;
$s-btn-share-fb-total-height: 2071px;
$s-btn-share-fb-image: '../images/sprite.png';
$s-btn-share-fb: (0px, 770px, 0px, -770px, 14px, 25px, 91px, 2071px, '../images/sprite.png', 's-btn_share_fb', );
$s-bubles-name: 's-bubles';
$s-bubles-x: 0px;
$s-bubles-y: 1419px;
$s-bubles-offset-x: 0px;
$s-bubles-offset-y: -1419px;
$s-bubles-width: 40px;
$s-bubles-height: 40px;
$s-bubles-total-width: 91px;
$s-bubles-total-height: 2071px;
$s-bubles-image: '../images/sprite.png';
$s-bubles: (0px, 1419px, 0px, -1419px, 40px, 40px, 91px, 2071px, '../images/sprite.png', 's-bubles', );
$s-buy-cart-name: 's-buy_cart';
$s-buy-cart-x: 0px;
$s-buy-cart-y: 374px;
$s-buy-cart-offset-x: 0px;
$s-buy-cart-offset-y: -374px;
$s-buy-cart-width: 18px;
$s-buy-cart-height: 18px;
$s-buy-cart-total-width: 91px;
$s-buy-cart-total-height: 2071px;
$s-buy-cart-image: '../images/sprite.png';
$s-buy-cart: (0px, 374px, 0px, -374px, 18px, 18px, 91px, 2071px, '../images/sprite.png', 's-buy_cart', );
$s-cake-name: 's-cake';
$s-cake-x: 0px;
$s-cake-y: 1371px;
$s-cake-offset-x: 0px;
$s-cake-offset-y: -1371px;
$s-cake-width: 39px;
$s-cake-height: 38px;
$s-cake-total-width: 91px;
$s-cake-total-height: 2071px;
$s-cake-image: '../images/sprite.png';
$s-cake: (0px, 1371px, 0px, -1371px, 39px, 38px, 91px, 2071px, '../images/sprite.png', 's-cake', );
$s-cart-name: 's-cart';
$s-cart-x: 0px;
$s-cart-y: 805px;
$s-cart-offset-x: 0px;
$s-cart-offset-y: -805px;
$s-cart-width: 25px;
$s-cart-height: 25px;
$s-cart-total-width: 91px;
$s-cart-total-height: 2071px;
$s-cart-image: '../images/sprite.png';
$s-cart: (0px, 805px, 0px, -805px, 25px, 25px, 91px, 2071px, '../images/sprite.png', 's-cart', );
$s-close-name: 's-close';
$s-close-x: 0px;
$s-close-y: 348px;
$s-close-offset-x: 0px;
$s-close-offset-y: -348px;
$s-close-width: 16px;
$s-close-height: 16px;
$s-close-total-width: 91px;
$s-close-total-height: 2071px;
$s-close-image: '../images/sprite.png';
$s-close: (0px, 348px, 0px, -348px, 16px, 16px, 91px, 2071px, '../images/sprite.png', 's-close', );
$s-close-hover-name: 's-close_hover';
$s-close-hover-x: 0px;
$s-close-hover-y: 244px;
$s-close-hover-offset-x: 0px;
$s-close-hover-offset-y: -244px;
$s-close-hover-width: 16px;
$s-close-hover-height: 16px;
$s-close-hover-total-width: 91px;
$s-close-hover-total-height: 2071px;
$s-close-hover-image: '../images/sprite.png';
$s-close-hover: (0px, 244px, 0px, -244px, 16px, 16px, 91px, 2071px, '../images/sprite.png', 's-close_hover', );
$s-envelope-name: 's-envelope';
$s-envelope-x: 0px;
$s-envelope-y: 218px;
$s-envelope-offset-x: 0px;
$s-envelope-offset-y: -218px;
$s-envelope-width: 25px;
$s-envelope-height: 16px;
$s-envelope-total-width: 91px;
$s-envelope-total-height: 2071px;
$s-envelope-image: '../images/sprite.png';
$s-envelope: (0px, 218px, 0px, -218px, 25px, 16px, 91px, 2071px, '../images/sprite.png', 's-envelope', );
$s-header-name: 's-header';
$s-header-x: 0px;
$s-header-y: 1799px;
$s-header-offset-x: 0px;
$s-header-offset-y: -1799px;
$s-header-width: 37px;
$s-header-height: 70px;
$s-header-total-width: 91px;
$s-header-total-height: 2071px;
$s-header-image: '../images/sprite.png';
$s-header: (0px, 1799px, 0px, -1799px, 37px, 70px, 91px, 2071px, '../images/sprite.png', 's-header', );
$s-heart-name: 's-heart';
$s-heart-x: 0px;
$s-heart-y: 956px;
$s-heart-offset-x: 0px;
$s-heart-offset-y: -956px;
$s-heart-width: 32px;
$s-heart-height: 30px;
$s-heart-total-width: 91px;
$s-heart-total-height: 2071px;
$s-heart-image: '../images/sprite.png';
$s-heart: (0px, 956px, 0px, -956px, 32px, 30px, 91px, 2071px, '../images/sprite.png', 's-heart', );
$s-heart-2-name: 's-heart_2';
$s-heart-2-x: 0px;
$s-heart-2-y: 1238px;
$s-heart-2-offset-x: 0px;
$s-heart-2-offset-y: -1238px;
$s-heart-2-width: 35px;
$s-heart-2-height: 32px;
$s-heart-2-total-width: 91px;
$s-heart-2-total-height: 2071px;
$s-heart-2-image: '../images/sprite.png';
$s-heart-2: (0px, 1238px, 0px, -1238px, 35px, 32px, 91px, 2071px, '../images/sprite.png', 's-heart_2', );
$s-heart-3-name: 's-heart_3';
$s-heart-3-x: 0px;
$s-heart-3-y: 1036px;
$s-heart-3-offset-x: 0px;
$s-heart-3-offset-y: -1036px;
$s-heart-3-width: 33px;
$s-heart-3-height: 30px;
$s-heart-3-total-width: 91px;
$s-heart-3-total-height: 2071px;
$s-heart-3-image: '../images/sprite.png';
$s-heart-3: (0px, 1036px, 0px, -1036px, 33px, 30px, 91px, 2071px, '../images/sprite.png', 's-heart_3', );
$s-key-name: 's-key';
$s-key-x: 0px;
$s-key-y: 322px;
$s-key-offset-x: 0px;
$s-key-offset-y: -322px;
$s-key-width: 16px;
$s-key-height: 16px;
$s-key-total-width: 91px;
$s-key-total-height: 2071px;
$s-key-image: '../images/sprite.png';
$s-key: (0px, 322px, 0px, -322px, 16px, 16px, 91px, 2071px, '../images/sprite.png', 's-key', );
$s-label-hit-name: 's-label_hit';
$s-label-hit-x: 0px;
$s-label-hit-y: 1980px;
$s-label-hit-offset-x: 0px;
$s-label-hit-offset-y: -1980px;
$s-label-hit-width: 91px;
$s-label-hit-height: 91px;
$s-label-hit-total-width: 91px;
$s-label-hit-total-height: 2071px;
$s-label-hit-image: '../images/sprite.png';
$s-label-hit: (0px, 1980px, 0px, -1980px, 91px, 91px, 91px, 2071px, '../images/sprite.png', 's-label_hit', );
$s-label-new-name: 's-label_new';
$s-label-new-x: 0px;
$s-label-new-y: 1879px;
$s-label-new-offset-x: 0px;
$s-label-new-offset-y: -1879px;
$s-label-new-width: 91px;
$s-label-new-height: 91px;
$s-label-new-total-width: 91px;
$s-label-new-total-height: 2071px;
$s-label-new-image: '../images/sprite.png';
$s-label-new: (0px, 1879px, 0px, -1879px, 91px, 91px, 91px, 2071px, '../images/sprite.png', 's-label_new', );
$s-open-book-name: 's-open_book';
$s-open-book-x: 0px;
$s-open-book-y: 840px;
$s-open-book-offset-x: 0px;
$s-open-book-offset-y: -840px;
$s-open-book-width: 30px;
$s-open-book-height: 26px;
$s-open-book-total-width: 91px;
$s-open-book-total-height: 2071px;
$s-open-book-image: '../images/sprite.png';
$s-open-book: (0px, 840px, 0px, -840px, 30px, 26px, 91px, 2071px, '../images/sprite.png', 's-open_book', );
$s-open-book-sm-name: 's-open_book_sm';
$s-open-book-sm-x: 0px;
$s-open-book-sm-y: 194px;
$s-open-book-sm-offset-x: 0px;
$s-open-book-sm-offset-y: -194px;
$s-open-book-sm-width: 16px;
$s-open-book-sm-height: 14px;
$s-open-book-sm-total-width: 91px;
$s-open-book-sm-total-height: 2071px;
$s-open-book-sm-image: '../images/sprite.png';
$s-open-book-sm: (0px, 194px, 0px, -194px, 16px, 14px, 91px, 2071px, '../images/sprite.png', 's-open_book_sm', );
$s-pause-name: 's-pause';
$s-pause-x: 0px;
$s-pause-y: 552px;
$s-pause-offset-x: 0px;
$s-pause-offset-y: -552px;
$s-pause-width: 15px;
$s-pause-height: 20px;
$s-pause-total-width: 91px;
$s-pause-total-height: 2071px;
$s-pause-image: '../images/sprite.png';
$s-pause: (0px, 552px, 0px, -552px, 15px, 20px, 91px, 2071px, '../images/sprite.png', 's-pause', );
$s-people-name: 's-people';
$s-people-x: 0px;
$s-people-y: 296px;
$s-people-offset-x: 0px;
$s-people-offset-y: -296px;
$s-people-width: 16px;
$s-people-height: 16px;
$s-people-total-width: 91px;
$s-people-total-height: 2071px;
$s-people-image: '../images/sprite.png';
$s-people: (0px, 296px, 0px, -296px, 16px, 16px, 91px, 2071px, '../images/sprite.png', 's-people', );
$s-phone-name: 's-phone';
$s-phone-x: 0px;
$s-phone-y: 402px;
$s-phone-offset-x: 0px;
$s-phone-offset-y: -402px;
$s-phone-width: 20px;
$s-phone-height: 20px;
$s-phone-total-width: 91px;
$s-phone-total-height: 2071px;
$s-phone-image: '../images/sprite.png';
$s-phone: (0px, 402px, 0px, -402px, 20px, 20px, 91px, 2071px, '../images/sprite.png', 's-phone', );
$s-qa-name: 's-qa';
$s-qa-x: 0px;
$s-qa-y: 1196px;
$s-qa-offset-x: 0px;
$s-qa-offset-y: -1196px;
$s-qa-width: 32px;
$s-qa-height: 32px;
$s-qa-total-width: 91px;
$s-qa-total-height: 2071px;
$s-qa-image: '../images/sprite.png';
$s-qa: (0px, 1196px, 0px, -1196px, 32px, 32px, 91px, 2071px, '../images/sprite.png', 's-qa', );
$s-refresh-name: 's-refresh';
$s-refresh-x: 0px;
$s-refresh-y: 522px;
$s-refresh-offset-x: 0px;
$s-refresh-offset-y: -522px;
$s-refresh-width: 24px;
$s-refresh-height: 20px;
$s-refresh-total-width: 91px;
$s-refresh-total-height: 2071px;
$s-refresh-image: '../images/sprite.png';
$s-refresh: (0px, 522px, 0px, -522px, 24px, 20px, 91px, 2071px, '../images/sprite.png', 's-refresh', );
$s-rounded-blank-name: 's-rounded_blank';
$s-rounded-blank-x: 0px;
$s-rounded-blank-y: 432px;
$s-rounded-blank-offset-x: 0px;
$s-rounded-blank-offset-y: -432px;
$s-rounded-blank-width: 20px;
$s-rounded-blank-height: 20px;
$s-rounded-blank-total-width: 91px;
$s-rounded-blank-total-height: 2071px;
$s-rounded-blank-image: '../images/sprite.png';
$s-rounded-blank: (0px, 432px, 0px, -432px, 20px, 20px, 91px, 2071px, '../images/sprite.png', 's-rounded_blank', );
$s-social-be-xl-name: 's-social_be_xl';
$s-social-be-xl-x: 0px;
$s-social-be-xl-y: 1469px;
$s-social-be-xl-offset-x: 0px;
$s-social-be-xl-offset-y: -1469px;
$s-social-be-xl-width: 71px;
$s-social-be-xl-height: 45px;
$s-social-be-xl-total-width: 91px;
$s-social-be-xl-total-height: 2071px;
$s-social-be-xl-image: '../images/sprite.png';
$s-social-be-xl: (0px, 1469px, 0px, -1469px, 71px, 45px, 91px, 2071px, '../images/sprite.png', 's-social_be_xl', );
$s-social-dr-xl-name: 's-social_dr_xl';
$s-social-dr-xl-x: 0px;
$s-social-dr-xl-y: 1744px;
$s-social-dr-xl-offset-x: 0px;
$s-social-dr-xl-offset-y: -1744px;
$s-social-dr-xl-width: 45px;
$s-social-dr-xl-height: 45px;
$s-social-dr-xl-total-width: 91px;
$s-social-dr-xl-total-height: 2071px;
$s-social-dr-xl-image: '../images/sprite.png';
$s-social-dr-xl: (0px, 1744px, 0px, -1744px, 45px, 45px, 91px, 2071px, '../images/sprite.png', 's-social_dr_xl', );
$s-social-fb-name: 's-social_fb';
$s-social-fb-x: 0px;
$s-social-fb-y: 1116px;
$s-social-fb-offset-x: 0px;
$s-social-fb-offset-y: -1116px;
$s-social-fb-width: 30px;
$s-social-fb-height: 30px;
$s-social-fb-total-width: 91px;
$s-social-fb-total-height: 2071px;
$s-social-fb-image: '../images/sprite.png';
$s-social-fb: (0px, 1116px, 0px, -1116px, 30px, 30px, 91px, 2071px, '../images/sprite.png', 's-social_fb', );
$s-social-fb-xl-name: 's-social_fb_xl';
$s-social-fb-xl-x: 0px;
$s-social-fb-xl-y: 1634px;
$s-social-fb-xl-offset-x: 0px;
$s-social-fb-xl-offset-y: -1634px;
$s-social-fb-xl-width: 45px;
$s-social-fb-xl-height: 45px;
$s-social-fb-xl-total-width: 91px;
$s-social-fb-xl-total-height: 2071px;
$s-social-fb-xl-image: '../images/sprite.png';
$s-social-fb-xl: (0px, 1634px, 0px, -1634px, 45px, 45px, 91px, 2071px, '../images/sprite.png', 's-social_fb_xl', );
$s-social-inst-name: 's-social_inst';
$s-social-inst-x: 0px;
$s-social-inst-y: 876px;
$s-social-inst-offset-x: 0px;
$s-social-inst-offset-y: -876px;
$s-social-inst-width: 30px;
$s-social-inst-height: 30px;
$s-social-inst-total-width: 91px;
$s-social-inst-total-height: 2071px;
$s-social-inst-image: '../images/sprite.png';
$s-social-inst: (0px, 876px, 0px, -876px, 30px, 30px, 91px, 2071px, '../images/sprite.png', 's-social_inst', );
$s-social-inst-xl-name: 's-social_inst_xl';
$s-social-inst-xl-x: 0px;
$s-social-inst-xl-y: 1689px;
$s-social-inst-xl-offset-x: 0px;
$s-social-inst-xl-offset-y: -1689px;
$s-social-inst-xl-width: 45px;
$s-social-inst-xl-height: 45px;
$s-social-inst-xl-total-width: 91px;
$s-social-inst-xl-total-height: 2071px;
$s-social-inst-xl-image: '../images/sprite.png';
$s-social-inst-xl: (0px, 1689px, 0px, -1689px, 45px, 45px, 91px, 2071px, '../images/sprite.png', 's-social_inst_xl', );
$s-social-ok-name: 's-social_ok';
$s-social-ok-x: 0px;
$s-social-ok-y: 1156px;
$s-social-ok-offset-x: 0px;
$s-social-ok-offset-y: -1156px;
$s-social-ok-width: 30px;
$s-social-ok-height: 30px;
$s-social-ok-total-width: 91px;
$s-social-ok-total-height: 2071px;
$s-social-ok-image: '../images/sprite.png';
$s-social-ok: (0px, 1156px, 0px, -1156px, 30px, 30px, 91px, 2071px, '../images/sprite.png', 's-social_ok', );
$s-social-vk-name: 's-social_vk';
$s-social-vk-x: 0px;
$s-social-vk-y: 916px;
$s-social-vk-offset-x: 0px;
$s-social-vk-offset-y: -916px;
$s-social-vk-width: 30px;
$s-social-vk-height: 30px;
$s-social-vk-total-width: 91px;
$s-social-vk-total-height: 2071px;
$s-social-vk-image: '../images/sprite.png';
$s-social-vk: (0px, 916px, 0px, -916px, 30px, 30px, 91px, 2071px, '../images/sprite.png', 's-social_vk', );
$s-social-youtube-name: 's-social_youtube';
$s-social-youtube-x: 0px;
$s-social-youtube-y: 1076px;
$s-social-youtube-offset-x: 0px;
$s-social-youtube-offset-y: -1076px;
$s-social-youtube-width: 30px;
$s-social-youtube-height: 30px;
$s-social-youtube-total-width: 91px;
$s-social-youtube-total-height: 2071px;
$s-social-youtube-image: '../images/sprite.png';
$s-social-youtube: (0px, 1076px, 0px, -1076px, 30px, 30px, 91px, 2071px, '../images/sprite.png', 's-social_youtube', );
$s-star-active-lg-name: 's-star-active-lg';
$s-star-active-lg-x: 0px;
$s-star-active-lg-y: 736px;
$s-star-active-lg-offset-x: 0px;
$s-star-active-lg-offset-y: -736px;
$s-star-active-lg-width: 24px;
$s-star-active-lg-height: 24px;
$s-star-active-lg-total-width: 91px;
$s-star-active-lg-total-height: 2071px;
$s-star-active-lg-image: '../images/sprite.png';
$s-star-active-lg: (0px, 736px, 0px, -736px, 24px, 24px, 91px, 2071px, '../images/sprite.png', 's-star-active-lg', );
$s-star-active-name: 's-star-active';
$s-star-active-x: 0px;
$s-star-active-y: 170px;
$s-star-active-offset-x: 0px;
$s-star-active-offset-y: -170px;
$s-star-active-width: 14px;
$s-star-active-height: 14px;
$s-star-active-total-width: 91px;
$s-star-active-total-height: 2071px;
$s-star-active-image: '../images/sprite.png';
$s-star-active: (0px, 170px, 0px, -170px, 14px, 14px, 91px, 2071px, '../images/sprite.png', 's-star-active', );
$s-star-lg-name: 's-star-lg';
$s-star-lg-x: 0px;
$s-star-lg-y: 702px;
$s-star-lg-offset-x: 0px;
$s-star-lg-offset-y: -702px;
$s-star-lg-width: 24px;
$s-star-lg-height: 24px;
$s-star-lg-total-width: 91px;
$s-star-lg-total-height: 2071px;
$s-star-lg-image: '../images/sprite.png';
$s-star-lg: (0px, 702px, 0px, -702px, 24px, 24px, 91px, 2071px, '../images/sprite.png', 's-star-lg', );
$s-star-name: 's-star';
$s-star-x: 0px;
$s-star-y: 146px;
$s-star-offset-x: 0px;
$s-star-offset-y: -146px;
$s-star-width: 14px;
$s-star-height: 14px;
$s-star-total-width: 91px;
$s-star-total-height: 2071px;
$s-star-image: '../images/sprite.png';
$s-star: (0px, 146px, 0px, -146px, 14px, 14px, 91px, 2071px, '../images/sprite.png', 's-star', );
$s-triangle-down-name: 's-triangle_down';
$s-triangle-down-x: 0px;
$s-triangle-down-y: 0px;
$s-triangle-down-offset-x: 0px;
$s-triangle-down-offset-y: 0px;
$s-triangle-down-width: 10px;
$s-triangle-down-height: 5px;
$s-triangle-down-total-width: 91px;
$s-triangle-down-total-height: 2071px;
$s-triangle-down-image: '../images/sprite.png';
$s-triangle-down: (0px, 0px, 0px, 0px, 10px, 5px, 91px, 2071px, '../images/sprite.png', 's-triangle_down', );
$s-triangle-left-name: 's-triangle_left';
$s-triangle-left-x: 0px;
$s-triangle-left-y: 84px;
$s-triangle-left-offset-x: 0px;
$s-triangle-left-offset-y: -84px;
$s-triangle-left-width: 5px;
$s-triangle-left-height: 10px;
$s-triangle-left-total-width: 91px;
$s-triangle-left-total-height: 2071px;
$s-triangle-left-image: '../images/sprite.png';
$s-triangle-left: (0px, 84px, 0px, -84px, 5px, 10px, 91px, 2071px, '../images/sprite.png', 's-triangle_left', );
$s-triangle-right-name: 's-triangle_right';
$s-triangle-right-x: 0px;
$s-triangle-right-y: 64px;
$s-triangle-right-offset-x: 0px;
$s-triangle-right-offset-y: -64px;
$s-triangle-right-width: 5px;
$s-triangle-right-height: 10px;
$s-triangle-right-total-width: 91px;
$s-triangle-right-total-height: 2071px;
$s-triangle-right-image: '../images/sprite.png';
$s-triangle-right: (0px, 64px, 0px, -64px, 5px, 10px, 91px, 2071px, '../images/sprite.png', 's-triangle_right', );
$s-triangle-up-name: 's-triangle_up';
$s-triangle-up-x: 0px;
$s-triangle-up-y: 15px;
$s-triangle-up-offset-x: 0px;
$s-triangle-up-offset-y: -15px;
$s-triangle-up-width: 10px;
$s-triangle-up-height: 5px;
$s-triangle-up-total-width: 91px;
$s-triangle-up-total-height: 2071px;
$s-triangle-up-image: '../images/sprite.png';
$s-triangle-up: (0px, 15px, 0px, -15px, 10px, 5px, 91px, 2071px, '../images/sprite.png', 's-triangle_up', );
$s-zoom-name: 's-zoom';
$s-zoom-x: 0px;
$s-zoom-y: 1280px;
$s-zoom-offset-x: 0px;
$s-zoom-offset-y: -1280px;
$s-zoom-width: 35px;
$s-zoom-height: 35px;
$s-zoom-total-width: 91px;
$s-zoom-total-height: 2071px;
$s-zoom-image: '../images/sprite.png';
$s-zoom: (0px, 1280px, 0px, -1280px, 35px, 35px, 91px, 2071px, '../images/sprite.png', 's-zoom', );
$spritesheet-width: 91px;
$spritesheet-height: 2071px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($s-arrow-dark-left, $s-arrow-dark-right, $s-arrow-down, $s-arrow-down-lg, $s-arrow-left, $s-arrow-left-xl, $s-arrow-light-left, $s-arrow-light-right, $s-arrow-right, $s-arrow-right-xl, $s-arrow-up-lg, $s-attach, $s-bag, $s-basket, $s-breadcrumbs-arrow, $s-btn-share-fb, $s-bubles, $s-buy-cart, $s-cake, $s-cart, $s-close, $s-close-hover, $s-envelope, $s-header, $s-heart, $s-heart-2, $s-heart-3, $s-key, $s-label-hit, $s-label-new, $s-open-book, $s-open-book-sm, $s-pause, $s-people, $s-phone, $s-qa, $s-refresh, $s-rounded-blank, $s-social-be-xl, $s-social-dr-xl, $s-social-fb, $s-social-fb-xl, $s-social-inst, $s-social-inst-xl, $s-social-ok, $s-social-vk, $s-social-youtube, $s-star-active-lg, $s-star-active, $s-star-lg, $s-star, $s-triangle-down, $s-triangle-left, $s-triangle-right, $s-triangle-up, $s-zoom, );
$spritesheet: (91px, 2071px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
