$min-width: 1064px;
$max-width: 1210px;

$color: #4d002e;
$color-white: #fff;

$color-theme-xlight: #f3c7d3;
$color-theme-light: #ec81b2;
$color-theme: #da0465;
$color-theme-dull: #BA3F63;
$color-theme-dark: #630d3c;
$color-theme-xdark: #3a0e30;

$font: "opensans";
$font-theme: "merriweather";

$font-size-base: 16px;
$font-size-xxxs: 0.6em;
$font-size-xxs: 0.7em;
$font-size-xs: 0.8em;
$font-size-sm: 0.9em;
$font-size: 1.0em;
$font-size-lg: 1.1em;
$font-size-xl: 1.2em;
$font-size-xxl: 1.5em;
$font-size-xxxl: 1.9em;

$catalog-padding: 18px;
$catalog-padding-small: 12px;
$catalog-border: 3px;
$catalog-border-color: #DE8CB1;
$catalog-border-color-hover: #C93A66;

$gradient-left: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKUAAAAJCAYAAABT9exPAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABMSURBVFiF7dI7CgAgEMTQ0fvfeW08gIWfCHkgbLEoQlqSVFVL0ufZPZ+8mzC/fv+nPy3pq4vSLUYpHKMUjlEKxyiFY5TCMUrhGKVwBjogBA6MUNTZAAAAAElFTkSuQmCC');
$gradient-right: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKUAAAAJCAYAAABT9exPAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABLSURBVFiF7dLBCQAgDATBi/3X7PmxAB9KTtiBQF5KYMu2dc6S5p7b+8u3u/bu/7+7r6o8BIQhSsQhSsQhSsQhSsQhSsQhSsQhSsRZdcidEkTFxnAAAAAASUVORK5CYII=');
