.bx-ui-sls-container {
    min-height: 33px !important;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: pointer;
}

.open .qcart_new {
    display: block;
}

.mainnav__item > div {
    display: none;
    position: absolute;
    top: 100%;
    left: -200px;
    /* margin-top: 18px;
	width: 490px;*/
    z-index: 10;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
    line-height: 1.5;
}

.mainnav__item > .qcart_new .qcart__actions {
    display: block;
}

.qcart-empty .qcart__actions,
.qcart-empty .qcart__title {
    display: block;
}

.costofdelivery {
    padding-top: 5px;
    color: white;
    cursor: pointer;
    font-size: 0.9em;
    text-decoration: none;
    font-family: merriweather;
}

/* .mainnav__item {
	width: 165px;
} */

.mainnav__item > div.qcart_new {
    width: 490px;
}

.product__buy .js-add2cart {
    margin-top: 8px;
}

.wrap_basket:empty {
    display: none;
}

.product__buy .wrap_basket:not(:empty) {
    margin-top: 20px;
}

.product-line .product__price {
    float: left;
    line-height: 39px;
    margin-top: 5px;
    padding-right: 5px;
}

.product-content .product__price span {
    top: 5px;
}

.header-main input[type='text'] {
    width: 370px;
}

.header-fixed .search input[type='text'] {
    width: 315px;
}

/* .header-fixed .mainnav__item {
	width: 119px;
}

.header-fixed .mainnav__item.mainnav__item_for-delivery {
	width: 165px;
} */

/* .header-main .search {
	width: 469px;
} */

.header-main .search label {
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    font-family: merriweather;
    margin-bottom: 0;
    margin-left: 7px;
}

.header-main .search .access_check {
    margin-top: 3px;
}

.ui-tooltip {
    z-index: 999999;
}

.cart__delete a {
    background-image: url('/images/close.png');
    background-position: center center;
    width: 23px;
    height: 23px;
}

input.js-searchTitle {
    float: left;
    padding: 0 10px;
    border-radius: 7px 0 0 7px;
    border: none;
    line-height: 30px;
    outline: 0;
}

.api-search-button button {
    float: right;
    padding: 0;
    width: 75px;
    border-radius: 0 10px 10px 0;
    background: #ff4f93;
    border: none;
    font: 0.9em/1 merriweather;
    line-height: 30px;
    color: #fff;
    text-align: center;
    outline: 0;
    cursor: pointer;
}

.header-main .search input {
    float: left;
}

.header-main input[type='text'] {
    width: 369px;
}

.header-fixed .search input[type='text'] {
    /*width: 383px;*/
}

.header-fixed .header-main {
    z-index: 950;
}

.api-search-title .api-search-result .api-category-list {
    margin: 0;
}

/* .header-fixed .search {
	width: 345px;
	margin-top: 16px;
} */

.add_palitra {
    display: block;
    width: 120px;
    height: 120px;
    position: fixed;
    right: 10px;
    top: 70%;
    z-index: 99999;
}

.catalog-item__buy {
    height: auto;
}

.slider .swiper-slide {
    width: 31%;
    margin-right: 2%;
}

@media (max-width: 1100px) {
    .catalog-item__buy {
        height: 65px;
    }
    .wrap_basket {
        float: none;
    }
}

.topnav {
    width: 42%;
}

.header-phone {
    font-size: 20px;
    line-height: 20px;
    padding-top: 5px;
    text-align: center;
}

.header-phone .adress {
    font-size: 13px;
    line-height: 22px;
}

.header-phone a {
    color: white;
}

.header-auth a {
    padding-left: 12px;
    margin-left: 0;
}

.header-auth .btn_login:before,
.header-auth .btn_registration:before {
    background-image: none;
    margin-right: 0;
    width: 0;
    height: 0;
}

.btn.btn--primary {
    background-color: #ec1a63;
    position: relative;
}

.btn.btn--primary:hover,
.btn.btn--primary:focus {
    color: white;
}

.btn.btn--primary.btn-lg {
    padding: 19px 34px;
    font-size: 25px;
    line-height: 1.33333;
    height: 76px;
    border-radius: 54px;
}

.btn.btn--line:before {
    position: absolute;
    z-index: -1;
    content: '';
    width: 600px;
    height: 4px;
    right: 100%;
    top: 50%;
    margin-top: -2px;
    background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#ffffff),
            to(#ec1a63)
    );
    background: linear-gradient(to right, #ffffff 0%, #ec1a63 100%);
}

.btn.btn--line:after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 600px;
    height: 4px;
    left: 100%;
    top: 50%;
    margin-top: -2px;
    background: -webkit-gradient(
            linear,
            right top,
            left top,
            from(#ffffff),
            to(#ec1a63)
    );
    background: linear-gradient(to left, #ffffff 0%, #ec1a63 100%);
}

body {
    overflow-x: hidden;
}

#homepage .layout {
    color: #000;
    overflow-x: hidden;
}

#homepage .layout .btn-wrap {
    margin: 45px 0;
}

#homepage .layout .h1 {
    font-size: 56px;
    font-weight: 400;
    color: #000;
}

#homepage .layout .h1 strong {
    font-weight: 700;
}

#homepage .layout,
#homepage .layout *,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'opensans', sans-serif;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.justify-content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.align-self-center {
    -ms-flex-item-align: center;
    align-self: center;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.b-statistic__item {
    min-width: 310px;
    font-size: 18px;
    margin: 25px 0;
}
.b-statistic__item h2 {
    margin: 0;
    font-size: inherit;
}
.b-statistic__item strong {
    font-size: 72px;
    font-weight: 400;
    display: block;
}

.b-point {
    margin: 35px 0;
}

.b-point__item {
    min-width: 33%;
    font-size: 14px;
}

.b-point__icon {
    width: 124px;
    height: 124px;
    display: inline-block;
}

.b-point__icon svg {
    width: 100%;
    height: 100%;
}

.b-point__title {
    font-size: 28px;
    font-weight: 400;
}

.our-shop__item {
    margin: 25px 0 37px;
}

.our-shop__img {
    margin-right: 20px;
}

.our-shop__img img {
    margin-right: 5px;
    max-width: none;
}

.our-shop__contact {
    font-size: 14px;
}

.our-shop__contact .svg-icon {
    width: 80px;
    height: 80px;
}

.handbook {
    font-size: 14px;
}

.handbook h3 {
    font-size: 24px;
}

.handbook .btn.btn--primary {
    font-size: 24px;
    padding: 9px 80px;
    border-radius: 24px;
    height: 48px;
}

.section {
    padding: 25px;
}

.mainnav__item .mainnav__title {
    padding: 14px 10px 10px;
}

.mainnav__item_for-pastry .mainnav__title:before {
    background-image: url(/images/icon-cake.png);
    background-position: 0 0;
    width: 41px;
    height: 40px;
}
.mainnav__item_for-delivery .mainnav__title:before {
    background-image: url(/images/icon-delivery.png);
    background-position: 0 0;
    width: 52px;
    height: 40px;
}
/* .mainnav__item_favorite {
	width: 110px;
} */
.mainnav__item_favorite .mainnav__title:before {
    background-image: url(/images/icon-favorite.png);
    background-position: 0 0;
    width: 43px;
    height: 40px;
}
/* .mainnav__item_cart {
	width: 90px;
} */
.mainnav__item_cart .mainnav__title:before {
    background-image: url(/images/icon-basket.png);
    background-position: 0 0;
    width: 39px;
    height: 40px;
    margin-top: 0;
    margin-bottom: 5px;
}

.main-banner.main-banner--sub {
    padding-bottom: 35px;
    height: 460px;
}

.main-banner.main-banner--sub .slider-nav {
    display: block;
    bottom: 5px;
}

.main-banner.main-banner--sub .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 2px solid #b2b3b3;
}

.main-banner.main-banner--sub
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #ec1a63;
}

.main-banner.main-banner--sub .swiper-button-prev,
.main-banner.main-banner--sub .swiper-button-next {
    position: absolute;
    top: 40%;
}

.main-banner.main-banner--sub .swiper-button-prev {
    left: 25px;
}

.main-banner.main-banner--sub .swiper-button-next {
    right: 25px;
}

.paginate {
    position: relative;
    padding: 10px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    border: 2px solid #fff;
}

.paginate i {
    position: absolute;
    top: 47%;
    left: 31%;
    width: 14px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.paginate.paginate--left {
    left: 15px;
}

.paginate.paginate--left i {
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.paginate.paginate--left i:first-child {
    -webkit-transform: translate(0, -1px) rotate(45deg);
    -ms-transform: translate(0, -1px) rotate(45deg);
    transform: translate(0, -1px) rotate(45deg);
}

.paginate.paginate--left i:last-child {
    -webkit-transform: translate(0, 0) rotate(-45deg);
    -ms-transform: translate(0, 0) rotate(-45deg);
    transform: translate(0, 0) rotate(-45deg);
}

.paginate.paginate--left:hover i:first-child {
    -webkit-transform: translate(0, -1px) rotate(35deg);
    -ms-transform: translate(0, -1px) rotate(35deg);
    transform: translate(0, -1px) rotate(35deg);
}

.paginate.paginate--left:hover i:last-child {
    -webkit-transform: translate(0, 0) rotate(-35deg);
    -ms-transform: translate(0, 0) rotate(-35deg);
    transform: translate(0, 0) rotate(-35deg);
}

.paginate.paginate--left:active i:first-child {
    -webkit-transform: translate(1px, -1px) rotate(40deg);
    -ms-transform: translate(1px, -1px) rotate(40deg);
    transform: translate(1px, -1px) rotate(40deg);
}

.paginate.paginate--left:active i:last-child {
    -webkit-transform: translate(1px, 0) rotate(-40deg);
    -ms-transform: translate(1px, 0) rotate(-40deg);
    transform: translate(1px, 0) rotate(-40deg);
}

.paginate.paginate--left[data-state='disabled'] i:first-child {
    -webkit-transform: translate(-5px, 0) rotate(0deg);
    -ms-transform: translate(-5px, 0) rotate(0deg);
    transform: translate(-5px, 0) rotate(0deg);
}

.paginate.paginate--left[data-state='disabled'] i:last-child {
    -webkit-transform: translate(-5px, 0) rotate(0deg);
    -ms-transform: translate(-5px, 0) rotate(0deg);
    transform: translate(-5px, 0) rotate(0deg);
}

.paginate.paginate--left[data-state='disabled']:hover i:first-child {
    -webkit-transform: translate(-5px, 0) rotate(0deg);
    -ms-transform: translate(-5px, 0) rotate(0deg);
    transform: translate(-5px, 0) rotate(0deg);
}

.paginate.paginate--left[data-state='disabled']:hover i:last-child {
    -webkit-transform: translate(-5px, 0) rotate(0deg);
    -ms-transform: translate(-5px, 0) rotate(0deg);
    transform: translate(-5px, 0) rotate(0deg);
}

.paginate.paginate--right {
    right: 15px;
}

.paginate.paginate--right i {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.paginate.paginate--right i:first-child {
    -webkit-transform: translate(0, 1px) rotate(45deg);
    -ms-transform: translate(0, 1px) rotate(45deg);
    transform: translate(0, 1px) rotate(45deg);
}

.paginate.paginate--right i:last-child {
    -webkit-transform: translate(0, 0) rotate(-45deg);
    -ms-transform: translate(0, 0) rotate(-45deg);
    transform: translate(0, 0) rotate(-45deg);
}

.paginate.paginate--right:hover i:first-child {
    -webkit-transform: translate(0, 1px) rotate(35deg);
    -ms-transform: translate(0, 1px) rotate(35deg);
    transform: translate(0, 1px) rotate(35deg);
}

.paginate.paginate--right:hover i:last-child {
    -webkit-transform: translate(0, 0) rotate(-35deg);
    -ms-transform: translate(0, 0) rotate(-35deg);
    transform: translate(0, 0) rotate(-35deg);
}

.paginate.paginate--right:active i:first-child {
    -webkit-transform: translate(1px, 1px) rotate(40deg);
    -ms-transform: translate(1px, 1px) rotate(40deg);
    transform: translate(1px, 1px) rotate(40deg);
}

.paginate.paginate--right:active i:last-child {
    -webkit-transform: translate(1px, 0) rotate(-40deg);
    -ms-transform: translate(1px, 0) rotate(-40deg);
    transform: translate(1px, 0) rotate(-40deg);
}

.paginate.paginate--right[data-state='disabled'] i:first-child {
    -webkit-transform: translate(5px, 0) rotate(0deg);
    -ms-transform: translate(5px, 0) rotate(0deg);
    transform: translate(5px, 0) rotate(0deg);
}

.paginate.paginate--right[data-state='disabled'] i:last-child {
    -webkit-transform: translate(5px, 0) rotate(0deg);
    -ms-transform: translate(5px, 0) rotate(0deg);
    transform: translate(5px, 0) rotate(0deg);
}

.paginate.paginate--right[data-state='disabled']:hover i:first-child {
    -webkit-transform: translate(5px, 0) rotate(0deg);
    -ms-transform: translate(5px, 0) rotate(0deg);
    transform: translate(5px, 0) rotate(0deg);
}

.paginate.paginate--right[data-state='disabled']:hover i:last-child {
    -webkit-transform: translate(5px, 0) rotate(0deg);
    -ms-transform: translate(5px, 0) rotate(0deg);
    transform: translate(5px, 0) rotate(0deg);
}

.paginate[data-state='disabled'] {
    opacity: 0.3;
    cursor: default;
}

/* Header */

.header-top {
    background: #fefefe;
    min-height: 45px;
}

.seocontext {
    width: 55%;
    text-align: left;
}

.seocontext-selected-location {
    font-size: 22px;
    font-weight: bold;
}

.seocontext-selected-location-address {
    font-size: 14px;
    color: #000;
    padding-left: 12px;
}

.header-phone {
    padding: 7px 23px;
    min-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header-phone:before {
    position: relative;
    top: 3px;
}

.seocontext {
    padding-top: 5px;
}

.header-auth {
    padding: 11px 0 17px 7px;
}

/* .header-main .search {
	padding: 5px 25px 10px 25px;
} */

.header-main .search input {
    line-height: 24px;
    border-radius: 12px 0 0 12px;
}

.header-main input[type='text'],
.header-fixed .search input[type='text'] {
    width: 100%;
}

.header-main .search button {
    line-height: 24px;
    border-radius: 0 12px 12px 0;
}

.header-main .search label {
    margin-left: 0;
}

.checkbox--styled {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
    visibility: hidden;
}

.checkbox--styled + label {
    position: relative;
    padding: 0 0 0 25px;
    cursor: pointer;
}

.checkbox--styled + label:before {
    opacity: 0.2;
    content: '';
    position: absolute;
    z-index: 2;
    width: 8px;
    height: 5px;
    background: transparent;
    top: 5px;
    left: 3px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox--styled + label:after {
    opacity: 1;
    content: '';
    position: absolute;
    z-index: 1;
    width: 14px;
    height: 14px;
    background: transparent;
    top: 2px;
    left: 0;
    border: 1px solid #fff;
}

.checkbox--styled:checked + label:before {
    opacity: 1;
}
