<footer class="footer">
    <div class="footer-nav">
        <div class="container clearfix">
            <div class="footer-nav_left">
                <div class="footcatnav">
                    <div class="footcatnav__title h1">Каталог</div>
                    <ul>
                        <li>
                            <a href="">Раздел</a>
                            <ul>
                                <li><a href="">Один</a></li>
                                <li><a href="">Два</a></li>
                                <li><a href="">Три</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Раздел</a>
                            <ul>
                                <li><a href="">Один</a></li>
                                <li><a href="">Два</a></li>
                                <li><a href="">Три</a></li>
                                <li><a href="">Четыре</a></li>
                                <li><a href="">Пять</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Раздел</a>
                            <ul>
                                <li><a href="">Один</a></li>
                                <li><a href="">Два</a></li>
                                <li><a href="">Три</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Раздел</a>
                            <ul>
                                <li><a href="">Один</a></li>
                                <li><a href="">Два</a></li>
                                <li><a href="">Три</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Раздел</a>
                            <ul>
                                <li><a href="">Один</a></li>
                                <li><a href="">Два</a></li>
                                <li><a href="">Три</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Раздел</a>
                            <ul>
                                <li><a href="">Один</a></li>
                                <li><a href="">Два</a></li>
                                <li><a href="">Три</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <nav class="bottomnav">
                    <a href="" class="theme-link_light">О компании</a>
                    <a href="" class="theme-link_light">Новости</a>
                    <a href="" class="theme-link_light">Рецепты</a>
                    <a href="" class="theme-link_light">Как сделать заказ?</a>
                    <a href="" class="theme-link_light">Дисконт</a>
                    <a href="" class="theme-link_light">Контакты</a>
                </nav>
            </div>

            <div class="footer-nav_right">
                <div class="feedback">
                    <div class="feedback__title h1">Напишите нам сообщение</div>
                    <form method="post">
                        <dl class="form-row">
                            <dt>ФИО</dt>
                            <dd><input type="text" placeholder="Укажите Имя и Фамилию" /></dd>
                        </dl>
                        <dl class="form-row">
                            <dt>Телефон или почта</dt>
                            <dd><input type="text" placeholder="Укажите как с Вами можно связаться" /></dd>
                        </dl>
                        <dl class="form-row">
                            <dt>Сообщение</dt>
                            <dd><textarea rows="7" placeholder="Тут можно написать сообщение для нас"></textarea></dd>
                        </dl>
                        <div class="form-actions">
                            <label class="input-file-styled"><input type="file"><span class="theme-link">Выберите файл</span></label>
                            <button type="submit" class="btn btn-b">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main">
        <div class="container clearfix">
            <div class="footer-logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
            <div class="footer-slogan">
                <div class="slogan__title">Craftology</div>
                <div class="slogan__text">Магазин для мастеров</div>
            </div>
            <div class="footer__download-price">
                <a href="">Скачать прайс лист</a>
            </div>
            <div class="footer__phone js-dialog" data-href="/local/source/build/ajax__feedback.html">
                <span>+7 (012) 345 67 89</span><a href="" class="btn_open-feedback"></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container clearfix">
            <div class="legal-name">ООО "Крафтология"</div>
            <div class="copyright">Все права защищены, 2016</div>
            <div class="powerby">Сайт разработан в <a href="">PRM-Studio</a></div>
        </div>
    </div>
</footer>