<header class="header">
    <div class="header-top">
        <div class="container">
            <nav class="topnav">
                <a href="" class="theme-link">О компании</a>
                <a href="news.html" class="theme-link">Новости</a>
                <a href="recipes.html" class="theme-link">Рецепты</a>
                <a href="" class="theme-link">Как сделать заказ?</a>
                <a href="" class="theme-link">Дисконт</a>
                <a href="" class="theme-link">Контакты</a>
            </nav>
            <div class="header-auth">
                <a href="" class="btn_login js-dialog" data-dialog="auth"><span>Вход</span></a>
                <a href="" class="btn_registration js-dialog" data-dialog="registration"><span>Регистрация</span></a>
            </div>
            <div class="header-phone js-dialog" data-href="/local/source/build/ajax__feedback.html"><span>+7 (012) 345 67 89</span><a href="" class="btn_open-feedback"></a></div>
        </div>
    </div>
    <div class="header-main">
        <div class="container clearfix">
            <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
            <div class="slogan">
                <div class="slogan__title">Craftology</div>
                <div class="slogan__text">Магазин для мастеров</div>
            </div>
            <div class="mainnav__item mainnav__item_for-pastry">
                <a href="catalog.html" class="mainnav__title js-btnHoverSubMainnav"><span>Меню кондитера</span></a>
                <div class="mainnavsub">
                    <ul class="top-line">
                        <li><a href="catalog.html">Пасха</a></li>
                        <li><a href="catalog.html">Новинки</a></li>
                        <li><a href="catalog.html">Книги по украшения тортов</a></li>
                        <li><a href="catalog.html">Мастика оптом</a></li>
                        <li><a href="catalog.html">Скидки</a></li>
                    </ul>
                    <div class="columns">
                        <div class="third">
                            <ul>
                                <li><a href="catalog.html">Мастика, айсинг</a></li>
                                <li class="is-parent">
                                    <div class="mainnavsub__sub">
                                    <a href="catalog.html">Пищевые красители</a>
                                    <ul>
                                        <li><a href="catalog.html">Пищевые красители (Россия)</a></li>
                                        <li><a href="catalog.html">Краски Americolor (США)</a></li>
                                        <li><a href="catalog.html">Красители FoodColour</a></li>
                                        <li><a href="catalog.html">Натуральные пищевые красители</a></li>
                                        <li><a href="catalog.html">Сухие красители</a></li>
                                        <li><a href="catalog.html">Красители для шоколада</a></li>
                                        <li><a href="catalog.html">Кандурин</a></li>
                                        <li><a href="catalog.html">Фломастеры, гели для рисования</a></li>
                                        <li><a href="catalog.html">Красители - спреи</a></li>
                                    </ul>
                                    </div>
                                </li>
                                <li><a href="catalog.html">Сахарные шарики</a></li>
                                <li><a href="catalog.html">Посыпки кондитерские</a></li>
                                <li class="is-parent">
                                    <div class="mainnavsub__sub">
                                    <a href="catalog.html">Печать на вафельной и сахарной бумаге</a>
                                    <ul>
                                        <li><a href="catalog.html">Вафельные картинки</a></li>
                                        <li><a href="catalog.html">Сахарные картинки</a></li>
                                        <li><a href="catalog.html">Печать по Вашему макету</a></li>
                                        <li><a href="catalog.html">Для пищевого принтера</a></li>
                                    </ul>
                                    </div>
                                </li>
                                <li><a href="catalog.html">Для цветов: тычинки, проволока, лента</a></li>
                                <li><a href="catalog.html">Вафельные украшения</a></li>
                                <li><a href="catalog.html">Шоколадные украшения</a></li>
                                <li><a href="catalog.html">Сахарные кристаллы</a></li>
                                <li><a href="catalog.html">Пищевые глиттеры (блёстки)</a></li>
                                <li><a href="catalog.html">Вырубки, плунжеры, штампы</a></li>
                                <li><a href="catalog.html">Вырубки для печенья</a></li>
                                <li><a href="catalog.html">Кондитерские инструменты</a></li>
                                <li><a href="catalog.html">Кондитерские мешки и шприцы</a></li>
                                <li class="is-parent">
                                    <div class="mainnavsub__sub">
                                    <a href="catalog.html">Кондитерские насадки</a>
                                    <ul>
                                        <li><a href="catalog.html">Кондитерские насадки Martellato</a></li>
                                        <li><a href="catalog.html">Кондитерские насадки Wilton</a></li>
                                        <li><a href="catalog.html">Наборы насадок</a></li>
                                        <li><a href="catalog.html">Насадки Тюльпан, Роза, Лепесток</a></li>
                                        <li><a href="catalog.html">Насадки Звезды</a></li>
                                    </ul>
                                    </div>
                                </li>
                                <li><a href="catalog.html">Профессиональный кондитерский инвентарь</a></li>
                                <li><a href="catalog.html">Аэрографы для кондитера</a></li>
                                <li><a href="catalog.html">Фигурки для торта</a></li>
                                <li><a href="catalog.html">Трафареты для тортов</a></li>
                            </ul>
                        </div>
                        <div class="third">
                            <ul>
                                <li><a href="catalog.html">Скалки</a></li>
                                <li><a href="catalog.html">Пластиковые молды</a></li>
                                <li><a href="catalog.html">Силиконовые молды и коврики</a></li>
                                <li><a href="catalog.html">Текстурные листы</a></li>
                                <li><a href="catalog.html">Глазури, шоколад, какао</a></li>
                                <li><a href="catalog.html">Кондитерские добавки</a></li>
                                <li><a href="catalog.html">Пищевые ароматизаторы</a></li>
                                <li><a href="catalog.html">Гели кондитерские</a></li>
                                <li><a href="catalog.html">Формы для выпечки стальные</a></li>
                                <li><a href="catalog.html">Формы для муссовых тортов и пирожных</a></li>
                                <li><a href="catalog.html">Ленты бордюрные</a></li>
                                <li><a href="catalog.html">Формы для леденцов и конфет</a></li>
                                <li><a href="catalog.html">Формы для кексов (капкейков)</a></li>
                                <li><a href="catalog.html">Формы для куличей</a></li>
                                <li><a href="catalog.html">Подставки для торта, поворотные столы</a></li>
                                <li><a href="catalog.html">Подложки для тортов</a></li>
                                <li><a href="catalog.html">Упаковка для тортов и пирожных</a></li>
                                <li><a href="catalog.html">Ленты атласные</a></li>
                            </ul>
                        </div>
                        <div class="third">
                            <a href="" style="text-align: center;"><img src="images/upload/news_1.jpg" /></a>
                            <a href="" style="text-align: center;"><img src="images/upload/news_2.jpg" /></a>
                            <a href="" style="text-align: center;"><img src="images/upload/news_3.jpg" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainnav__item mainnav__item_for-soap-making">
                <a href="catalog.html" class="mainnav__title js-btnHoverSubMainnav"><span>Меню мыловара</span></a>
                <div class="mainnavsub">
                    <ul class="top-line">
                        <li><a href="catalog.html">8 Марта</a></li>
                        <li><a href="catalog.html">Новинки</a></li>
                        <li><a href="catalog.html">Книги по мыловарению</a></li>
                        <li><a href="catalog.html">Выгодные наборы</a></li>
                        <li><a href="catalog.html">Упаковка</a></li>
                    </ul>
                    <div class="columns">
                        <div class="third">
                            <ul>
                                <li><a href="catalog.html">Мыльная основа</a></li>
                                <li><a href="catalog.html">Базовые масла</a></li>
                                <li class="is-parent">
                                    <div class="mainnavsub__sub">
                                    <a href="catalog.html">Красители для мыла</a>
                                    <ul>
                                        <li><a href="catalog.html">Пищевые красители</a></li>
                                        <li><a href="catalog.html">Косметические пигменты</a></li>
                                        <li><a href="catalog.html">Неоновые пигменты</a></li>
                                        <li><a href="catalog.html">Перламутры</a></li>
                                        <li><a href="catalog.html">Глиттеры</a></li>
                                        <li><a href="catalog.html">Люминофоры</a></li>
                                        <li><a href="catalog.html">Акриловые краски для мыла</a></li>
                                    </ul>
                                    </div>
                                </li>
                                <li><a href="catalog.html">Эфирные масла</a></li>
                                <li class="is-parent">
                                    <div class="mainnavsub__sub">
                                    <a href="catalog.html">Косметические отдушки</a>
                                    <ul>
                                        <li><a href="catalog.html">Классические ароматы (Франция)</a></li>
                                        <li><a href="catalog.html">Парфюмерные ароматы (Франция)</a></li>
                                        <li><a href="catalog.html">Косметические отдушки (США)</a></li>
                                        <li><a href="catalog.html">Фиксатор и стабилизатор</a></li>
                                    </ul>
                                    </div>
                                </li>
                                <li class="is-parent">
                                    <div class="mainnavsub__sub">
                                    <a href="catalog.html">Формы для мыла</a>
                                    <ul>
                                        <li><a href="catalog.html">Пластиковые формы</a></li>
                                        <li><a href="catalog.html">Силиконовые формы</a></li>
                                        <li><a href="catalog.html">Базовые формы и текстуры</a></li>
                                        <li><a href="catalog.html">Эксклюзивные формы</a></li>
                                        <li><a href="catalog.html">Пластиковые 3D формы</a></li>
                                        <li><a href="catalog.html">Пластиковые мини-формы</a></li>
                                        <li><a href="catalog.html">Пластиковый короб для мыла</a></li>
                                    </ul>
                                    </div>
                                </li>
                                <li><a href="catalog.html">Штампы для мыла</a></li>
                                <li class="is-parent">
                                    <div class="mainnavsub__sub">
                                    <a href="catalog.html">Дополнения</a>
                                    <ul>
                                        <li><a href="catalog.html">Люфа</a></li>
                                        <li><a href="catalog.html">Ментол, вощина, глина</a></li>
                                        <li><a href="catalog.html">Гранулы для скрабов</a></li>
                                        <li><a href="catalog.html">Компоненты для косметики</a></li>
                                    </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="third">
                            <ul>
                                <li><a href="catalog.html">Для бомбочек</a></li>
                                <li><a href="catalog.html">Ластики для мыла</a></li>
                                <li><a href="catalog.html">Жемчужины для ванны</a></li>
                                <li><a href="catalog.html">Товары для помад</a></li>
                                <li><a href="catalog.html">Мыльные розы</a></li>
                                <li><a href="catalog.html">Инструменты</a></li>
                                <li><a href="catalog.html">Тара, флаконы</a></li>
                                <li><a href="catalog.html">Водорастворимая бумага</a></li>
                            </ul>
                        </div>
                        <div class="third">
                            <a href="" style="text-align: center;"><img src="images/upload/news_3.jpg" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainnav__item mainnav__item_favorite">
                <a href="favorite.html" class="mainnav__title"><span>Избранное<br/>(55 товаров)</span></a>
            </div>
            <div class="mainnav__item mainnav__item_cart">
                <a href="" class="mainnav__title js-btnOpenSubMainnav"><span>Корзина<br/>(1560 <span class="rub">Р</span>)</span></a>
                <div class="qcart">
                    <div class="qcart__title">В корзине 10 товаров — 999 000 руб.</div>
                    <div class="qcart__items">
                        <div class="qcart__item">
                            <div class="qcart__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="qcart__details">
                                <div class="qcart__name"><a href="">Стенд для кейк-попсов на 19&nbsp;шт.</a></div>
                            </div>
                            <div class="qcart__price">470 руб.</div>
                        </div>
                        <div class="qcart__item">
                            <div class="qcart__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="qcart__details">
                                <div class="qcart__name"><a href="">Стенд для кейк-попсов на 19&nbsp;шт.</a></div>
                            </div>
                            <div class="qcart__price">470 руб.</div>
                        </div>
                        <div class="qcart__item">
                            <div class="qcart__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="qcart__details">
                                <div class="qcart__name"><a href="">Стенд для кейк-попсов на 19&nbsp;шт.</a></div>
                            </div>
                            <div class="qcart__price">470 руб.</div>
                        </div>
                        <div class="qcart__item">
                            <div class="qcart__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="qcart__details">
                                <div class="qcart__name"><a href="">Стенд для кейк-попсов на 19&nbsp;шт.</a></div>
                            </div>
                            <div class="qcart__price">470 руб.</div>
                        </div>
                        <div class="qcart__item">
                            <div class="qcart__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="qcart__details">
                                <div class="qcart__name"><a href="">Стенд для кейк-попсов на 19&nbsp;шт.</a></div>
                            </div>
                            <div class="qcart__price">470 руб.</div>
                        </div>
                        <div class="qcart__item">
                            <div class="qcart__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="qcart__details">
                                <div class="qcart__name"><a href="">Стенд для кейк-попсов на 19&nbsp;шт.</a></div>
                            </div>
                            <div class="qcart__price">470 руб.</div>
                        </div>
                        <div class="qcart__item">
                            <div class="qcart__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="qcart__details">
                                <div class="qcart__name"><a href="">Стенд для кейк-попсов на 19&nbsp;шт.</a></div>
                            </div>
                            <div class="qcart__price">470 руб.</div>
                        </div>
                    </div>
                    <div class="qcart__actions">
                        <a href="cart.html" class="btn go-to-cart">Перейти в корзину</a>
                        <a href="" class="btn go-to-order">Оформить заказ</a>
                    </div>
                </div>
            </div>
            <div class="to-order">
                <a href="">Оформить заказ</a>
            </div>
            <div class="search">
                <form action="search.html">
                    <input type="text" placeholder="Поиск по каталогу товаров"/>
                    <button type="submit">Поиск</button>
                </form>
            </div>
        </div>
    </div>
</header>