<div class="h1 center">Мы ВКонтакте:</div>
<div class="social-widget-vk">
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>

<div class="h1 center">Мы в соц. сетях:</div>
<div class="sidebar__social-links">
    <a href="" class="social-dr"></a>
    <a href="" class="social-be"></a>
    <a href="" class="social-fb"></a>
    <a href="" class="social-inst"></a>
</div>