@mixin sprite-action($selector, $pos, $link, $hover) {
  #{$selector} {
    &#{$pos} {
      @include sprite($link);
    }
    &:hover#{$pos} {
      @include sprite-position($hover);
    }
  }
}

@mixin icon-before() {
  margin-right: 10px;
  background-repeat: no-repeat;
  display: inline-block;
  content: '';
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}

@mixin icon-after() {
  margin-left: 10px;
  background-repeat: no-repeat;
  display: inline-block;
  content: '';
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}