@import 'css2scss/swiper.min';
@import 'css2scss/normalize';
@import 'css2scss/jquery.fancybox';

$grid-gutter-width: 30px;

$container-tablet: (720px + $grid-gutter-width);
$container-sm: $container-tablet;
$container-desktop: (940px + $grid-gutter-width);
$container-md: $container-desktop;
$container-large-desktop: (1170px + $grid-gutter-width);
$container-lg: $container-large-desktop;
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';