.access_check{
    font-size: 14px;
    margin-top: 10px;
}
.catalog__meta .count{
    clear: both;
}
.access_check label{
    margin-left: 7px;
    font: 18px/1.3 opensans;
    line-height: 1.42857;
    font-weight: normal;
}
.add2cart span.active{
    padding: 0px 15px;
    font-size: 21px;
    font-weight: bold;
}
.add2cart span{
    padding: 0px 15px;
}
.add2cart span.active:before{
    content:none;
}
.qty .qty-control .incr {
    margin-bottom: 5px;
    background-image: url(/css/../images/sprite.png);
    background-position: 0 -15px;
    width: 10px;
    height: 5px;
    cursor: pointer;
}
.qty .qty-control .decr {
    margin-top: 5px;
    background-image: url(/css/../images/sprite.png);
    background-position: 0 0;
    width: 10px;
    height: 5px;
    cursor: pointer;
}
.qty-incr,
.qty-decr{
    font-size: 0px;
}
.wrap_basket{
    position: relative;
    z-index: 100;
    font-size: 13px;
    float: right;
    width: 78px;
    padding: 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.wrap_basket a{
    text-decoration: underline;
}
button,
button:active,
button:focus {
    outline: none!important;
}
.mainnav__item{
    z-index: 200;
}
/*.wrap_basket:after{
    content: '';
    height: 30px;
    border: 10px solid transparent;
    border-top: 10px solid #ec81b2;
    content: '';
    position: absolute;
    left: 42%;
    bottom: -30px;
}*/
.catalog__items .js-add2cart{
    padding: 0;
}

.catalog-item_forbidden a {
	color: white;
}

.catalog-item_forbidden {
	position: absolute;
	color: white;
	font-size: 12px;
	padding: 5px;
	background-color: rgba(202,33,98, 0.6);
	top: 193px;
	width: 100%;
}

.catalog-item_forbidden.limited {
	background-color: rgba(132, 120, 108, 0.6);
}