<div class="feedback">
    <div class="feedback__title h1">Напишите нам сообщение</div>
    <form method="post">
        <dl class="form-row">
            <dt>ФИО</dt>
            <dd><input type="text" placeholder="Укажите Имя и Фамилию" /></dd>
        </dl>
        <dl class="form-row">
            <dt>Телефон или почта</dt>
            <dd><input type="text" placeholder="Укажите как с Вами можно связаться" /></dd>
        </dl>
        <dl class="form-row">
            <dt>Сообщение</dt>
            <dd><textarea rows="7" placeholder="Тут можно написать сообщение для нас"></textarea></dd>
        </dl>
        <div class="form-actions">
            <label class="input-file-styled"><input type="file"><span class="theme-link">Выберите файл</span></label>
            <button type="submit" class="btn btn-b">Отправить</button>
        </div>
    </form>
</div>