<div class="dialog_auth">
    <form>
        <div class="dialog-title">Вход в "Мастерскую идей"</div>
        <div class="form-row"><input type="text" value="" name="" placeholder="Эл. почта"/></div>
        <div class="form-row"><input type="text" value="" name="" placeholder="Пароль" /></div>
        <div class="form-actions">
            <div class="justify-items">
                <span class="justify-item"></span>
                <span class="remember-me justify-item"><input type="checkbox" /><label>Запомнить меня</label></span>
                <button type="submit" class="btn justify-item">Войти</button>
                <span class="justify-item"></span>
            </div>
        </div>
    </form>
</div>
<div class="dialog_auth-social">
    <div class="dialog-title">Вход через социальные сети</div>
    <div class="auth-social">
        <a href="" class="social_vk"></a>
        <a href="" class="social_fb"></a>
        <a href="" class="social_inst"></a>
        <a href="" class="social_ok"></a>
        <a href="" class="social_youtube"></a>
    </div>
</div>
<div class="open-other-dialogs">
    <div class="justify-items">
        <span class="justify-item"></span>
        <a href="" class="open-forgot justify-item js-dialog" data-dialog="forgotpasswd">Забыли пароль</a>
        <a href="" class="open-register justify-item btn js-dialog" data-dialog="registration">Регистрация</a>
        <span class="justify-item"></span>
    </div>
</div>