<div class="dialog_auth">
    <form>
        <div class="dialog-title">Забыли пароль</div>
        <div class="dialog-descr">В форму ниже введите свой электронный адрес, указанный при регистрации, и через несколько минут на Ваш E-mail придет письмо с паролем</div>
        <div class="form-row"><input type="text" value="" name="" placeholder="Эл. почта"/></div>
        <div class="form-actions">
            <div class="justify-items">
                <span class="justify-item"></span>
                <button type="submit" class="btn justify-item">Отмена</button>
                <button type="submit" class="btn justify-item">Восстановить</button>
                <span class="justify-item"></span>
            </div>
    </form>
</div>
<div class="dialog_auth-social">
    <div class="dialog-title">Вход через социальные сети</div>
    <div class="auth-social">
        <a href="" class="social_vk"></a>
        <a href="" class="social_fb"></a>
        <a href="" class="social_inst"></a>
        <a href="" class="social_ok"></a>
        <a href="" class="social_youtube"></a>
    </div>
</div>
<div class="open-other-dialogs">
    <div class="justify-items">
        <span class="justify-item"></span>
        <a href="" class="open-forgot justify-item js-dialog" data-dialog="auth">Войти</a>
        <a href="" class="open-register justify-item btn js-dialog" data-dialog="registration">Регистрация</a>
        <span class="justify-item"></span>
    </div>
</div>