<div class="dialog_auth">
    <form>
        <div class="dialog-title">Регистрация</div>
        <div class="form-row"><input type="text" value="" name="" placeholder="ФИО"/></div>
        <div class="form-row"><input type="text" value="" name="" placeholder="Эл. почта"/></div>
        <div class="form-row"><input type="tel" value="" name="" placeholder="Телефон" class="js-mask" data-pattern="phone"/></div>
        <div class="form-row"><input type="text" value="" name="" placeholder="Пароль" /></div>
        <div class="form-row"><input type="text" value="" name="" placeholder="Повтор пароля" /></div>
        <div class="form-registration__noconfirm-label">Подтверждение электронной почты не потребуется</div>
        <div class="form-actions center">
            <div class="terms-of-service"><input type="checkbox" /> <label>Я согласен с <a href="">правилами ресурса</a></label></div>
            <button type="submit" class="btn">Регистрация</button>
        </div>
    </form>
</div>
<div class="dialog_auth-social">
    <div class="dialog-title">Вход через социальные сети</div>
    <div class="auth-social">
        <a href="" class="social_vk"></a>
        <a href="" class="social_fb"></a>
        <a href="" class="social_inst"></a>
        <a href="" class="social_ok"></a>
        <a href="" class="social_youtube"></a>
    </div>
</div>
<div class="open-other-dialogs">
    <div class="justify-items">
        <span class="justify-item"></span>
        <a href="" class="open-forgot justify-item js-dialog" data-dialog="forgotpasswd">Забыли пароль</a>
        <a href="" class="open-register justify-item btn js-dialog" data-dialog="auth">Войти</a>
        <span class="justify-item"></span>
    </div>
</div>