@@include('template/_head.html', { "title": "Корзина" })
<body>
@@include('template/_old_ie_update.html')
@@include('template/_header.html')

<div class="page_title">
    <div class="container">
        <h1>Корзина</h1>
    </div>
</div>

<div class="container">
    <div class="layout">

        <div class="cart">
            <div class="cart-before">
                <div class="cart-before__text">Чтобы продолжить оформление нажмите кнопку Оформить заказ"</div>
                <a href class="bbtn cart-before__to-order">Оформить заказ</a>
            </div>
            <div class="cart__items">
                <div class="cart__item">
                    <div class="cart__image"><a href="catalog-detail.html"><img src="images/upload/product_1.jpeg" alt="" height="60" /></a></div>
                    <div class="cart__name"><a href="catalog-detail.html">Стенд для кейк-попсов на 19 шт.</a></div>
                    <div class="cart__price">210 руб.</div>
                    <div class="cart__qty">
                        <div class="qty">
                            <input type="text" value="2" />
                            <div class="qty-control">
                                <div class="qty-incr"></div>
                                <div class="qty-decr"></div>
                            </div>
                        </div>
                    </div>
                    <div class="cart__sum">420 руб.</div>
                    <div class="cart__delete"><a href=""></a></div>
                </div>

                <div class="cart__item">
                    <div class="cart__image"><a href="catalog-detail.html"><img src="images/upload/product_1.jpeg" alt="" height="60" /></a></div>
                    <div class="cart__name"><a href="catalog-detail.html">Стенд для кейк-попсов на 19 шт.</a></div>
                    <div class="cart__price"><div class="old-price">250 руб.</div>210 руб.</div>
                    <div class="cart__qty">
                        <div class="qty">
                            <input type="text" value="1" />
                            <div class="qty-control">
                                <div class="qty-incr"></div>
                                <div class="qty-decr"></div>
                            </div>
                        </div>
                    </div>
                    <div class="cart__sum"><div class="old-price">250 руб.</div>210 руб.</div>
                    <div class="cart__delete"><a href=""></a></div>
                </div>

                <div class="cart__item">
                    <div class="cart__image"><a href="catalog-detail.html"><img src="images/upload/product_1.jpeg" alt="" height="60" /></a></div>
                    <div class="cart__name"><a href="catalog-detail.html">Стенд для кейк-попсов на 19 шт.</a></div>
                    <div class="cart__price">210 руб.</div>
                    <div class="cart__qty">
                        <div class="qty">
                            <input type="text" value="1" />
                            <div class="qty-control">
                                <div class="qty-incr"></div>
                                <div class="qty-decr"></div>
                            </div>
                        </div>
                    </div>
                    <div class="cart__sum">210 руб.</div>
                    <div class="cart__delete"><a href=""></a></div>
                </div>
            </div>

            <div class="cart__total">
                <div class="cart__total__text">Итого: 980 товаров на сумму 999 000 руб.</div>
                <a href class="bbtn cart__total__to-order">Оформить заказ</a>
            </div>
        </div>

    </div>
</div>

<div class="lents">
    <div class="container">
        <div class="lents__title">С этими товарами часто покупают</div>

        <div class="lent lent-catalog">
            <div class="swiper-container slider" data-pagination="#slider_catalog_nav">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite in-favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-nav" id="slider_catalog_nav">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="lents__title">Вы смотрели</div>

        <div class="lent lent-catalog">
            <div class="swiper-container slider" data-pagination="#slider_catalog_nav_2">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite in-favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-nav" id="slider_catalog_nav_2">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
        </div>

    </div>
</div>

@@include('template/_footer.html')
@@include('template/_foot.html')
</body>
</html>