@@include('template/_head.html', { "title": "Товар" })
<body>
@@include('template/_old_ie_update.html')
@@include('template/_header.html')

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__items icon_bag">
            <a href="index.html">Главная</a>
            <a href="catalog.html">Каталог</a>
            <a href="index.html">Украшение тортов, мастика, кондитерский инструмент</a>
            <a href="index.html">Кондитерские инструменты</a>
            <span>Весы с мерной металлической чашей 1 г / 5 кг</span>
        </div>
    </div>
</div>

<div class="container">
    <div class="layout">
        <div class="layout-main">

            <div class="product-content" data-id="1">
                <div class="product-left">
                    <div class="preview js-preview">
                        <div class="preview__large">
                            <img src="images/upload/product_7.jpg" alt="" class="js-previewLarge" />
                            <div class="product__hit"></div>
                            <div class="zoom"></div>
                        </div>
                        <div class="preview__slider js-previewSlider">
                            <div class="swiper-container slider" data-pagination="#preview_slider_nav">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="preview__item js-previewSliderItem">
                                            <img src="images/upload/product_7.jpg" data-large="images/upload/product_7.jpg" data-src="images/upload/product_7.jpg" alt=""/>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="preview__item js-previewSliderItem">
                                            <img src="images/upload/product_1.jpeg" data-large="images/upload/product_1.jpeg" data-src="images/upload/product_1.jpeg" alt=""/>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="preview__item js-previewSliderItem">
                                            <img src="images/upload/product_2.jpeg" data-large="images/upload/product_2.jpeg" data-src="images/upload/product_2.jpeg" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-nav" id="preview_slider_nav">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-right">
                    <div class="product-line">
                        <div class="product__name">Весы с мерной металлической чашей 1 г / 5 кг</div><!--
                        --><div class="product__sky">Артикул 5942657</div>
                    </div>
                    <div class="product-line">
                        <div class="product__price"><div class="old-price">1 470 руб</div>1 330 руб</div><!--
                        --><div class="product__rating"><div class="rating-stars-lg js-rating" data-rate="3">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div></div>
                    </div>
                    <div class="product-line">
                        <div class="product__buy">
                            <div class="qty">
                                <input type="text" value="1" />
                                <div class="qty-control">
                                    <div class="qty-incr"></div>
                                    <div class="qty-decr"></div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-b add2cart">Купить</button>
                        </div><!--
                        --><div class="product__fq">
                            <a href="" class="product__favorite"></a>
                            <a href="" class="product__question">Задать вопрос</a>
                        </div>
                    </div>
                    <div class="product-line">
                        <a href="" class="pseudo-link">Уведомить меня о снижении цены</a>
                    </div>
                    <div class="tabs">
                        <div class="tabs-tabs">
                            <div class="tabs-tab">Описание</div>
                            <div class="tabs-tab">Отзывы</div>
                        </div>
                        <div class="tabs-panes">
                            <div class="tabs-pane">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor vulputate enim, vel fringilla nibh finibus quis. Sed eleifend sapien nibh, in mattis est congue ac. Praesent blandit dignissim ex, quis interdum magna facilisis nec.</p>
                                <p>Ut vitae odio velit. Fusce rutrum odio aliquam augue sagittis, nec eleifend sapien vulputate. In arcu tortor, convallis non lectus quis, lacinia varius mauris. Duis posuere orci vitae luctus congue. Etiam nec fermentum diam. Fusce pharetra et tortor sit amet cursus. Aliquam erat volutpat. Proin eu nibh sit amet tortor lobortis aliquam sed eget risus. Sed maximus eros in sodales iaculis. Aenean fringilla metus justo, quis faucibus sapien condimentum imperdiet. Donec a sollicitudin libero, sed viverra elit. Fusce egestas eros eu felis pellentesque, accumsan viverra nibh placerat. Donec sagittis in enim eu pretium.</p>
                            </div>
                            <div class="tabs-pane">
                                <div class="reviews__list">
                                    <div class="reviews__items">
                                        <div class="reviews__item">
                                            <div class="reviews__meta">
                                                <span class="reviews__name">Аксенов Евгений</span><span class="reviews__date">3 Июня 2016</span>
                                            </div>
                                            <div class="reviews__text">Субъективно погрешность не 1 грамм (это "цена" деления), а грамма 2-3. Т.е. показания весов на один и тот же юнит гуляют в этих пределах (может показать 80-81 грамм, а через пару минут 81-82).</div>
                                        </div>
                                        <div class="reviews__item">
                                            <div class="reviews__meta">
                                                <span class="reviews__name">Аксенов Евгений</span><span class="reviews__date">3 Июня 2016</span>
                                            </div>
                                            <div class="reviews__text">Субъективно погрешность не 1 грамм (это "цена" деления), а грамма 2-3. Т.е. показания весов на один и тот же юнит гуляют в этих пределах (может показать 80-81 грамм, а через пару минут 81-82). Кому и критично, а я не ювелир. Четыре ножки были не в одной плоскости. Регулировки нет. Исправил четырьмя маленькими кусочками скотча на "недоросшую" ногу.</div>
                                        </div>
                                        <div class="reviews__item">
                                            <div class="reviews__meta">
                                                <span class="reviews__name">Аксенов Евгений</span><span class="reviews__date">3 Июня 2016</span>
                                            </div>
                                            <div class="reviews__text">Субъективно погрешность не 1 грамм (это "цена" деления), а грамма 2-3. Т.е. показания весов на один и тот же юнит гуляют в этих пределах (может показать 80-81 грамм, а через пару минут 81-82).</div>
                                        </div>
                                    </div>
                                    <div class="reviews-form">
                                        <div class="h2">Написать отзыв</div>
                                        <form method="post">
                                            <div class="form-row"><input type="text" name="name" placeholder="ФИО" /></div>
                                            <div class="form-row"><textarea name="text" rows="5" placeholder="Отзыв"></textarea></div>
                                            <div class="form-actions">
                                                <button type="submit" name="" class="btn">Отправить отзыв</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="h1 center">С этим товаром часто покупают</div>
            <div class="catalog__items">
                <div class="swiper-container slider">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__new"></div>
                                    <a href="" class="catalog-item__favorite"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__hit"></div>
                                    <a href="" class="catalog-item__favorite in-favorite"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <a href="" class="catalog-item__favorite"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__new"></div>
                                    <a href="" class="catalog-item__favorite"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__new"></div>
                                    <a href="" class="catalog-item__favorite"></a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="slider-nav">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="layout-sidebar">
            @@include('template/_sidebar_social.html')
        </div>
    </div>
</div>

<div class="lents">
    <div class="container">
        <div class="lents__title">Интересные рецепты с этим товаром</div>

        <div class="lent">
            <div class="swiper-container slider" data-pagination="#slider_recipes_nav">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/news_1.jpg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="recipes.html">Lorem ipsum dolor sit amet</a></div>
                                <div class="lent__meta">
                                    <div class="lent__date">31.12.2015</div>
                                    <a href="recipes.html" class="tag">Мастер-класс</a>
                                </div>
                                <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                                <div class="lent__more"><a href="recipes.html"><span class="theme-link">Читать далее</span></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/news_2.jpg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="recipes.html">Lorem ipsum dolor sit amet</a></div>
                                <div class="lent__meta">
                                    <div class="lent__date">31.12.2015</div>
                                    <a href="recipes.html" class="tag">Мастер-класс</a>
                                </div>
                                <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                                <div class="lent__more"><a href="recipes.html"><span class="theme-link">Читать далее</span></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/news_3.jpg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="recipes.html">Lorem ipsum dolor sit amet</a></div>
                                <div class="lent__meta">
                                    <div class="lent__date">31.12.2015</div>
                                    <a href="recipes.html" class="tag">Мастер-класс</a>
                                </div>
                                <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                                <div class="lent__more"><a href="recipes.html"><span class="theme-link">Читать далее</span></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item noimage">
                            <div class="lent__descr">
                                <div class="lent__name"><a href="recipes.html">Lorem ipsum dolor sit amet</a></div>
                                <div class="lent__meta">
                                    <div class="lent__date">31.12.2015</div>
                                    <a href="recipes.html" class="tag">Мастер-класс</a>
                                </div>
                                <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                                <div class="lent__more"><a href="recipes.html"><span class="theme-link">Читать далее</span></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/news_1.jpg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="recipes.html">Lorem ipsum dolor sit amet</a></div>
                                <div class="lent__meta">
                                    <div class="lent__date">31.12.2015</div>
                                    <a href="recipes.html" class="tag">Мастер-класс</a>
                                </div>
                                <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                                <div class="lent__more"><a href="recipes.html"><span class="theme-link">Читать далее</span></a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-nav" id="slider_recipes_nav">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
        </div>

    </div>
</div>

@@include('template/_footer.html')
@@include('template/_foot.html')
</body>
</html>