@@include('template/_head.html', { "title": "Каталог" })
<body>
@@include('template/_old_ie_update.html')
@@include('template/_header.html')

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__items icon_bag">
            <a href="index.html">Главная</a>
            <a href="catalog.html">Каталог</a>
            <span>Пищевые красители</span>
        </div>
    </div>
</div>

<div class="container">
    <div class="layout">
        <div class="layout-main">

            <div class="catalog-categories">

                <div class="catalog-categories__item">
                    <div class="catalog-categories__image"><a href="catalog-products.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                    <div class="catalog-categories__name"><a href="catalog-products.html">Пищевые красители (Россия)</a></div>
                </div>

                <div class="catalog-categories__item">
                    <div class="catalog-categories__image"><a href="catalog-products.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                    <div class="catalog-categories__name"><a href="catalog-products.html">Краски Americolor (США)</a></div>
                </div>

                <div class="catalog-categories__item">
                    <div class="catalog-categories__image"><a href="catalog-products.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                    <div class="catalog-categories__name"><a href="catalog-products.html">Красители FoodColour</a></div>
                </div>

                <div class="catalog-categories__item">
                    <div class="catalog-categories__image"><a href="catalog-products.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                    <div class="catalog-categories__name"><a href="catalog-products.html">Натуральные пищевые красители</a></div>
                </div>

                <div class="catalog-categories__item">
                    <div class="catalog-categories__image"><a href="catalog-products.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                    <div class="catalog-categories__name"><a href="catalog-products.html">Сухие красители</a></div>
                </div>

                <div class="catalog-categories__item">
                    <div class="catalog-categories__image"><a href="catalog-products.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                    <div class="catalog-categories__name"><a href="catalog-products.html">Красители для шоколада</a></div>
                </div>

            </div>

        </div>

        <div class="layout-sidebar">
            @@include('template/_sidebar_social.html')
        </div>
    </div>
</div>

<div class="lents">
    <div class="container">
        <div class="lents__title">Популярные товары</div>

        <div class="lent lent-catalog">
            <div class="swiper-container slider" data-pagination="#slider_catalog_nav">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite in-favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-nav" id="slider_catalog_nav">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
        </div>

    </div>
</div>

@@include('template/_footer.html')
@@include('template/_foot.html')
</body>
</html>