@@include('template/_head.html', { "title": "Избранное" })
<body>
@@include('template/_old_ie_update.html')
@@include('template/_header.html')

<div class="page_title">
    <div class="container">
        <h1>Избранное</h1>
    </div>
</div>

<div class="container">
    <div class="layout">
        <div class="layout-main">

            <div class="favorite-list">
                <div class="catalog__meta">
                    <div class="count">
                        <span class="count__label">Показать:</span><a href="">60</a>, <span>120</span>, <a href="">все</a>
                    </div>
                    <div class="sorter">
                        <div class="sorter__label">Сортировка: </div>
                        <div class="dropdown sorter__dropdown">
                            <span class="dropdown__trigger">по возрастанию цены</span>
                            <ul class="dropdown__content">
                                <li><a href="">по названию</a></li>
                                <li><a href="">по артикулу</a></li>
                                <li><a href="">по возрастанию цены</a></li>
                                <li><a href="">по убыванию цены</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="catalog__items">
                    <div class="item">
                        <div class="item-inner">
                            <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                            <div class="catalog-item__price justify-items">
                                <span class="justify-item"></span>
                                <span class="justify-item">470 руб</span>
                                <span class="justify-item"></span>
                            </div>
                            <div class="catalog-item__buy">
                                <div class="qty">
                                    <input type="text" value="1" />
                                    <div class="qty-control">
                                        <div class="qty-incr"></div>
                                        <div class="qty-decr"></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-b add2cart">Купить</button>
                            </div>
                            <div class="catalog-item__new"></div>
                            <a href="" class="catalog-item__favorite-delete"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                            <div class="catalog-item__price justify-items">
                                <span class="justify-item"></span>
                                <span class="justify-item">470 руб</span>
                                <span class="justify-item"></span>
                            </div>
                            <div class="catalog-item__buy">
                                <div class="qty">
                                    <input type="text" value="1" />
                                    <div class="qty-control">
                                        <div class="qty-incr"></div>
                                        <div class="qty-decr"></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-b add2cart">Купить</button>
                            </div>
                            <div class="catalog-item__new"></div>
                            <a href="" class="catalog-item__favorite-delete"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                            <div class="catalog-item__price justify-items">
                                <span class="justify-item"></span>
                                <span class="justify-item">470 руб</span>
                                <span class="justify-item"></span>
                            </div>
                            <div class="catalog-item__buy">
                                <div class="qty">
                                    <input type="text" value="1" />
                                    <div class="qty-control">
                                        <div class="qty-incr"></div>
                                        <div class="qty-decr"></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-b add2cart">Купить</button>
                            </div>
                            <div class="catalog-item__new"></div>
                            <a href="" class="catalog-item__favorite-delete"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                            <div class="catalog-item__price justify-items">
                                <span class="justify-item"></span>
                                <span class="justify-item">470 руб</span>
                                <span class="justify-item"></span>
                            </div>
                            <div class="catalog-item__buy">
                                <div class="qty">
                                    <input type="text" value="1" />
                                    <div class="qty-control">
                                        <div class="qty-incr"></div>
                                        <div class="qty-decr"></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-b add2cart">Купить</button>
                            </div>
                            <div class="catalog-item__new"></div>
                            <a href="" class="catalog-item__favorite-delete"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                            <div class="catalog-item__price justify-items">
                                <span class="justify-item"></span>
                                <span class="justify-item">470 руб</span>
                                <span class="justify-item"></span>
                            </div>
                            <div class="catalog-item__buy">
                                <div class="qty">
                                    <input type="text" value="1" />
                                    <div class="qty-control">
                                        <div class="qty-incr"></div>
                                        <div class="qty-decr"></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-b add2cart">Купить</button>
                            </div>
                            <div class="catalog-item__new"></div>
                            <a href="" class="catalog-item__favorite-delete"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                            <div class="catalog-item__price justify-items">
                                <span class="justify-item"></span>
                                <span class="justify-item">470 руб</span>
                                <span class="justify-item"></span>
                            </div>
                            <div class="catalog-item__buy">
                                <div class="qty">
                                    <input type="text" value="1" />
                                    <div class="qty-control">
                                        <div class="qty-incr"></div>
                                        <div class="qty-decr"></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-b add2cart">Купить</button>
                            </div>
                            <div class="catalog-item__new"></div>
                            <a href="" class="catalog-item__favorite-delete"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                            <div class="catalog-item__price justify-items">
                                <span class="justify-item"></span>
                                <span class="justify-item">470 руб</span>
                                <span class="justify-item"></span>
                            </div>
                            <div class="catalog-item__buy">
                                <div class="qty">
                                    <input type="text" value="1" />
                                    <div class="qty-control">
                                        <div class="qty-incr"></div>
                                        <div class="qty-decr"></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-b add2cart">Купить</button>
                            </div>
                            <div class="catalog-item__new"></div>
                            <a href="" class="catalog-item__favorite-delete"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                            <div class="catalog-item__price justify-items">
                                <span class="justify-item"></span>
                                <span class="justify-item">470 руб</span>
                                <span class="justify-item"></span>
                            </div>
                            <div class="catalog-item__buy">
                                <div class="qty">
                                    <input type="text" value="1" />
                                    <div class="qty-control">
                                        <div class="qty-incr"></div>
                                        <div class="qty-decr"></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-b add2cart">Купить</button>
                            </div>
                            <div class="catalog-item__new"></div>
                            <a href="" class="catalog-item__favorite-delete"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                            <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                            <div class="catalog-item__price justify-items">
                                <span class="justify-item"></span>
                                <span class="justify-item">470 руб</span>
                                <span class="justify-item"></span>
                            </div>
                            <div class="catalog-item__buy">
                                <div class="qty">
                                    <input type="text" value="1" />
                                    <div class="qty-control">
                                        <div class="qty-incr"></div>
                                        <div class="qty-decr"></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-b add2cart">Купить</button>
                            </div>
                            <div class="catalog-item__new"></div>
                            <a href="" class="catalog-item__favorite-delete"></a>
                        </div>
                    </div>
                </div>

                <div class="pagination">
                    <a href="" class="prev"></a>
                    <a href="">1</a>
                    <a href="">2</a>
                    <span href="">3</span>
                    <a href="">4</a>
                    <a href="">5</a>
                    <a href="">6</a>
                    <a href="">7</a>
                    <a href="" class="next"></a>
                </div>
            </div>

        </div>

        <div class="layout-sidebar">
            @@include('template/_sidebar_social.html')
        </div>
    </div>
</div>

<div class="lents">
    <div class="container">
        <div class="lents__title">Популярные товары</div>

        <div class="lent lent-catalog">
            <div class="swiper-container slider" data-pagination="#slider_catalog_nav">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite in-favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/product_2.jpeg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="catalog-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <a href="catalog.html" class="tag">Раздел каталога</a>
                                <div class="lent__price">210 руб.<a href="" class="lent__favorite"></a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-nav" id="slider_catalog_nav">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
        </div>

    </div>
</div>

@@include('template/_footer.html')
@@include('template/_foot.html')
</body>
</html>