@@include('template/_head.html', { "title": "Крафтология" })
<body id="homepage">
@@include('template/_old_ie_update.html')
@@include('template/_header.html')

<div class="swiper-container main-banner" data-autoplay="true">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(images/upload/main-banner_1.jpg)">
            <div class="container">
                <div class="main-banner__content">
                    <div class="main-banner__title">Заголовок 1-го слайда</div>
                    <div class="main-banner__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non lacus eget turpis eleifend maximus. In hac habitasse platea dictumst. Pellentesque dui leo, varius eu porta eu, vestibulum vitae sapien. Fusce fermentum augue lacinia, laoreet est non, porta est. Etiam in eros dapibus, elementum augue ut, tincidunt dolor.</div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(images/upload/main-banner_2.jpeg)">
            <div class="container">
                <div class="main-banner__content">
                    <div class="main-banner__title">Заголовок 2-го слайда</div>
                    <div class="main-banner__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non lacus eget turpis eleifend maximus. In hac habitasse platea dictumst. Pellentesque dui leo, varius eu porta eu, vestibulum vitae sapien. Fusce fermentum augue lacinia, laoreet est non, porta est. Etiam in eros dapibus, elementum augue ut, tincidunt dolor.</div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(images/upload/main-banner_3.jpg)">
            <div class="container">
                <div class="main-banner__content">
                    <div class="main-banner__title">Заголовок 3-го слайда</div>
                    <div class="main-banner__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non lacus eget turpis eleifend maximus. In hac habitasse platea dictumst. Pellentesque dui leo, varius eu porta eu, vestibulum vitae sapien. Fusce fermentum augue lacinia, laoreet est non, porta est. Etiam in eros dapibus, elementum augue ut, tincidunt dolor.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-actions">
        <div class="container">
            <span class="js-btnSliderPlay slider-action_play"></span>
        </div>
    </div>
    <div class="slider-nav">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<div class="container">
    <div class="layout">
        <div class="layout-main">
            <div class="h1 center">Новинки магазина</div>
            <div class="catalog__items">
                <div class="swiper-container slider">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href="catalog-detail.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="catalog-detail.html">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item old-price">540 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__rating">
                                        <div class=" rating-stars" data-rate="4">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="catalog-item__new"></div>
                                    <a href="" class="catalog-item__favorite"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href="catalog-detail.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="catalog-detail.html">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__rating">
                                        <div class=" rating-stars" data-rate="4">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="catalog-item__hit"></div>
                                    <a href="" class="catalog-item__favorite in-favorite"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href="catalog-detail.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="catalog-detail.html">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__rating">
                                        <div class=" rating-stars" data-rate="4">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                    <a href="" class="catalog-item__favorite"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href="catalog-detail.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="catalog-detail.html">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__rating">
                                        <div class=" rating-stars" data-rate="4">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="catalog-item__new"></div>
                                    <a href="" class="catalog-item__favorite"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href="catalog-detail.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="catalog-detail.html">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__rating">
                                        <div class=" rating-stars" data-rate="4">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="catalog-item__new"></div>
                                    <a href="" class="catalog-item__favorite"></a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="slider-nav">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>

            <div class="h1 center">Хиты продаж</div>
            <div class="catalog__items">
                <div class="swiper-container slider" data-slider-rows="2">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href="catalog-detail.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="catalog-detail.html">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__rating">
                                        <div class=" rating-stars" data-rate="4">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="catalog-item__new"></div>
                                    <a href="" class="catalog-item__favorite"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href="catalog-detail.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="catalog-detail.html">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__rating">
                                        <div class=" rating-stars" data-rate="4">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="catalog-item__new"></div>
                                    <a href="" class="catalog-item__favorite"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href="catalog-detail.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="catalog-detail.html">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__rating">
                                        <div class=" rating-stars" data-rate="4">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="catalog-item__new"></div>
                                    <a href="" class="catalog-item__favorite"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href="catalog-detail.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="catalog-detail.html">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__rating">
                                        <div class=" rating-stars" data-rate="4">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="catalog-item__new"></div>
                                    <a href="" class="catalog-item__favorite"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href="catalog-detail.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="catalog-detail.html">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__rating">
                                        <div class=" rating-stars" data-rate="4">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="catalog-item__new"></div>
                                    <a href="" class="catalog-item__favorite"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href="catalog-detail.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="catalog-detail.html">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__rating">
                                        <div class=" rating-stars" data-rate="4">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="catalog-item__new"></div>
                                    <a href="" class="catalog-item__favorite"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="catalog-item__image"><a href="catalog-detail.html"><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                    <div class="catalog-item__name"><a href="catalog-detail.html">Стенд для кейк-попсов на 19 шт.</a></div>
                                    <div class="catalog-item__price justify-items">
                                        <span class="justify-item"></span>
                                        <span class="justify-item">470 руб</span>
                                        <span class="justify-item"></span>
                                    </div>
                                    <div class="catalog-item__buy">
                                        <div class="qty">
                                            <input type="text" value="1" />
                                            <div class="qty-control">
                                                <div class="qty-incr"></div>
                                                <div class="qty-decr"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-b add2cart">Купить</button>
                                    </div>
                                    <div class="catalog-item__rating">
                                        <div class=" rating-stars" data-rate="4">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="catalog-item__new"></div>
                                    <a href="" class="catalog-item__favorite"></a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="slider-nav">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="layout-sidebar">
            @@include('template/_sidebar_social.html')
        </div>
    </div>
</div>

<div class="lents">
    <div class="container">
        <div class="lents__title">Новости магазина</div>
        <div class="lent">
            <div class="item">
                <div class="lent__image"><img src="images/upload/news_1.jpg" alt="" /></div>
                <div class="lent__descr">
                    <div class="lent__name"><a href="news-detail.html">Lorem ipsum dolor sit amet</a></div>
                    <div class="lent__meta">
                        <div class="lent__date">31.12.2015</div>
                        <a href="news.html" class="tag">Мастер-класс</a>
                    </div>
                    <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                    <div class="lent__more"><a href="news-detail.html"><span class="theme-link">Читать далее</span></a></div>
                </div>
            </div>
            <div class="item">
                <div class="lent__image"><img src="images/upload/news_1.jpg" alt="" /></div>
                <div class="lent__descr">
                    <div class="lent__name"><a href="news-detail.html">Lorem ipsum dolor sit amet</a></div>
                    <div class="lent__meta">
                        <div class="lent__date">31.12.2015</div>
                        <a href="news.html" class="tag">Мастер-класс</a>
                    </div>
                    <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                    <div class="lent__more"><a href="news-detail.html"><span class="theme-link">Читать далее</span></a></div>
                </div>
            </div>
            <div class="item">
                <div class="lent__image"><img src="images/upload/news_1.jpg" alt="" /></div>
                <div class="lent__descr">
                    <div class="lent__name"><a href="news-detail.html">Lorem ipsum dolor sit amet</a></div>
                    <div class="lent__meta">
                        <div class="lent__date">31.12.2015</div>
                        <a href="news.html" class="tag">Мастер-класс</a>
                    </div>
                    <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                    <div class="lent__more"><a href="news-detail.html"><span class="theme-link">Читать далее</span></a></div>
                </div>
            </div>
        </div>

        <div class="lents__title">Рецепты магазина</div>
        <div class="lent">
            <div class="item">
                <div class="lent__image"><img src="images/upload/news_1.jpg" alt="" /></div>
                <div class="lent__descr">
                    <div class="lent__name"><a href="recipes-detail.html">Lorem ipsum dolor sit amet</a></div>
                    <div class="lent__meta">
                        <div class="lent__date">31.12.2015</div>
                        <a href="recipes.html" class="tag">Мастер-класс</a>
                    </div>
                    <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                    <div class="lent__more"><a href="recipes-detail.html"><span class="theme-link">Читать далее</span></a></div>
                </div>
            </div>
            <div class="item">
                <div class="lent__image"><img src="images/upload/news_1.jpg" alt="" /></div>
                <div class="lent__descr">
                    <div class="lent__name"><a href="recipes-detail.html">Lorem ipsum dolor sit amet</a></div>
                    <div class="lent__meta">
                        <div class="lent__date">31.12.2015</div>
                        <a href="recipes.html" class="tag">Мастер-класс</a>
                    </div>
                    <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                    <div class="lent__more"><a href="recipes-detail.html"><span class="theme-link">Читать далее</span></a></div>
                </div>
            </div>
            <div class="item">
                <div class="lent__image"><img src="images/upload/news_1.jpg" alt="" /></div>
                <div class="lent__descr">
                    <div class="lent__name"><a href="recipes-detail.html">Lorem ipsum dolor sit amet</a></div>
                    <div class="lent__meta">
                        <div class="lent__date">31.12.2015</div>
                        <a href="recipes.html" class="tag">Мастер-класс</a>
                    </div>
                    <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                    <div class="lent__more"><a href="recipes-detail.html"><span class="theme-link">Читать далее</span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('template/_footer.html')
@@include('template/_foot.html')
</body>
</html>