@@include('template/_head.html', { "title": "Интересная новость" })
<body>
@@include('template/_old_ie_update.html')
@@include('template/_header.html')

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__items icon_open_book">
            <a href="index.html">Главная</a>
            <a href="news.html">Новости</a>
            <span>Lorem ipsum dolor sit amet</span>
        </div>
    </div>
</div>

<div class="container">
    <div class="layout">
        <div class="layout-main">
            <div class="news-detail">
                <img src="images/upload/news_1.jpg" alt="" class="news-detail__image" />
                <h1>Интересная новость</h1>
                <div class="news-detail__meta">
                    <a href="news.html" class="tag">Мастер-класс</a>
                    <div class="news-detail__date">Дата 31.12.2015</div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor vulputate enim, vel fringilla nibh finibus quis. Sed eleifend sapien nibh, in mattis est congue ac. Praesent blandit dignissim ex, quis interdum magna facilisis nec.</p>
                <p>Ut vitae odio velit. Fusce rutrum odio aliquam augue sagittis, nec eleifend sapien vulputate. In arcu tortor, convallis non lectus quis, lacinia varius mauris. Duis posuere orci vitae luctus congue. Etiam nec fermentum diam. Fusce pharetra et tortor sit amet cursus. Aliquam erat volutpat. Proin eu nibh sit amet tortor lobortis aliquam sed eget risus. Sed maximus eros in sodales iaculis. Aenean fringilla metus justo, quis faucibus sapien condimentum imperdiet. Donec a sollicitudin libero, sed viverra elit. Fusce egestas eros eu felis pellentesque, accumsan viverra nibh placerat. Donec sagittis in enim eu pretium.</p>
                <p>Etiam ac ipsum enim. Donec tempor eros id auctor suscipit. Morbi ac est ultricies mauris feugiat volutpat non ac dui. Morbi convallis diam ut lectus vehicula semper. Mauris suscipit mi metus, at tincidunt purus maximus nec. In non lobortis ipsum. Nam vitae mi id lectus placerat ullamcorper non maximus quam. Praesent ornare feugiat posuere. Cras id mi at leo ultricies tempor.</p>
                <p>Nullam id tellus et magna volutpat condimentum in varius purus. Sed quis risus ut ligula pulvinar interdum vel id risus. Phasellus erat odio, molestie sed pellentesque sit amet, vehicula ut est. Aliquam tempor metus ut libero bibendum interdum. Cras id nibh ac nisi lobortis semper. Duis convallis sed urna eu porta. In non commodo diam.</p>
                <p>Fusce feugiat rhoncus consequat. Nulla elementum molestie nulla a pulvinar. Cras tempus mauris vel euismod egestas. Etiam consequat volutpat mi, sit amet consectetur lacus. Pellentesque venenatis, turpis nec accumsan egestas, diam ex venenatis est, et lacinia velit erat ac erat. Phasellus non nisl orci. Sed varius consequat elit, quis condimentum lectus viverra id. Pellentesque feugiat fermentum odio id euismod. Duis aliquam ligula nec ultrices posuere. Ut tortor ipsum, mattis consequat elementum in, sodales et massa. Pellentesque elementum massa non consequat commodo.</p>

                <!--<div class="catalog__items catalog__small-items">
                    <div class="swiper-container slider" data-slider-cols="4">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                        <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                                        <a href="" class="catalog-item__favorite"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                        <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                                        <a href="" class="catalog-item__favorite in-favorite"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                        <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                                        <a href="" class="catalog-item__favorite"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                        <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                                        <a href="" class="catalog-item__favorite"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                        <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                                        <a href="" class="catalog-item__favorite"></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="slider-nav">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                -->
                <div class="catalog__items">
                    <div class="swiper-container slider">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                        <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                                        <div class="catalog-item__price justify-items">
                                            <span class="justify-item"></span>
                                            <span class="justify-item">470 руб</span>
                                            <span class="justify-item"></span>
                                        </div>
                                        <div class="catalog-item__buy">
                                            <div class="qty">
                                                <input type="text" value="1" />
                                                <div class="qty-control">
                                                    <div class="qty-incr"></div>
                                                    <div class="qty-decr"></div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-b add2cart">Купить</button>
                                        </div>
                                        <div class="catalog-item__new"></div>
                                        <a href="" class="catalog-item__favorite"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                        <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                                        <div class="catalog-item__price justify-items">
                                            <span class="justify-item"></span>
                                            <span class="justify-item">470 руб</span>
                                            <span class="justify-item"></span>
                                        </div>
                                        <div class="catalog-item__buy">
                                            <div class="qty">
                                                <input type="text" value="1" />
                                                <div class="qty-control">
                                                    <div class="qty-incr"></div>
                                                    <div class="qty-decr"></div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-b add2cart">Купить</button>
                                        </div>
                                        <div class="catalog-item__hit"></div>
                                        <a href="" class="catalog-item__favorite in-favorite"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                        <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                                        <div class="catalog-item__price justify-items">
                                            <span class="justify-item"></span>
                                            <span class="justify-item">470 руб</span>
                                            <span class="justify-item"></span>
                                        </div>
                                        <div class="catalog-item__buy">
                                            <div class="qty">
                                                <input type="text" value="1" />
                                                <div class="qty-control">
                                                    <div class="qty-incr"></div>
                                                    <div class="qty-decr"></div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-b add2cart">Купить</button>
                                        </div>
                                        <a href="" class="catalog-item__favorite"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                        <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                                        <div class="catalog-item__price justify-items">
                                            <span class="justify-item"></span>
                                            <span class="justify-item">470 руб</span>
                                            <span class="justify-item"></span>
                                        </div>
                                        <div class="catalog-item__buy">
                                            <div class="qty">
                                                <input type="text" value="1" />
                                                <div class="qty-control">
                                                    <div class="qty-incr"></div>
                                                    <div class="qty-decr"></div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-b add2cart">Купить</button>
                                        </div>
                                        <div class="catalog-item__new"></div>
                                        <a href="" class="catalog-item__favorite"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="catalog-item__image"><a href=""><img src="images/upload/product_1.jpeg" alt="" /></a></div>
                                        <div class="catalog-item__name"><a href="">Стенд для кейк-попсов на 19 шт.</a></div>
                                        <div class="catalog-item__price justify-items">
                                            <span class="justify-item"></span>
                                            <span class="justify-item">470 руб</span>
                                            <span class="justify-item"></span>
                                        </div>
                                        <div class="catalog-item__buy">
                                            <div class="qty">
                                                <input type="text" value="1" />
                                                <div class="qty-control">
                                                    <div class="qty-incr"></div>
                                                    <div class="qty-decr"></div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-b add2cart">Купить</button>
                                        </div>
                                        <div class="catalog-item__new"></div>
                                        <a href="" class="catalog-item__favorite"></a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="slider-nav">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>

                <p>Fusce posuere dolor enim. Curabitur est ante, viverra laoreet sem eget, consequat rhoncus erat. Nam scelerisque condimentum sem, vitae sollicitudin orci imperdiet non. In sodales ex pellentesque sapien commodo sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus imperdiet lorem rhoncus justo tincidunt, et sagittis nisl sodales. Etiam vel ligula vel dolor tristique iaculis. Cras et quam a est viverra tempor. Nam sagittis massa a est aliquam porta.</p>
                <p>Phasellus tristique accumsan mauris, in ultricies elit dignissim vel. Sed vehicula mauris sed quam finibus, id molestie nisl faucibus. Integer aliquet mi quis mollis commodo. Vivamus vitae ligula eu lectus semper cursus. Donec feugiat magna nisi, vel ornare nibh scelerisque vestibulum. Integer ac posuere eros. Etiam elementum suscipit eleifend. Nulla imperdiet justo sed nisl faucibus gravida ac placerat sem. Vivamus sit amet dui egestas, rutrum arcu ut, rutrum velit. Morbi id nisi rhoncus massa consectetur tempor vitae ut purus. Donec tristique, dui eget congue maximus, magna ligula convallis nulla, a viverra diam dui a metus. Nunc consectetur, mi vitae tempus finibus, magna risus venenatis turpis, vel consequat orci elit in leo. Nam sed felis dolor. Nam nec nisl nisi.</p>
                <div class="news-detail__meta">
                    <a href="" class="share_fb">Поделиться в facebook</a>
                    <span class="author">Ваш любимый магазин "Крафтология"</span>
                </div>
            </div>
        </div>

        <div class="layout-sidebar">
            @@include('template/_sidebar_social.html')
        </div>
    </div>
</div>

<div class="lents">
    <div class="container">
        <div class="lents__title">Новости магазина</div>

        <div class="lent">
            <div class="swiper-container slider" data-pagination="#slider_news_nav">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/news_1.jpg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="news-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <div class="lent__meta">
                                    <div class="lent__date">31.12.2015</div>
                                    <a href="news.html" class="tag">Мастер-класс</a>
                                </div>
                                <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                                <div class="lent__more"><a href="news-detail.html"><span class="theme-link">Читать далее</span></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/news_2.jpg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="news-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <div class="lent__meta">
                                    <div class="lent__date">31.12.2015</div>
                                    <a href="news.html" class="tag">Мастер-класс</a>
                                </div>
                                <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                                <div class="lent__more"><a href="news-detail.html"><span class="theme-link">Читать далее</span></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/news_3.jpg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="news-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <div class="lent__meta">
                                    <div class="lent__date">31.12.2015</div>
                                    <a href="news.html" class="tag">Мастер-класс</a>
                                </div>
                                <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                                <div class="lent__more"><a href="news-detail.html"><span class="theme-link">Читать далее</span></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item noimage">
                            <div class="lent__descr">
                                <div class="lent__name"><a href="news-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <div class="lent__meta">
                                    <div class="lent__date">31.12.2015</div>
                                    <a href="news.html" class="tag">Мастер-класс</a>
                                </div>
                                <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                                <div class="lent__more"><a href="news-detail.html"><span class="theme-link">Читать далее</span></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="lent__image"><img src="images/upload/news_1.jpg" alt="" /></div>
                            <div class="lent__descr">
                                <div class="lent__name"><a href="news-detail.html">Lorem ipsum dolor sit amet</a></div>
                                <div class="lent__meta">
                                    <div class="lent__date">31.12.2015</div>
                                    <a href="news.html" class="tag">Мастер-класс</a>
                                </div>
                                <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                                <div class="lent__more"><a href="news-detail.html"><span class="theme-link">Читать далее</span></a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-nav" id="slider_news_nav">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
        </div>

    </div>
</div>

@@include('template/_footer.html')
@@include('template/_foot.html')
</body>
</html>