@@include('template/_head.html', { "title": "Новости" })
<body>
@@include('template/_old_ie_update.html')
@@include('template/_header.html')

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__items icon_open_book">
            <a href="index.html">Главная</a>
            <span>Новости</span>
        </div>
    </div>
</div>

<div class="container">
    <div class="layout">
        <div class="layout-main">
            <div class="h1 center">Новости магазина</div>
            <div class="news-items">
                <div class="news-item">
                    <div class="news-item__image"><a href="news-detail.html"><img src="images/upload/news_1.jpg" alt="" /></a></div>
                    <div class="news-item__text">
                        <div class="news-item__name"><a href="news-detail.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></div>
                        <div class="news-item__meta">
                            <span class="news-item__date">17.05.2013</span>
                            <a class="tag">Мастер-классы</a>
                        </div>
                        <div class="news-item__preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                        <div class="news-item__more"><a href="news-detail.html"><span class="theme-link">Читать далее</span></a></div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item__image"><a href="news-detail.html"><img src="images/upload/news_1.jpg" alt="" /></a></div>
                    <div class="news-item__text">
                        <div class="news-item__name"><a href="news-detail.html">Lorem ipsum dolor sit amet</a></div>
                        <div class="news-item__meta">
                            <span class="news-item__date">17.05.2013</span>
                            <a class="tag">Мастер-классы</a>
                        </div>
                        <div class="news-item__preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                        <div class="news-item__more"><a href="news-detail.html"><span class="theme-link">Читать далее</span></a></div>
                    </div>
                </div>
                <div class="news-item noimage">
                    <div class="news-item__text">
                        <div class="news-item__name"><a href="news-detail.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></div>
                        <div class="news-item__meta">
                            <span class="news-item__date">17.05.2013</span>
                            <a class="tag">Мастер-классы</a>
                        </div>
                        <div class="news-item__preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                        <div class="news-item__more"><a href="news-detail.html"><span class="theme-link">Читать далее</span></a></div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item__image"><a href="news-detail.html"><img src="images/upload/news_1.jpg" alt="" /></a></div>
                    <div class="news-item__text">
                        <div class="news-item__name"><a href="news-detail.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></div>
                        <div class="news-item__meta">
                            <span class="news-item__date">17.05.2013</span>
                            <a class="tag">Мастер-классы</a>
                        </div>
                        <div class="news-item__preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        <div class="news-item__more"><a href="news-detail.html"><span class="theme-link">Читать далее</span></a></div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item__image"><a href="news-detail.html"><img src="images/upload/news_1.jpg" alt="" /></a></div>
                    <div class="news-item__text">
                        <div class="news-item__name"><a href="news-detail.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></div>
                        <div class="news-item__meta">
                            <span class="news-item__date">17.05.2013</span>
                            <a class="tag">Мастер-классы</a>
                        </div>
                        <div class="news-item__preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                        <div class="news-item__more"><a href="news-detail.html"><span class="theme-link">Читать далее</span></a></div>
                    </div>
                </div>
            </div>

            <div class="pagination">
                <a href="" class="prev"></a>
                <a href="">1</a>
                <a href="">2</a>
                <span href="">3</span>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">6</a>
                <a href="">7</a>
                <a href="" class="next"></a>
            </div>
        </div>

        <div class="layout-sidebar">
            @@include('template/_sidebar_social.html')
        </div>
    </div>
</div>

<div class="lents">
    <div class="container">
        <div class="lents__title">Рецепты магазина</div>

        <div class="lent">
        <div class="swiper-container slider" data-pagination="#slider_news_nav">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="item">
                        <div class="lent__image"><img src="images/upload/news_1.jpg" alt="" /></div>
                        <div class="lent__descr">
                            <div class="lent__name"><a href="recipes-detail.html">Lorem ipsum dolor sit amet</a></div>
                            <div class="lent__meta">
                                <div class="lent__date">31.12.2015</div>
                                <a href="recipes-detail.html" class="tag">Мастер-класс</a>
                            </div>
                            <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                            <div class="lent__more"><a href="recipes-detail.html"><span class="theme-link">Читать далее</span></a></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <div class="lent__image"><img src="images/upload/news_2.jpg" alt="" /></div>
                        <div class="lent__descr">
                            <div class="lent__name"><a href="recipes-detail.html">Lorem ipsum dolor sit amet</a></div>
                            <div class="lent__meta">
                                <div class="lent__date">31.12.2015</div>
                                <a href="recipes-detail.html" class="tag">Мастер-класс</a>
                            </div>
                            <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                            <div class="lent__more"><a href="recipes-detail.html"><span class="theme-link">Читать далее</span></a></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <div class="lent__image"><img src="images/upload/news_3.jpg" alt="" /></div>
                        <div class="lent__descr">
                            <div class="lent__name"><a href="recipes-detail.html">Lorem ipsum dolor sit amet</a></div>
                            <div class="lent__meta">
                                <div class="lent__date">31.12.2015</div>
                                <a href="recipes-detail.html" class="tag">Мастер-класс</a>
                            </div>
                            <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                            <div class="lent__more"><a href="recipes-detail.html"><span class="theme-link">Читать далее</span></a></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item noimage">
                        <div class="lent__descr">
                            <div class="lent__name"><a href="recipes-detail.html">Lorem ipsum dolor sit amet</a></div>
                            <div class="lent__meta">
                                <div class="lent__date">31.12.2015</div>
                                <a href="recipes-detail.html" class="tag">Мастер-класс</a>
                            </div>
                            <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                            <div class="lent__more"><a href="recipes-detail.html"><span class="theme-link">Читать далее</span></a></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <div class="lent__image"><img src="images/upload/news_1.jpg" alt="" /></div>
                        <div class="lent__descr">
                            <div class="lent__name"><a href="recipes-detail.html">Lorem ipsum dolor sit amet</a></div>
                            <div class="lent__meta">
                                <div class="lent__date">31.12.2015</div>
                                <a href="recipes-detail.html" class="tag">Мастер-класс</a>
                            </div>
                            <div class="lent__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</div>
                            <div class="lent__more"><a href="recipes-detail.html"><span class="theme-link">Читать далее</span></a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>

        <div class="slider-nav" id="slider_news_nav">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
        </div>

    </div>
</div>

@@include('template/_footer.html')
@@include('template/_foot.html')
</body>
</html>